force-app/main/default/flows/Add_Onsite_Fee_Waiver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Order_Fulfillment</name>
        <label>Set Order Fulfillment</label>
        <locationX>549</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>sFulfillment.Fulfillment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.CC_Transaction_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.CC_Transaction_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Fulfillment_Item</name>
        <label>Set Order Fulfillment Item</label>
        <locationX>893</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFulfillment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnsiteDeliverFeeWaiver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>InventoryType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FEE</stringValue>
        </value>
    </constants>
    <constants>
        <name>OnsiteDeliverFeeWaiver</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FS-Delivery Waiver</stringValue>
        </value>
    </constants>
    <constants>
        <name>OnsiteFee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>On site course delivery fee</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Onsite_Fee_Missing</name>
        <label>Onsite Fee Missing</label>
        <locationX>48</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Onsite_Fee_Missing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_Up_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ILT_Class</targetReference>
            </connector>
            <label>Fee Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onsite_Fee_Not_found</name>
        <label>Onsite Fee Not found</label>
        <locationX>409</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Look_Up_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Order_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Add Onsite Fee Waiver - Changed to Price to be negative and quantity to be positive</description>
    <formulas>
        <name>qtyprice</name>
        <dataType>Currency</dataType>
        <expression>{!sOrderItem.ccrz__Price__c} * -1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Onsite Fee Waiver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Onsite Fee Waiver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_to_Order_Item</name>
        <label>Add Fee to Order Item</label>
        <locationX>520</locationX>
        <locationY>549</locationY>
        <inputAssignments>
            <field>ILT_Class__c</field>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AvailabilityMessage__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>sOrderItem.ccrz__OriginalItemPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentOrderItem__c</field>
            <value>
                <elementReference>sOrderItem.ccrz__ParentOrderItem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>qtyprice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ProductType__c</field>
            <value>
                <elementReference>InventoryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>qtyprice</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>727</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Set_Order_Fulfillment_Item</targetReference>
        </connector>
        <inputReference>sFulfillment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Fulfillment_Item</name>
        <label>Create Order Fulfillment Item</label>
        <locationX>1046</locationX>
        <locationY>382</locationY>
        <inputReference>sFulfillmentItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get ILT Class</label>
        <locationX>171</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
        <filters>
            <field>Skedulo_Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>362</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Order_Item</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Product</name>
        <label>Look Up Product</label>
        <locationX>172</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onsite_Fee_Missing</targetReference>
        </connector>
        <filters>
            <field>ccrz__SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnsiteDeliverFeeWaiver</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order_Item</name>
        <label>Lookup Order Item</label>
        <locationX>416</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onsite_Fee_Not_found</targetReference>
        </connector>
        <filters>
            <field>ccrz__ParentOrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnsiteFee</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <sortField>ccrz__Product_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Training_Event</name>
        <label>Lookup Training Event</label>
        <locationX>302</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Order_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>579</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;FEE CAN NOT BE WAIVED&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There is no Onsite Fee for this order line. Fee can not be waived&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onsite_Fee_Missing_Screen</name>
        <label>Onsite Fee Missing</label>
        <locationX>59</locationX>
        <locationY>548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProductError</name>
            <fieldText>&lt;p&gt;SKU: &lt;b&gt;{!OnsiteFee}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;has not been added to the CC Product table&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the system administrator to add.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onsite_Fee_Screen</name>
        <label>Onsite Fee Screen</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Training_Event</targetReference>
        </connector>
        <fields>
            <name>RescheduleFeeHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Onsite Fee Waiver&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This process will waive the onsite fee to the order in accordance with the Order and Order Line policies.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Onsite_Fee_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>colProductPrice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NegativeOne</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>sFulfillment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
</Flow>
