force-app/main/default/flows/Add_Supp_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>No_Fulfillment_Item</name>
        <label>No Fulfillment Item</label>
        <locationX>439</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>vNoFulfillmentItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supplemental_Information_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Supplemental_Information</name>
        <label>Update Supplemental Information</label>
        <locationX>568</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSuppInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSuppInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Ourder</name>
        <label>Order Item Status</label>
        <locationX>295</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Supplemental_Information_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFulfillmentItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Fulfillment_Item</targetReference>
            </connector>
            <label>Notfound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Item_Available</name>
        <label>Fulfillment Item Available</label>
        <locationX>845</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Update_Fulfillment_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNoFulfillmentItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>isNotAvailable</label>
        </rules>
    </decisions>
    <interviewLabel>Add Supp Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Supp Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Item</name>
        <label>Get Fulfillment Item</label>
        <locationX>299</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Ourder</targetReference>
        </connector>
        <filters>
            <field>Order_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItem</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </filters>
        <object>Fulfillment_Item__c</object>
        <outputReference>sFulfillmentItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Order Item</description>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fulfillment_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItem</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fulfillment_Item</name>
        <label>Update Fulfillment Item</label>
        <locationX>994</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <inputReference>sFulfillmentItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Item</name>
        <label>Update Order Item</label>
        <locationX>714</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Fulfillment_Item_Available</targetReference>
        </connector>
        <inputReference>sOrderItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1120</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Supplemental Information has been updated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supplemental_Information_Entry</name>
        <label>Supplemental Information Entry</label>
        <locationX>429</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Supplemental_Information</targetReference>
        </connector>
        <fields>
            <name>SupMessage</name>
            <fieldText>&lt;p&gt;Please provide the supplemental information you would like to add to the Order Item prior to invoicing. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vSuppInfo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sOrderItem.Supplemental_Information__c</elementReference>
            </defaultValue>
            <fieldText>Supplemental Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be 50 char no special characters&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!vSuppInfo} , &quot;^[0-9a-zA-Z-\\s\\.]{0,50}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Order_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>vNoFulfillmentItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
