force-app/main/default/flows/Add_PO_to_Order_from_Training_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>sStoredPayments</name>
        <dataType>String</dataType>
        <displayField>ccrz__DisplayName__c</displayField>
        <filters>
            <field>Remaining_PO_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>sTrainingEvent.Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <outputAssignments>
            <assignToReference>sTransactionPayment.ccrz__StoredPayment__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add PO to Order from Training Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add PO to Order from Training Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_Order_Transaction_Payment_Record</name>
        <label>Get Existing Order Transaction Payment Record</label>
        <locationX>421</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_PO_to_Training_Event</targetReference>
        </connector>
        <filters>
            <field>ccrz__AccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__StoredPayment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event</name>
        <label>Get Training Event</label>
        <locationX>211</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Order_Transaction_Payment_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Transaction_Payment</name>
        <label>Update Order Transaction Payment</label>
        <locationX>812</locationX>
        <locationY>55</locationY>
        <inputReference>sTransactionPayment</inputReference>
    </recordUpdates>
    <screens>
        <description>Get list of available PO for Account</description>
        <name>Add_PO_to_Training_Event</name>
        <label>Add PO to Training Event</label>
        <locationX>626</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Order_Transaction_Payment</targetReference>
        </connector>
        <fields>
            <name>dspCurrentPO</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current PO: &lt;/b&gt;{!sTransactionPayment.ccrz__StoredPayment__r.ccrz__DisplayName__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectPO</name>
            <choiceReferences>sStoredPayments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>List of Available POs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Training_Event</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
</Flow>
