force-app/main/default/flows/Add_Cancelation_Fee_to_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Cancelation_Fee_to_Fulfillment_Output</name>
        <label>Add Cancelation Fee to Fulfillment Output</label>
        <locationX>865</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>outFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFI2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Major_Item_to_Output_Colletion</name>
        <label>Add Major Item to Output Colletion</label>
        <locationX>687</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>outFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFullfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Minor_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Fulfillment_Output</name>
        <label>Add to Fulfillment  Output</label>
        <locationX>1189</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>outFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFullfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Minor_Item_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Order_Item</name>
        <label>Cancel Order Item</label>
        <locationX>1351</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>sMinOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Minor_Item_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Fulfillment_Items</name>
        <label>Prepare Fulfillment Items</label>
        <locationX>1041</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFulfillment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMinOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMinOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMinOrderItem.ccrz__ExtSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMinOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMinOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Fulfillment_Item_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sMinOrderItem.ccrz__ItemTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Fulfillment_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Major_Item_to_Order</name>
        <label>Set Major Item to Order</label>
        <locationX>686</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFulfillment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ExtSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Fulfillment_Item_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ItemTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Major_Item_to_Output_Colletion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Minor_Item_Output</name>
        <label>Set Minor Item Output</label>
        <locationX>951</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>outMinOrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sMinOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minor_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Fulfillment</name>
        <label>Set Order Fulfillment</label>
        <locationX>530</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>sFulfillment.Fulfillment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.CC_Transaction_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.CC_Transaction_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Fulfillment_Item</name>
        <label>Set Order Fulfillment Item</label>
        <locationX>714</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>sFI2.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFulfillment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewOrderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellationFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFI2.Fulfillment_Item_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cancelation_Fee_to_Fulfillment_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Ship</name>
        <label>Set to Ship</label>
        <locationX>898</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>sMinOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Fulfillment_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CancellationFee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation Fee</stringValue>
        </value>
    </constants>
    <constants>
        <name>cFixedPrice</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>120.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cInventoryType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FEE</stringValue>
        </value>
    </constants>
    <constants>
        <name>FiftyPercent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>OneHundred</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>TenPercent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>TwentyFive</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.25</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Cancellation_Fee_Check</name>
        <label>Cancellation Fee Check</label>
        <locationX>332</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Cancel_Fee_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Cancelation_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cancelation_Fee_Product_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ILT_Class</targetReference>
            </connector>
            <label>Found Cancelation Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cancellation_Fee_Needed</name>
        <label>Is Cancellation Fee Needed</label>
        <locationX>479</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Less_than_12_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessDays</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Order_Item</targetReference>
            </connector>
            <label>Less than 12 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Minor_Item_Status</name>
        <label>Set Minor Item Status</label>
        <locationX>1048</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Set_to_Ship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPerStudent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sMinOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Order_Item</targetReference>
            </connector>
            <label>isPerStudent</label>
        </rules>
        <rules>
            <name>isClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sMinOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Class</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Order_Item</targetReference>
            </connector>
            <label>isClass</label>
        </rules>
        <rules>
            <name>Waiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sMinOrderItem.ccrz__Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Order_Item</targetReference>
            </connector>
            <label>Waiver</label>
        </rules>
    </decisions>
    <description>From the Training Event add a cancelation fee to the order when job is canceled - Include cancellation of Class and processing of any additional minor items</description>
    <formulas>
        <name>AdjustedCancelFee</name>
        <dataType>Currency</dataType>
        <expression>IF({!vFixed}=&quot;Y&quot;,{!cFixedPrice},
(IF({!$Flow.CurrentDate}&gt;={!sTrainingEvent.Start_Date__c},{!sOrderItem.ccrz__SubAmount__c},{!CancelFeeAdjustment} * {!sOrderItem.ccrz__SubAmount__c})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Number of Business Days from  Start of Clsass</description>
        <name>BusinessDays</name>
        <dataType>Number</dataType>
        <expression>CASE(MOD( {!$Flow.CurrentDate} - DATE(1985,6,24),7), 

  0 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,3,3,4,4,5,5,5,6,5,1), 
  1 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,3,3,4,4,4,5,4,6,5,1), 
  2 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,3,3,3,4,3,5,4,6,5,1), 
  3 , CASE( MOD({!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,2,3,2,4,3,5,4,6,5,1), 
  4 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,1,2,1,3,2,4,3,5,4,6,5,1), 
  5 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,0,2,1,3,2,4,3,5,4,6,5,0), 
  6 , CASE( MOD({!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,1,2,2,3,3,4,4,5,5,6,5,0), 
  999) 
  + 
  (FLOOR(( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 )/7)*5)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CancelFeeAdjustment</name>
        <dataType>Number</dataType>
        <expression>CASE({!BusinessDays},
0,{!OneHundred},
1,{!OneHundred},
2,{!FiftyPercent},
3,{!FiftyPercent},
4,{!FiftyPercent},
5,{!TwentyFive},
6,{!TwentyFive}, 
7,{!TenPercent},
8,{!TenPercent},
9,{!TenPercent},
10,{!TenPercent},
11,{!TenPercent},
{!OneHundred})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ClassQty</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!sTrainingEvent.Number_in_Class__c}), 1, {!sTrainingEvent.Number_in_Class__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Cancelation Fee to Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Cancelation Fee to Order</label>
    <loops>
        <description>Find Items that have not been shipped - Cancel Onsite Delivery Fee and Per Student Fee - otherwise ship items</description>
        <name>Minor_Item_Loop</name>
        <label>Minor Item Loop</label>
        <locationX>790</locationX>
        <locationY>487</locationY>
        <assignNextValueToReference>sMinOrderItem</assignNextValueToReference>
        <collectionReference>colMinOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Minor_Item_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Minor_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Fee_to_Order_Item</name>
        <label>Add Fee to Order Item</label>
        <locationX>500</locationX>
        <locationY>302</locationY>
        <assignRecordIdToReference>vNewOrderItem</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Order_Fulfillment_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ILT_Class__c</field>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <stringValue>48160</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentOrderItem__c</field>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ProductType__c</field>
            <value>
                <elementReference>cInventoryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <elementReference>One</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Item</name>
        <label>Create Fulfillment Item</label>
        <locationX>1042</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>Update_Status_of_Order_Line</targetReference>
        </connector>
        <inputReference>outFulfillmentItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>529</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>Set_Major_Item_to_Order</targetReference>
        </connector>
        <inputReference>sFulfillment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cancelation_Fee_Product_ID</name>
        <label>Get Cancelation Fee Product ID</label>
        <locationX>341</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancellation_Fee_Check</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancellationFee</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get ILT Class</label>
        <locationX>340</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
        <filters>
            <field>Skedulo_Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
        <queriedFields>Skedulo_Job_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Minor Items associated to course to be cancelled</description>
        <name>Get_Minor_Items</name>
        <label>Get Minor Items</label>
        <locationX>639</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Fulfillment</targetReference>
        </connector>
        <filters>
            <field>ccrz__ParentOrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colMinOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>494</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Minor_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order_Item</name>
        <label>Lookup Order Item</label>
        <locationX>488</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cancelation_Fee_Product_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order_Item__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Training_Event</name>
        <label>Lookup Training Event</label>
        <locationX>331</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Cancellation_Fee_Needed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>Number_in_Class__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Minor_Items</name>
        <label>Update Minor Items</label>
        <locationX>492</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Add_Fee_to_Order_Item</targetReference>
        </connector>
        <inputReference>outMinOrderItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_of_Order_Line</name>
        <label>Update Status of Order Line</label>
        <locationX>1253</locationX>
        <locationY>302</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Fee_Missing</name>
        <label>Cancel Fee Missing</label>
        <locationX>150</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancelFeeError</name>
            <fieldText>&lt;p&gt;Item: &lt;b&gt;{!CancellationFee}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;has not been added to the CC Product table&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the system administrator to add.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancellation_Fee_Notes</name>
        <label>Cancellation Fee Notes</label>
        <locationX>181</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Training_Event</targetReference>
        </connector>
        <fields>
            <name>CancellationFeeHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cancellation Fee&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This process will add a cancellation fee to the order assocatated to the Order and Order Line. It will automatically calculate the fee based on Red Cross policies.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Cancellation_Fee_Notes</startElementReference>
    <status>Active</status>
    <variables>
        <name>colMinOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOrderShipmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderShipmentItem__c</objectType>
    </variables>
    <variables>
        <name>colProductPrice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>outMinOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>sFI2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sFulfillment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>sFullfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sMinOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sNewItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>vFixed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </variables>
    <variables>
        <name>vNewOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
