force-app/main/default/flows/Add_Student_Name_for_NAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_FFI_to_Output</name>
        <label>Add FFI to Output</label>
        <locationX>785</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>outFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fulfillment_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Supplemental_Information_to_Fulfillment_Item</name>
        <label>Add Supplemental Information to Fulfillment Item</label>
        <locationX>895</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSuppInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FFI_to_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OOI_to_Output</name>
        <label>Assign OOI to Output</label>
        <locationX>558</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>outOrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Fulfillment_Item</name>
        <label>No Fulfillment Item</label>
        <locationX>305</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>vNoFulfillmentItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Supplemental_Information</name>
        <label>Update Supplemental Information</label>
        <locationX>672</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSuppInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OOI_to_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Order</name>
        <label>Order Item Status</label>
        <locationX>294</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Supplemental_Information_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFulfillmentItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Fulfillment_Item</targetReference>
            </connector>
            <label>Notfound</label>
        </rules>
    </decisions>
    <interviewLabel>Add Student Name for NAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Student Name for NAT</label>
    <loops>
        <name>Update_Fulfillment_Items_Loop</name>
        <label>Update Fulfillment Items Loop</label>
        <locationX>782</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>sFulfillmentItem</assignNextValueToReference>
        <collectionReference>colFulfillmentItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Supplemental_Information_to_Fulfillment_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Order_Items_Loop</name>
        <label>Update Order Items Loop</label>
        <locationX>558</locationX>
        <locationY>54</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Supplemental_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Fulfillment_Items_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Item</name>
        <label>Get Fulfillment Item</label>
        <locationX>167</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Order</targetReference>
        </connector>
        <filters>
            <field>CC_Category_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </filters>
        <object>Fulfillment_Item__c</object>
        <outputReference>colFulfillmentItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Category_Name__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Order Item</description>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>93</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fulfillment_Item</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fulfillment_Item</name>
        <label>Update Fulfillment Item</label>
        <locationX>1165</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <inputReference>outFulfillmentItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Item</name>
        <label>Update Order Item</label>
        <locationX>1044</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Update_Fulfillment_Item</targetReference>
        </connector>
        <inputReference>outOrderItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1163</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Student Name  has been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>ERROR: NAT Items not on the order or Order is not in a state that can be edited.</description>
        <name>Not_Found</name>
        <label>Not Found</label>
        <locationX>305</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoNATFulfillment</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERROR&lt;/b&gt;: NAT Items not on the order or Order is not in a state that can be edited.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supplemental_Information_Entry</name>
        <label>Supplemental Information Entry</label>
        <locationX>433</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Order_Items_Loop</targetReference>
        </connector>
        <fields>
            <name>SupMessage</name>
            <fieldText>&lt;p&gt;WARNING - This will add a Student Name to ALL items that have a category of NAT Training or NAT Testing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is expected that an order will only be for a single student.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please provide the student name you would like to add to the Order Item prior to invoicing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vSuppInfo</name>
            <dataType>String</dataType>
            <fieldText>Supplemental Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be 50 char no special characters&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!vSuppInfo} , &quot;^[0-9a-zA-Z-\\s\\.]{0,50}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Order_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>colFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>outOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>vNoFulfillmentItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
