force-app/main/default/flows/Add_Stored_PO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>New_Stored_Payment_Assignments</name>
        <label>New Stored Payment Assignments</label>
        <locationX>560</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__AccountType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>po</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.Remaining_PO_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPO_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStart_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEnd_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.Original_PO_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPO_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPO_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__DisplayName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPO_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stored_Payment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAssignments</name>
        <label>UpdateAssignments</label>
        <locationX>567</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>sStoredPayment.Remaining_PO_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemainingBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dspNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stored_Payment_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RequestFlow</name>
        <label>RequestFlow</label>
        <locationX>191</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Stored_Payment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_PO_Entry</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <description>Add to an existing PO or Create New PO</description>
    <dynamicChoiceSets>
        <name>rcAvailablePO</name>
        <dataType>String</dataType>
        <displayField>ccrz__DisplayName__c</displayField>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <outputAssignments>
            <assignToReference>sStoredPayment.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.Original_PO_Amount__c</assignToReference>
            <field>Original_PO_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.Remaining_PO_Amount__c</assignToReference>
            <field>Remaining_PO_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__AccountType__c</assignToReference>
            <field>ccrz__AccountType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__Account__c</assignToReference>
            <field>ccrz__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__DisplayName__c</assignToReference>
            <field>ccrz__DisplayName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__EndDate__c</assignToReference>
            <field>ccrz__EndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__Name__c</assignToReference>
            <field>ccrz__Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__PaymentType__c</assignToReference>
            <field>ccrz__PaymentType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__StartDate__c</assignToReference>
            <field>ccrz__StartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sStoredPayment.ccrz__Storefront__c</assignToReference>
            <field>ccrz__Storefront__c</field>
        </outputAssignments>
        <sortField>ccrz__DisplayName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>ccrz__DisplayName__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fRemainingBalance</name>
        <dataType>Currency</dataType>
        <expression>{!sStoredPayment.Remaining_PO_Amount__c} + {!addAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Stored PO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Stored PO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Stored_Payment_Record</name>
        <label>Create Stored Payment Record</label>
        <locationX>732</locationX>
        <locationY>52</locationY>
        <inputReference>sStoredPayment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Stored_Payments</name>
        <label>Get Account Stored Payments</label>
        <locationX>1160</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <outputReference>colStoredPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__AccountType__c</queriedFields>
        <queriedFields>ccrz__DisplayName__c</queriedFields>
        <queriedFields>ccrz__Default__c</queriedFields>
        <queriedFields>ccrz__EndDate__c</queriedFields>
        <queriedFields>ccrz__Enabled__c</queriedFields>
        <queriedFields>ccrz__PaymentType__c</queriedFields>
        <queriedFields>ccrz__StartDate__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Original_PO_Amount__c</queriedFields>
        <queriedFields>Remaining_PO_Amount__c</queriedFields>
        <queriedFields>ccrz__Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Stored_Payment_Record</name>
        <label>Get Stored Payment Record</label>
        <locationX>200</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectPO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <outputReference>sStoredPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__EndDate__c</queriedFields>
        <queriedFields>ccrz__StartDate__c</queriedFields>
        <queriedFields>ccrz__Name__c</queriedFields>
        <queriedFields>ccrz__DisplayName__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Original_PO_Amount__c</queriedFields>
        <queriedFields>Remaining_PO_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stored_Payment_Record</name>
        <label>Update Stored Payment Record</label>
        <locationX>728</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>Confirmation_of_Update</targetReference>
        </connector>
        <inputReference>sStoredPayment</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_of_Update</name>
        <label>Confirmation of Update</label>
        <locationX>898</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmUpdate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Purchase Order &lt;/span&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!sStoredPayment.ccrz__DisplayName__c}&lt;/b&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; has been updated with the new remaining balance of &lt;/span&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!fRemainingBalance}&lt;/b&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; and the End Date of &lt;/span&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!sStoredPayment.ccrz__EndDate__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_PO_Entry</name>
        <label>New PO Entry</label>
        <locationX>385</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Stored_Payment_Assignments</targetReference>
        </connector>
        <fields>
            <name>newPO_Name</name>
            <dataType>String</dataType>
            <fieldText>PO Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newStart_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newEnd_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2099-12-31</dateValue>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newPO_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>PO Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select PO</description>
        <name>SelectPO</name>
        <label>Update selected PO</label>
        <locationX>392</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAssignments</targetReference>
        </connector>
        <fields>
            <name>dspPOName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!sStoredPayment.ccrz__DisplayName__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dspOriginalAmt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Original PO Amount:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!sStoredPayment.Original_PO_Amount__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dspStartDate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Start Date:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!sStoredPayment.ccrz__StartDate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dspEndDate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;End Date:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!sStoredPayment.ccrz__EndDate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dspNewEndDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>sStoredPayment.ccrz__EndDate__c</elementReference>
            </defaultValue>
            <fieldText>New End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dspRemaining</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Remaining Balance&lt;/b&gt;:&lt;/p&gt;&lt;p&gt;{!sStoredPayment.Remaining_PO_Amount__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Amount to Add to PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>RequestFlow</startElementReference>
    <status>Active</status>
    <variables>
        <name>colStoredPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_StoredPayment__c</objectType>
    </variables>
    <variables>
        <name>frmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>sStoredPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_StoredPayment__c</objectType>
    </variables>
</Flow>
