force-app/main/default/flows/Add_Product_to_Price_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Price_Group_Price_List</name>
        <label>Add to Price Group Price List</label>
        <locationX>499</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>outPriceListItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sPriceListItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Lists</name>
        <label>Assign Price Lists</label>
        <locationX>698</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>sPriceListItem.ccrz__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceListItem.ccrz__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceListItem.ccrz__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceListItem.ccrz__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceListItem.ccrz__Pricelist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceLists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Price_Group_Price_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Discount_Value</name>
        <label>Null Discount Value</label>
        <locationX>895</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>sPriceLists.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Price_Lists</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CPS</name>
        <choiceText>CPS</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cCPS</elementReference>
        </value>
    </choices>
    <choices>
        <name>CREStore</name>
        <choiceText>CREStore</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cCREStore</elementReference>
        </value>
    </choices>
    <choices>
        <name>GeneralStore</name>
        <choiceText>GeneralStore</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cGeneralStore</elementReference>
        </value>
    </choices>
    <constants>
        <name>cCREStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CREStore</stringValue>
        </value>
    </constants>
    <constants>
        <name>cGeneralStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GeneralStore</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Discount_Value</name>
        <label>Check Discount Value</label>
        <locationX>895</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Assign_Price_Lists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPriceLists.Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Discount_Value</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Price_List</name>
        <label>Include Price List</label>
        <locationX>700</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Include</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Price_Lists</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sPriceLists.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Discount_Value</targetReference>
            </connector>
            <label>Include</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailablePriceLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GeneralStore</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputAssignments>
            <assignToReference>sPriceLists.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sPriceLists.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedPriceLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputAssignments>
            <assignToReference>sPriceLists.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DiscountedPrice</name>
        <dataType>Currency</dataType>
        <expression>({!scnPrice} * (1-{!sPriceLists.Discount__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Product to Price List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Product to Price List</label>
    <loops>
        <name>Loop_through_Price_Lists_to_Add</name>
        <label>Loop through Price Lists to Add</label>
        <locationX>499</locationX>
        <locationY>136</locationY>
        <assignNextValueToReference>sPriceLists</assignNextValueToReference>
        <collectionReference>colAvailablePriceLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Include_Price_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Price_List_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Price_List_Item</name>
        <label>Create Price List Item</label>
        <locationX>845</locationX>
        <locationY>97</locationY>
        <inputReference>outPriceListItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Price_Lists</name>
        <label>Get Available Price Lists</label>
        <locationX>127</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Establish_Base_Price</targetReference>
        </connector>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputReference>colAvailablePriceLists</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Information</name>
        <label>Get Product Information</label>
        <locationX>127</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Available_Price_Lists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmProduct</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Establish_Base_Price</name>
        <label>Establish Base Price</label>
        <locationX>306</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <fieldText>{!sProduct.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scnPrice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Effective_Start</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Effective Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_End</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2099-12-31</dateValue>
            </defaultValue>
            <fieldText>Effective End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Enabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Storefront_1</name>
            <choiceReferences>GeneralStore</choiceReferences>
            <choiceReferences>CREStore</choiceReferences>
            <choiceReferences>CPS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>GeneralStore</defaultSelectedChoiceReference>
            <fieldText>Storefront</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Price_Lists</name>
            <choiceReferences>SelectedPriceLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Price Lists</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Product_Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>cCPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CPS</elementReference>
        </value>
    </variables>
    <variables>
        <name>colAvailablePriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <name>frmProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outPriceListItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>sPriceListItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>sPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>Zero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
