force-app/main/default/flows/Assign_Vouchers_for_Online_Class.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>305</locationX>
        <locationY>376</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_Voucher_to_Output</name>
        <label>Add Voucher to Output</label>
        <locationX>923</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>outVoucher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVoucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item_to_In_Process</name>
        <label>Assign Order Item to In Process</label>
        <locationX>677</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ship_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Counter</name>
        <label>Set Loop Counter</label>
        <locationX>924</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voucher</name>
        <label>Set Voucher</label>
        <locationX>1158</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>sVoucher.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecrementLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Start_Date_of_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Voucher_to_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_for_Vouchers</name>
        <label>Loop-for-Vouchers</label>
        <locationX>915</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Update_Vouchers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MainLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Vouchers</targetReference>
            </connector>
            <label>MainLoop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_to_fulfill</name>
        <label>Ready to fulfill</label>
        <locationX>297</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Submitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>Order Submitted</label>
        </rules>
    </decisions>
    <formulas>
        <name>DecrementLoop</name>
        <dataType>Number</dataType>
        <expression>{!LoopCounter} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetLoop</name>
        <dataType>Number</dataType>
        <expression>{!sOrderItem.ccrz__Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Assign Vouchers for Online Class {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Vouchers for Online Class</label>
    <loops>
        <name>Loop_through_Vouchers</name>
        <label>Loop through Vouchers</label>
        <locationX>1155</locationX>
        <locationY>193</locationY>
        <assignNextValueToReference>sVoucher</assignNextValueToReference>
        <collectionReference>collVoucher</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Voucher</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Vouchers</name>
        <label>Get Available Vouchers</label>
        <locationX>587</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Loop_Counter</targetReference>
        </connector>
        <filters>
            <field>Learning_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.LMS_Learning_Plan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </filters>
        <object>Voucher__c</object>
        <outputReference>collVoucher</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Start_Date_of_Class__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>219</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ready_to_fulfill</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItem</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Available_Vouchers</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
        <queriedFields>LMS_Learning_Plan__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Ship_Order_Item</name>
        <label>Ship Order Item</label>
        <locationX>676</locationX>
        <locationY>478</locationY>
        <inputReference>sOrderItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vouchers</name>
        <label>Update Vouchers</label>
        <locationX>677</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Assign_Order_Item_to_In_Process</targetReference>
        </connector>
        <inputReference>outVoucher</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>colLearning</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning__c</objectType>
    </variables>
    <variables>
        <name>collVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>frmOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sked__Job__c</objectType>
    </variables>
    <variables>
        <name>sLearningPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Plan__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
</Flow>
