force-app/main/default/flows/Cancel_Class.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Output</name>
        <label>Add to Output</label>
        <locationX>946</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>outAchievementAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAchievementAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Achievement_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Update</name>
        <label>Assignment Update</label>
        <locationX>825</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>sAchievementAssignments.redwing__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAchievementAssignments.redwing__Acquisition_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAchievementAssignments.redwing__Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ILT_Class_Assignments</name>
        <label>ILT Class Assignments</label>
        <locationX>1236</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>sILTClass.Skedulo_Job_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ILT_Class</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AnyInstructors</name>
        <label>AnyInstructors</label>
        <locationX>493</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Remove_Instructors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Instructors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sILTInstructor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Achievement_Assignments</targetReference>
            </connector>
            <label>No Instructors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_you_sure</name>
        <label>Are you sure?</label>
        <locationX>493</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>AnyInstructors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CancelClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProccessRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Cancelled</targetReference>
            </connector>
            <label>CancelClass</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClosed</name>
        <label>IsClosed</label>
        <locationX>283</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>NotClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClassClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sILTClass.Class_Closed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Skedulo_Job_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Class</targetReference>
            </connector>
            <label>ClassClosed</label>
        </rules>
    </decisions>
    <description>Allows the TSC to cancel a class and void achievement assignments associated to class</description>
    <interviewLabel>Cancel Class {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Class</label>
    <loops>
        <name>Loop_Achievement_Assignments</name>
        <label>Loop Achievement Assignments</label>
        <locationX>938</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>sAchievementAssignments</assignNextValueToReference>
        <collectionReference>colAchievementAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Achievement_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Remove_Instructors</name>
        <label>Remove Instructors</label>
        <locationX>646</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>Get_Achievement_Assignments</targetReference>
        </connector>
        <filters>
            <field>redwing__ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Instructor__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Achievement_Assignments</name>
        <label>Get Achievement Assignments</label>
        <locationX>801</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Achievement_Assignments</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>colAchievementAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>redwing__Status__c</queriedFields>
        <queriedFields>redwing__Acquisition_Date__c</queriedFields>
        <queriedFields>redwing__Expiration_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Instructor</name>
        <label>Get ILT Instructor</label>
        <locationX>289</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsClosed</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>redwing__ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Instructor__c</object>
        <outputReference>sILTInstructor</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Record</name>
        <label>Get ILT Record</label>
        <locationX>169</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ILT_Instructor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClassID</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Learning_Plan__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Cloud_Craze_Product__c</queriedFields>
        <queriedFields>Location_State__c</queriedFields>
        <queriedFields>Location_ZIP_Code__c</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
        <queriedFields>redwing__End_Date__c</queriedFields>
        <queriedFields>redwing__End_Time__c</queriedFields>
        <queriedFields>redwing__Cancelled__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>redwing__Start_Date__c</queriedFields>
        <queriedFields>redwing__Start_Time__c</queriedFields>
        <queriedFields>Skedulo_Job_Status__c</queriedFields>
        <queriedFields>redwing__Timezone__c</queriedFields>
        <queriedFields>Class_Closed_Date__c</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Achievement_Assignments</name>
        <label>Update Achievement Assignments</label>
        <locationX>1092</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>ILT_Class_Assignments</targetReference>
        </connector>
        <inputReference>outAchievementAssignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ILT_Class</name>
        <label>Update ILT Class</label>
        <locationX>1398</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <inputReference>sILTClass</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancel_Class</name>
        <label>Cancel Class</label>
        <locationX>396</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;You are about to cancel the following class. This will remove the instructor from the class, set all achievements to void and set the class to cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InformationVerification</name>
            <fieldText>&lt;p&gt;Class: {!sILTClass.Name}&lt;/p&gt;&lt;p&gt;Class ID: {!sILTClass.Offering_Id__c}&lt;/p&gt;&lt;p&gt;Date Range :  {!sILTClass.redwing__Start_Date__c} - {!sILTClass.redwing__End_Date__c}&lt;/p&gt;&lt;p&gt;Location: {!sILTClass.Site_City__c}, {!sILTClass.Location_State__c} {!sILTClass.Location_ZIP_Code__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Close Date: {!sILTClass.Class_Closed_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProccessRecords</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check if you are sure you wish to cancel Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Cancelled</name>
        <label>Not Cancelled</label>
        <locationX>500</locationX>
        <locationY>387</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotCancelled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Not Cancelled&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The class has not been cancelled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Class is not closed, please contact scheduling to cancel class</description>
        <name>NotClosed</name>
        <label>NotClosed</label>
        <locationX>287</locationX>
        <locationY>385</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>closeclassmsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Class can not be cancelled&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Class is not closed or has previously been canceled, please contact scheduling to cancel class&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>1407</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateComplete</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Class has been cancelled successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_ILT_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAchievementAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>frmILTClassID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sAchievementAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sILTInstructor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Instructor__c</objectType>
    </variables>
</Flow>
