force-app/main/default/flows/Create_Learning_Assignment_Approver_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Record Found - Do Nothing</description>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>354</locationX>
        <locationY>242</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>677</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>sCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtServiceCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Learning_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmLearningAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instructors</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Online - LMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bridging</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sUser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NEW_On_Hold_Case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ServiceRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012d000000097TDAAY</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check to See if a On Hold order case has been created in the past</description>
        <name>Found_Existing_Case_Record</name>
        <label>Found Existing Case Record</label>
        <locationX>342</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Get_Learning_Achievement_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_On_Hold_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Nothing</targetReference>
            </connector>
            <label>Found On Hold Order</label>
        </rules>
    </decisions>
    <description>Creates a case when a Learning Assignment has been submitted for approval - typically a cert</description>
    <formulas>
        <description>Subject for Case</description>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Approval Required for: &quot; &amp; {!sLearningAssignment.redwing__Learning__c} &amp; &quot;-&quot; &amp; {!sLearningAssignment.redwing__User__c}</expression>
    </formulas>
    <formulas>
        <name>fDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Learning Assignment: &quot; &amp; {!sLearningAssignment.Name} &amp; &quot; has been submitted for approval.&quot;</expression>
    </formulas>
    <interviewLabel>Create Learning Assignment Approver Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Learning Assignment Approver Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new on hold case record for On Hold order if Case has not been closed</description>
        <name>Create_NEW_On_Hold_Case</name>
        <label>Create NEW On Hold Case</label>
        <locationX>676</locationX>
        <locationY>360</locationY>
        <inputReference>sCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Case_Exists</name>
        <label>Check if Case Exists</label>
        <locationX>177</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Case_Record</targetReference>
        </connector>
        <filters>
            <field>Learning_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmLearningAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Unresolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instructors</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Case_Record_Type__c</queriedFields>
        <queriedFields>Case_Sub_Type__c</queriedFields>
        <queriedFields>Current_Order_Amount__c</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_from_User</name>
        <label>Get Contact from User</label>
        <locationX>677</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Case_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sLearningAssignment.redwing__User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Prepare for setting case information</description>
        <name>Get_Learning_Achievement_Information</name>
        <label>Get Learning Achievement Information</label>
        <locationX>514</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_from_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmLearningAssignment</elementReference>
            </value>
        </filters>
        <object>redwing__Learning_Assignment__c</object>
        <outputReference>sLearningAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Learning_Record_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>redwing__Approval_Status__c</queriedFields>
        <queriedFields>redwing__Approver_Notes__c</queriedFields>
        <queriedFields>redwing__Due_Date__c</queriedFields>
        <queriedFields>redwing__Contact__c</queriedFields>
        <queriedFields>redwing__Learning__c</queriedFields>
        <queriedFields>redwing__Progress__c</queriedFields>
        <queriedFields>redwing__Training_Plan__c</queriedFields>
        <queriedFields>redwing__Community_Id__c</queriedFields>
        <queriedFields>redwing__User__c</queriedFields>
        <queriedFields>redwing__Progress_Percentage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Service Case Record Type Record ID</description>
        <name>Get_Service_Case_Record_Type_ID</name>
        <label>Get Service Case Record Type ID</label>
        <locationX>857</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Cases</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>rtServiceCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Check_if_Case_Exists</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmLearningAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>rtServiceCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Record</description>
        <name>sCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sLearningAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__Learning_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
