force-app/main/default/flows/Create_Child_Price_Group_Account_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Price_Group_Account_Output_Collection</name>
        <label>Add to Price Group Account Output Collection</label>
        <locationX>567</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>colOutPriceGroupAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sPriceGroupAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price_Group_Account_to_Child_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Account_Info</name>
        <label>Set Child Account Info</label>
        <locationX>391</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>sPriceGroupAccount.ccrz__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmChildAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Price_Group_Account_Output_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Setting_Record_Exists</name>
        <label>Account Setting Record Exists</label>
        <locationX>860</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Account_Setting_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccountSettings.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CC_Account_Setup_Record</targetReference>
            </connector>
            <label>Create Account Setting Record</label>
        </rules>
    </decisions>
    <description>Auto Created on selection of Inhert Parent Contract</description>
    <interviewLabel>Create Child Price Group Account Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Child Price Group Account Records</label>
    <loops>
        <name>Update_Price_Group_Account_to_Child_Account</name>
        <label>Update Price Group Account to Child Account</label>
        <locationX>390</locationX>
        <locationY>249</locationY>
        <assignNextValueToReference>sPriceGroupAccount</assignNextValueToReference>
        <collectionReference>colPriceGroupAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Child_Account_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Price_Group_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CC_Account_Setup_Record</name>
        <label>Create CC Account Setup Record</label>
        <locationX>863</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>frmChildAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AllowMixedPricingCarts__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_AccountSetting__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Price_Group_Account_Records</name>
        <label>Create Child Price Group Account Records</label>
        <locationX>635</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Get_Account_Settings</targetReference>
        </connector>
        <inputReference>colOutPriceGroupAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Settings</name>
        <label>Get Account Settings</label>
        <locationX>850</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Setting_Record_Exists</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmChildAccount</elementReference>
            </value>
        </filters>
        <object>ccrz__E_AccountSetting__c</object>
        <outputAssignments>
            <assignToReference>sAccountSettings.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_List_of_Parent_Price_Group_Accounts</name>
        <label>Get List of Parent Price Group Accounts</label>
        <locationX>391</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Price_Group_Account_to_Child_Account</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmParentAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EffectiveEnd__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupAccount__c</object>
        <outputReference>colPriceGroupAccount</outputReference>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__EffectiveEnd__c</queriedFields>
        <queriedFields>ccrz__EffectiveStart__c</queriedFields>
        <queriedFields>ccrz__Enabled__c</queriedFields>
        <queriedFields>ccrz__PriceGroup__c</queriedFields>
        <queriedFields>ccrz__PriceGroupAccountID__c</queriedFields>
        <queriedFields>ccrz__Sequence__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Highest_Discount__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Price_Group_Name__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_List_of_Parent_Price_Group_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOutPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>colPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>frmChildAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmParentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sAccountSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_AccountSetting__c</objectType>
    </variables>
    <variables>
        <name>sPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
</Flow>
