force-app/main/default/flows/Create_Appinium_Instructor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Appinium_LMS_Instructor_Flag_to_True</name>
        <label>Set Appinium LMS Instructor Flag to True</label>
        <locationX>388</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>sUser.Is_Appinium_Instructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_Appinium_to_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_User_Record</name>
        <label>Found User Record</label>
        <locationX>218</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Instructor_Record</targetReference>
            </connector>
            <label>Found Record</label>
        </rules>
    </decisions>
    <label>Create Appinium Instructor</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Instructor_Record</name>
        <label>Create Instructor Record</label>
        <locationX>388</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Set_Appinium_LMS_Instructor_Flag_to_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Skedulo_Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>redwing__User__c</field>
            <value>
                <elementReference>sUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>redwing__Instructor__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_User_Record</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Appinium_Instructor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>sUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sUser.Is_Appinium_Instructor__c</assignToReference>
            <field>Is_Appinium_Instructor__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Is_Appinium_to_True</name>
        <label>Set Is Appinium to True</label>
        <locationX>386</locationX>
        <locationY>300</locationY>
        <inputReference>sUser</inputReference>
    </recordUpdates>
    <startElementReference>Get_User_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
