force-app/main/default/flows/Create_Training_Event_from_Opputunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Training_Event_Collection</name>
        <label>Add to Training Event Collection</label>
        <locationX>193</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>colTrainingEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sTrainingEvent2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Course_Order_Status_In_Process</name>
        <label>Set Course Order Status In Process</label>
        <locationX>394</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Training_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Course_Order_Status_On_Hold</name>
        <label>Set Course Order Status On Hold</label>
        <locationX>391</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Training_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Training_Event</name>
        <label>Set Training Event</label>
        <locationX>193</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProduct.ccrz__SKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Quantity_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sShipTo.ccrz__AddressFirstline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sShipTo.ccrz__AddressSecondline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sShipTo.ccrz__City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Location_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sShipTo.ccrz__State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sShipTo.ccrz__PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCart.ccrz__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Scheduling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Catalog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProduct.Course_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTrainingEventRecordType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Training_Event_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ClosedWon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Course</name>
        <label>Check if Course</label>
        <locationX>429</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOppty.Training_Events_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>if Course</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Training_Events</name>
        <label>Created Training Events</label>
        <locationX>589</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Any_Training_Events_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTrainingEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Any Training Events Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppurtunity_Status</name>
        <label>Oppurtunity Status</label>
        <locationX>958</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Is Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Course_Order_Status</name>
        <label>Set Course Order Status</label>
        <locationX>629</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Set_Course_Order_Status_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Only for Orders</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Course_Order_Status_In_Process</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <description>Added Training Event Record Type</description>
    <interviewLabel>Create Training Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Training Event from Opportunity</label>
    <loops>
        <name>Loop_through_Order_Items</name>
        <label>Loop through Order Items</label>
        <locationX>190</locationX>
        <locationY>467</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Course</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Training_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Events</name>
        <label>Create Training Events</label>
        <locationX>425</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Created_Training_Events</targetReference>
        </connector>
        <inputReference>colTrainingEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cart</name>
        <label>Get Cart</label>
        <locationX>180</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppty</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Cart__c</object>
        <outputReference>sCart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>ccrz__ActiveCart__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty</name>
        <label>Get Oppty</label>
        <locationX>335</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppty</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>sOppty.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppty.StageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppty.Training_Events_Created__c</assignToReference>
            <field>Training_Events_Created__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>487</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ship_To_Address</targetReference>
        </connector>
        <filters>
            <field>ccrz__OriginatedCart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCart.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__ShipTo__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Lines</name>
        <label>Get Order Lines</label>
        <locationX>192</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>628</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Course_Order_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__SKU__c</queriedFields>
        <queriedFields>ccrz__InventoryType__c</queriedFields>
        <queriedFields>LMS_Learning_Plan__c</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_To_Address</name>
        <label>Get Ship To Address</label>
        <locationX>483</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training_Event_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__ShipTo__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_ContactAddr__c</object>
        <outputReference>sShipTo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__AddressFirstline__c</queriedFields>
        <queriedFields>ccrz__AddressSecondline__c</queriedFields>
        <queriedFields>ccrz__City__c</queriedFields>
        <queriedFields>ccrz__State__c</queriedFields>
        <queriedFields>ccrz__Email__c</queriedFields>
        <queriedFields>ccrz__PostalCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event_Record_Type</name>
        <label>Get Training Event Record Type</label>
        <locationX>193</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Lines</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SB_Training_Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Events__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vTrainingEventRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>770</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>Oppurtunity_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Training_Events_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1188</locationX>
        <locationY>311</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <startElementReference>Get_Cart</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>frmOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmOpptyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sCart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Cart__c</objectType>
    </variables>
    <variables>
        <name>sOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sShipTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_ContactAddr__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <description>Training Event Record Type</description>
        <name>vTrainingEventRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
