force-app/main/default/flows/Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add to output collection of price list items</description>
        <name>Add_to_oPriceGroupPriceLists</name>
        <label>Add to oPriceGroupPriceLists</label>
        <locationX>1433</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>oColPriceGroupPriceLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sPriceGroupPriceListLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_End_Date_of_all_Price_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Price_Group_Price_List</name>
        <label>Add to Price Group Price List</label>
        <locationX>670</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>listPriceGroupPriceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sPriceGroupPriceList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Lists</name>
        <label>Assign Price Lists</label>
        <locationX>914</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__EffectiveEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEffectiveEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__EffectiveStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__PriceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceGroupID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__Pricelist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceLists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__Storefront__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Price_Group_Price_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializes Start and End Dates - Set in Set Price Group ID</description>
        <name>Initialize_Start_and_End_Dates</name>
        <label>Initialize Start and End Dates</label>
        <locationX>482</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>vEffectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HighestDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOppurtunity.Highest_Product_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>745</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>vEffectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Exec_Dir</name>
        <label>Set Exec Dir</label>
        <locationX>1314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executive Director</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Highest_Discount</name>
        <label>Set Highest Discount</label>
        <locationX>1216</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>HighestDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceLists.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppurtunity.Highest_Product_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceLists.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Price_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MOM</name>
        <label>Set MOM</label>
        <locationX>503</locationX>
        <locationY>1258</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MOM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Approval</name>
        <label>Set No Approval</label>
        <locationX>1117</locationX>
        <locationY>1245</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Approval Needed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Found a Price Group Account - Set the Price Group ID to the found Price Group Account</description>
        <name>Set_Price_Group_ID</name>
        <label>Set Price Group ID</label>
        <locationX>391</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>sPriceGroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceGroupAccount.ccrz__PriceGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEffectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceGroupAccount.ccrz__EffectiveEnd__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ByPassPriceGroupAccountCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Available_Price_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set end date for the Price lists looping through</description>
        <name>Set_Price_Group_Price_List_End_Date</name>
        <label>Set Price Group Price List End Date</label>
        <locationX>1436</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceListLoop.ccrz__EffectiveEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUpsellEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_oPriceGroupPriceLists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Director</name>
        <label>Set Sales Director</label>
        <locationX>716</locationX>
        <locationY>1255</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Director</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Manager</name>
        <label>Set Sales Manager</label>
        <locationX>891</locationX>
        <locationY>1252</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CPS</name>
        <choiceText>CPS</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cCPSStore</elementReference>
        </value>
    </choices>
    <choices>
        <name>CREStore</name>
        <choiceText>CREStore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CREStore</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralStore</name>
        <choiceText>GeneralStore</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cGeneralStore</elementReference>
        </value>
    </choices>
    <constants>
        <name>cCPSStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPS</stringValue>
        </value>
    </constants>
    <constants>
        <name>cGeneralStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GeneralStore</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstBGSTSalesProfile</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARC BGST Sales User</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstExecutiveDirector</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive Director</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstManager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstMOM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MOM</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstNoApprovalNeeded</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Approval Needed</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstSalesDirector</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Director</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Setting_Record_Exists</name>
        <label>Account Setting Record Exists</label>
        <locationX>309</locationX>
        <locationY>1004</locationY>
        <defaultConnector>
            <targetReference>Approval_Levels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Account_Setting_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccountSettings.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CC_Account_Setup</targetReference>
            </connector>
            <label>Create Account Setting Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval1015</name>
        <label>Approval1015</label>
        <locationX>1282</locationX>
        <locationY>1131</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BGST1015</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Approval</targetReference>
            </connector>
            <label>BGST1015</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_1520</name>
        <label>Approval 1520</label>
        <locationX>988</locationX>
        <locationY>1131</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SCC_1520</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Manager</targetReference>
            </connector>
            <label>SCC 1520</label>
        </rules>
        <rules>
            <name>BGST1520</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Approval</targetReference>
            </connector>
            <label>BGST1520</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_20_to_30</name>
        <label>Approval 20 to 30</label>
        <locationX>810</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SCC20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Manager</targetReference>
            </connector>
            <label>SCC20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Levels</name>
        <label>Approval Levels</label>
        <locationX>886</locationX>
        <locationY>1009</locationY>
        <defaultConnector>
            <targetReference>Set_No_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GT30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30Approval_Split</targetReference>
            </connector>
            <label>GT30</label>
        </rules>
        <rules>
            <name>GT20_LTE30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_20_to_30</targetReference>
            </connector>
            <label>GT20 LTE30</label>
        </rules>
        <rules>
            <name>GT15LTE20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_1520</targetReference>
            </connector>
            <label>GT15LTE20</label>
        </rules>
        <rules>
            <name>GT10LTE15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval1015</targetReference>
            </connector>
            <label>GT10LTE15</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreatePriceGroupAccount</name>
        <label>CreatePriceGroupAccount</label>
        <locationX>211</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Create_Price_Group_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriceGroupAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ByPassPriceGroupAccountCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Settings</targetReference>
            </connector>
            <label>PriceGroupAccountExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Price_List</name>
        <label>Include Price List</label>
        <locationX>909</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Include</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Price_Lists</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sPriceLists.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Discount_Higher</targetReference>
            </connector>
            <label>Include</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Discount_Higher</name>
        <label>Is Discount Higher</label>
        <locationX>1171</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>Assign_Price_Lists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPriceLists.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>HighestDiscount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Highest_Discount</targetReference>
            </connector>
            <label>Is Higher</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does a Price Group Account Exists for the given Storefront in the appropriate Date Range?</description>
        <name>Price_Group_Account_Validation</name>
        <label>Price Group Account Validation</label>
        <locationX>621</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Create_Price_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Group_Account_Exists_sStart_rstart2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPriceGroupAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEffectiveStartDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sPriceGroupAccount.ccrz__EffectiveStart__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Price_Group_ID</targetReference>
            </connector>
            <label>Price Group Account Exists sStart &gt; rstart</label>
        </rules>
        <rules>
            <name>Price_Group_Account_Exists_sStart_rStart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPriceGroupAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEffectiveStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>sPriceGroupAccount.ccrz__EffectiveStart__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Price Group Account Exists sStart&lt; rStart</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if this is an upsell</description>
        <name>Upsell</name>
        <label>isUpsell?</label>
        <locationX>618</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Get_Price_Group_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Upsell_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Contract/Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Group_Contract_Upsell</targetReference>
            </connector>
            <label>Not Upsell Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>X30Approval_Split</name>
        <label>30Approval Split</label>
        <locationX>636</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Set_MOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BGST_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Director</targetReference>
            </connector>
            <label>BGST 30</label>
        </rules>
        <rules>
            <name>SCC30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Director</targetReference>
            </connector>
            <label>SCC30</label>
        </rules>
    </decisions>
    <description>Added Private Price List selection and verify that the Price Group Account exists</description>
    <dynamicChoiceSets>
        <name>AvailablePriceLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GeneralStore</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputAssignments>
            <assignToReference>sPriceLists.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sPriceLists.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedPriceLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Private__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputAssignments>
            <assignToReference>sPriceLists.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Start Date - 1</description>
        <name>fEndDate</name>
        <dataType>Date</dataType>
        <expression>{!sPriceGroupAccount.ccrz__EffectiveStart__c} - 1</expression>
    </formulas>
    <formulas>
        <name>fUpsellEndDate</name>
        <dataType>Date</dataType>
        <expression>{!vEffectiveStartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>IsHigher</name>
        <dataType>Number</dataType>
        <expression>IF({!sPriceLists.Discount__c}&gt;{!HighestDiscount},{!sPriceLists.Discount__c},{!HighestDiscount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract</label>
    <loops>
        <name>Loop_through_Price_Lists_to_Add</name>
        <label>Loop through Price Lists to Add</label>
        <locationX>674</locationX>
        <locationY>700</locationY>
        <assignNextValueToReference>sPriceLists</assignNextValueToReference>
        <collectionReference>colAvailablePriceLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Include_Price_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Price_Group_Price_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Set end date of price lists associated to price group</description>
        <name>Set_End_Date_of_all_Price_Lists</name>
        <label>Set End Date of all Price Lists</label>
        <locationX>1285</locationX>
        <locationY>56</locationY>
        <assignNextValueToReference>sPriceGroupPriceListLoop</assignNextValueToReference>
        <collectionReference>colPriceGroupPriceLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Price_Group_Price_List_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Price_Group_Price_Lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CC_Account_Setup</name>
        <label>Create CC Account Setup</label>
        <locationX>498</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>Approval_Levels</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sOppurtunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AllowMixedPricingCarts__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_AccountSetting__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Group</name>
        <label>Create Price Group</label>
        <locationX>812</locationX>
        <locationY>490</locationY>
        <assignRecordIdToReference>sPriceGroupID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Available_Price_Lists</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>frmOppurtunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__EffectiveEnd__c</field>
            <value>
                <elementReference>vEffectiveEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__EffectiveStart__c</field>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Enabled__c</field>
            <value>
                <elementReference>Enabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__GroupName__c</field>
            <value>
                <elementReference>Group_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__GroupType__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceGroup__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Group_Account</name>
        <label>Create Price Group Account</label>
        <locationX>225</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Get_Account_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>Highest_Discount__c</field>
            <value>
                <elementReference>HighestDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>frmOppurtunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sOppurtunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__EffectiveEnd__c</field>
            <value>
                <elementReference>vEffectiveEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__EffectiveStart__c</field>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Enabled__c</field>
            <value>
                <elementReference>Enabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PriceGroup__c</field>
            <value>
                <elementReference>sPriceGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceGroupAccount__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Group_Price_List</name>
        <label>Create Price Group Price List</label>
        <locationX>427</locationX>
        <locationY>693</locationY>
        <connector>
            <targetReference>CreatePriceGroupAccount</targetReference>
        </connector>
        <inputReference>listPriceGroupPriceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Settings</name>
        <label>Get Account Settings</label>
        <locationX>429</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Setting_Record_Exists</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmAccount</elementReference>
            </value>
        </filters>
        <object>ccrz__E_AccountSetting__c</object>
        <outputAssignments>
            <assignToReference>sAccountSettings.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Price_Lists</name>
        <label>Get Available Price Lists</label>
        <locationX>391</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Lists</targetReference>
        </connector>
        <filters>
            <field>Private__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputReference>colAvailablePriceLists</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppurtunity</name>
        <label>Get Oppurtunity</label>
        <locationX>180</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Establish_Price_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppurtunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>sOppurtunity.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Highest_Product_Discount__c</assignToReference>
            <field>Highest_Product_Discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Owner_Profile__c</assignToReference>
            <field>Owner_Profile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <field>Pricing_Approval_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.SCC_User__c</assignToReference>
            <field>SCC_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get price group associated with the upsell opportunity</description>
        <name>Get_Price_Group_Account</name>
        <label>Get Price Group Account</label>
        <locationX>803</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Groups_Price_Lists</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOppurtunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EffectiveEnd__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EffectiveStart__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupAccount__c</object>
        <outputReference>sPriceGroupAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__PriceGroup__c</queriedFields>
        <queriedFields>ccrz__EffectiveStart__c</queriedFields>
        <queriedFields>ccrz__EffectiveEnd__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Find Price Group Account for requested screen entry</description>
        <name>Get_Price_Group_Contract_Upsell</name>
        <label>Get Price Group Contract Upsell</label>
        <locationX>626</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Group_Account_Validation</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOppurtunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EffectiveEnd__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupAccount__c</object>
        <outputReference>sPriceGroupAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__EffectiveEnd__c</queriedFields>
        <queriedFields>ccrz__EffectiveStart__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Highest_Discount__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ccrz__Enabled__c</queriedFields>
        <queriedFields>ccrz__PriceGroup__c</queriedFields>
        <sortField>ccrz__EffectiveStart__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Price Groups associated to the Price Group Account</description>
        <name>Get_Price_Groups_Price_Lists</name>
        <label>Get Price Groups Price Lists</label>
        <locationX>985</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Group</targetReference>
        </connector>
        <filters>
            <field>ccrz__PriceGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPriceGroupAccount.ccrz__PriceGroup__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupPricelist__c</object>
        <outputReference>colPriceGroupPriceLists</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__EffectiveEnd__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppurtunity_Approval</name>
        <label>Update Oppurtunity Approval</label>
        <locationX>883</locationX>
        <locationY>1399</locationY>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <inputReference>sOppurtunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Price Group Account End Date</description>
        <name>Update_Price_Group_Account_End_Date</name>
        <label>Update Price Group Account End Date</label>
        <locationX>1157</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>Get_Price_Groups_Price_Lists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPriceGroupAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ccrz__EffectiveEnd__c</field>
            <value>
                <elementReference>fUpsellEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceGroupAccount__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update looped price group price lits</description>
        <name>Update_Price_Group_Price_Lists</name>
        <label>Update Price Group Price Lists</label>
        <locationX>1271</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Create_Price_Group</targetReference>
        </connector>
        <inputReference>oColPriceGroupPriceLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Establish_Price_Group</name>
        <label>Establish Price Group</label>
        <locationX>318</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initialize_Start_and_End_Dates</targetReference>
        </connector>
        <fields>
            <name>dspAccount</name>
            <fieldText>{!sobjAccountName.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dspOppurtunityName</name>
            <fieldText>{!sOppurtunity.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Group_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sOppurtunity.Name</elementReference>
            </defaultValue>
            <fieldText>Group Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Name for the Contract Pricing</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Effective Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2099-12-31</dateValue>
            </defaultValue>
            <fieldText>Effective End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Effective End  must be greater than Effective Start</errorMessage>
                <formulaExpression>{!Effective_Start_Date} &lt;= {!Effective_End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Enabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Enabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Storefront</name>
            <choiceReferences>GeneralStore</choiceReferences>
            <choiceReferences>CREStore</choiceReferences>
            <choiceReferences>CPS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>GeneralStore</defaultSelectedChoiceReference>
            <fieldText>Storefront</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success Screen</description>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>883</locationX>
        <locationY>1542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The selected price lists have been added successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalDisplay</name>
            <fieldText>&lt;p&gt;Approval: {!sOppurtunity.Pricing_Approval_Level__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Price_Lists</name>
        <label>Price Lists</label>
        <locationX>670</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </connector>
        <fields>
            <name>Selected_Price_Lists</name>
            <choiceReferences>SelectedPriceLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Price Lists</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Oppurtunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>ByPassPriceGroupAccountCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colAvailablePriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <description>Collection of Price Group Price Lists</description>
        <name>colPriceGroupPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <name>frmAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmOppurtunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmPriceGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HighestDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>listPriceGroupPriceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <description>Output Collection for Price Group Price Lists</description>
        <name>oColPriceGroupPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <name>sAccountSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_AccountSetting__c</objectType>
    </variables>
    <variables>
        <name>sobjAccountName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sOppurtunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sPriceGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroup__c</objectType>
    </variables>
    <variables>
        <name>sPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>sPriceGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sPriceGroupPriceList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <description>Loop variable for price lists</description>
        <name>sPriceGroupPriceListLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <name>sPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <name>varOPricingApprovalLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>End Date</description>
        <name>vEffectiveEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Start Date</description>
        <name>vEffectiveStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
