force-app/main/default/flows/Create_Account_When_Missing_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Account_Contact_Relationship</name>
        <label>Assign Account Contact Relationship</label>
        <locationX>818</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>sAccountContactRelationship.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccountContactRelationship.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccountContactRelationship.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Info</name>
        <label>Assign Account Info</label>
        <locationX>404</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>sAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.New_TSC_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.Preferred_Payment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit/Debit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_the_Contact_to_Account</name>
        <label>Link the Contact to Account</label>
        <locationX>398</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>sContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Information</name>
        <label>Set Contact Information</label>
        <locationX>189</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>sContact.NSSCCConnector__Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Individual_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Flow</name>
        <label>Account Flow</label>
        <locationX>396</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reassignment_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmAccountFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reassign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization_Account</targetReference>
            </connector>
            <label>Reassignment Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Contact_Relationship</name>
        <label>Check Account Contact Relationship</label>
        <locationX>810</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccountContactRelationship.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sContact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sAccountContactRelationship.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Info</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Status</name>
        <label>Check Contact Status</label>
        <locationX>170</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Get_Individual_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sContact.NSSCCConnector__Contact_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Information</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot; + {!sContact.FirstName} + &quot; &quot; + {!sContact.LastName} + &quot; Account&quot;</expression>
    </formulas>
    <interviewLabel>Create Account When Missing on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account When Missing on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>402</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Link_the_Contact_to_Account</targetReference>
        </connector>
        <inputReference>sAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Contact_Relationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>659</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Assign_Account_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Account_Info</targetReference>
        </faultConnector>
        <inputReference>sAccountContactRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>822</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Contact_Relationship</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>sAccountContactRelationship</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Roles</queriedFields>
        <queriedFields>Display_Payment_Info__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>171</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sContact</outputReference>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>NSSCCConnector__Contact_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Record_Type</name>
        <label>Get Individual Record Type</label>
        <locationX>300</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Flow</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Account</name>
        <label>Get Organization Account</label>
        <locationX>656</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationship</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sOrgAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>401</locationX>
        <locationY>586</locationY>
        <inputReference>sContact</inputReference>
    </recordUpdates>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmAccountFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the new contact</description>
        <name>frmContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sAccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>The Contact record without the Account</description>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sOrgAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
