force-app/main/default/flows/Create_Credit_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_nothing</name>
        <label>Do nothing</label>
        <locationX>274</locationX>
        <locationY>381</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Fulfillment_Item_Collection</name>
        <label>Add to Fulfillment Item Collection</label>
        <locationX>867</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>colFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Records</name>
        <label>Set Fulfillment Records</label>
        <locationX>866</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.CC_Category_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFulfillmentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Fulfillment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Fulfillment_Item_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ItemTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Product_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ExtSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ExtSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oFulfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Fulfillment_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status_to_Returned</name>
        <label>Set Order Status to Returned</label>
        <locationX>655</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if this return has been processed</description>
        <name>Previously_Returned</name>
        <label>Previously Returned</label>
        <locationX>265</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Do_nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Records</targetReference>
            </connector>
            <label>Return Submitted</label>
        </rules>
    </decisions>
    <description>Flow to create credit information for CFS and Print purposes</description>
    <interviewLabel>Create Credit Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit Records</label>
    <loops>
        <name>Create_Fulfillment_Items</name>
        <label>Create Fulfillment Items</label>
        <locationX>651</locationX>
        <locationY>204</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfillment_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_Fulfillment_Item_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Records to be created for Credit Purposes</description>
        <name>Create_Fulfillment_Records</name>
        <label>Create Fulfillment Records</label>
        <locationX>484</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>vFulfillmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Fulfillment_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Transaction_Payment__c</field>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplemental_Information__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Write_Fulfillment_Item_Records</name>
        <label>Write Fulfillment Item Records</label>
        <locationX>647</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Set_Order_Status_to_Returned</targetReference>
        </connector>
        <inputReference>colFulfillmentItem</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Order (Credit Memo)</description>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>201</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previously_Returned</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all Credit Records</description>
        <name>Get_Order_Item_Records</name>
        <label>Get Order Item Records</label>
        <locationX>342</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment_Records</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment_Records</name>
        <label>Get Transaction Payment Records</label>
        <locationX>485</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Fulfillment_Records</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Order to Returned</description>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>900</locationX>
        <locationY>555</locationY>
        <inputReference>sOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>colFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <description>Credit Items</description>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <description>Fulfillment record header for credit</description>
        <name>sFulfillment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <description>Order that starts the flow</description>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <description>Record ID of newly created Fulfillment Record</description>
        <name>vFulfillmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
