force-app/main/default/flows/Create_Additional_Vouchers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Voucher_to_Collection</name>
        <label>Add Voucher to Collection</label>
        <locationX>926</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>collVoucher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVoucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Counter</name>
        <label>Set Loop Counter</label>
        <locationX>926</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Vouchers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voucher</name>
        <label>Set Voucher</label>
        <locationX>1116</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Cloud_Craze_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Learning_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Learning_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecrementLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.CC_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Voucher_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_Add_to_Class</name>
        <label>Can Add to Class</label>
        <locationX>369</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Unable_to_Add_Vouchers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>canAdd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sILTClass.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTP/AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Class_Closed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item</targetReference>
            </connector>
            <label>canAdd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_for_Vouchers</name>
        <label>Loop-for-Vouchers</label>
        <locationX>919</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Create_Voucher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MainLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voucher</targetReference>
            </connector>
            <label>MainLoop</label>
        </rules>
    </decisions>
    <description>Creates additional Vouchers for a Class</description>
    <formulas>
        <name>DecrementLoop</name>
        <dataType>Number</dataType>
        <expression>{!LoopCounter} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fAvailableSeats</name>
        <dataType>Number</dataType>
        <expression>{!sILTClass.Available_Seats__c} + {!Number_of_Vouchers}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fMaxSeats</name>
        <dataType>Number</dataType>
        <expression>{!sILTClass.redwing__Max_Seats__c} + {!Number_of_Vouchers}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetLoop</name>
        <dataType>Number</dataType>
        <expression>{!sTrainingEvent.Max_Course_Catalog_Students__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Additional Vouchers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Additional Vouchers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Voucher</name>
        <label>Create Voucher</label>
        <locationX>761</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Update_ILT_Class</targetReference>
        </connector>
        <inputReference>collVoucher</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ILT_Class_ID</name>
        <label>Get ILT Class ID</label>
        <locationX>197</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_Add_to_Class</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Available_Seats__c</queriedFields>
        <queriedFields>Cloud_Craze_Product__c</queriedFields>
        <queriedFields>Learning_Plan__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>redwing__Max_Seats__c</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CC_Order_Number__c</queriedFields>
        <queriedFields>Class_Closed_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>561</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Vouchers</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.CC_Order_Number__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update available seats and max seats after adding vouchers</description>
        <name>Update_ILT_Class</name>
        <label>Update ILT Class</label>
        <locationX>633</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Seats__c</field>
            <value>
                <elementReference>fAvailableSeats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>redwing__Max_Seats__c</field>
            <value>
                <elementReference>fMaxSeats</elementReference>
            </value>
        </inputAssignments>
        <object>redwing__ILT_Class__c</object>
    </recordUpdates>
    <screens>
        <description>Get number of vouchers to add to class</description>
        <name>Add_Vouchers</name>
        <label>Add Vouchers</label>
        <locationX>741</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Loop_Counter</targetReference>
        </connector>
        <fields>
            <name>dspMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!sILTClass.Offering_Id__c} - Class Name &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!sILTClass.Name} is a  {!sILTClass.Request_Type__c} class type.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;How many vouchers would you like to add?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Vouchers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Number of Vouchers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You must enter a positive number of vouchers to add&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_Vouchers} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>500</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dspSuccess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Success&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Number_of_Vouchers} of Vouchers have been added to {!sILTClass.Offering_Id__c} - Class Name &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!sILTClass.Name} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Vouchers may only be added to classes provided by LTP/AP</description>
        <name>Unable_to_Add_Vouchers</name>
        <label>Unable to Add Vouchers</label>
        <locationX>556</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errCanNotAdd</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!sILTClass.Offering_Id__c} - Class Name &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!sILTClass.Name} is a  {!sILTClass.Request_Type__c} class type.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You are not allowed to add vouchers to this this class type or class is closed. Please contact the scheduling department.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_ILT_Class_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>collVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>frmILTClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sinVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
</Flow>
