force-app/main/default/flows/Create_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Order_Header_Output</name>
        <label>Set Order Header Output</label>
        <locationX>496</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>sOutOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Output_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Output_Updates</name>
        <label>Set Order Output Updates</label>
        <locationX>496</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>sOutOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Create Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Header_Info</name>
        <label>Get Order Header Info</label>
        <locationX>180</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentReason__c</queriedFields>
        <queriedFields>ccrz__BillTo__c</queriedFields>
        <queriedFields>ccrz__BuyerCompanyName__c</queriedFields>
        <queriedFields>ccrz__BuyerEmail__c</queriedFields>
        <queriedFields>ccrz__BuyerLastName__c</queriedFields>
        <queriedFields>ccrz__BuyerFirstName__c</queriedFields>
        <queriedFields>ccrz__BuyerMobilePhone__c</queriedFields>
        <queriedFields>ccrz__BuyerPhone__c</queriedFields>
        <queriedFields>ccrz__CCEmailAddress__c</queriedFields>
        <queriedFields>ccrz__CCSubscription__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__ContractId__c</queriedFields>
        <queriedFields>ccrz__CurrencyISOCode__c</queriedFields>
        <queriedFields>ccrz__EffectiveAccountID__c</queriedFields>
        <queriedFields>ccrz__ExtCarrier__c</queriedFields>
        <queriedFields>ccrz__ExtShipTo__c</queriedFields>
        <queriedFields>ccrz__IsAnonymous__c</queriedFields>
        <queriedFields>ccrz__Name__c</queriedFields>
        <queriedFields>ccrz__Note__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderDate__c</queriedFields>
        <queriedFields>ccrz__OrderId__c</queriedFields>
        <queriedFields>ccrz__OrderName__c</queriedFields>
        <queriedFields>ccrz__OrderNumber__c</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
        <queriedFields>ccrz__PaymentMethod__c</queriedFields>
        <queriedFields>ccrz__ShipAmount__c</queriedFields>
        <queriedFields>ccrz__ShipDiscountAmount__c</queriedFields>
        <queriedFields>ccrz__ShipMethod__c</queriedFields>
        <queriedFields>ccrz__ShipStructure__c</queriedFields>
        <queriedFields>ccrz__ShipTo__c</queriedFields>
        <queriedFields>ccrz__SkipTax__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__SubtotalAmount__c</queriedFields>
        <queriedFields>ccrz__TaxAmount__c</queriedFields>
        <queriedFields>ccrz__TaxExemptFlag__c</queriedFields>
        <queriedFields>ccrz__TaxSubTotalAmount__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
        <queriedFields>ccrz__TotalDiscount__c</queriedFields>
        <queriedFields>ccrz__TotalSurcharge__c</queriedFields>
        <queriedFields>ccrz__VerifyExemptionFlag__c</queriedFields>
        <queriedFields>Highest_Item_Discount__c</queriedFields>
        <queriedFields>Opportunity1__c</queriedFields>
        <queriedFields>Opportunity_Order__c</queriedFields>
        <queriedFields>Override_Credit_Limit__c</queriedFields>
        <queriedFields>Resend_Receipt__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Details</name>
        <label>Get Order Item Details</label>
        <locationX>337</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__AbsoluteDiscount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__AvailabilityMessage__c</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ccrz__Coupon__c</queriedFields>
        <queriedFields>ccrz__DisplayProduct__c</queriedFields>
        <queriedFields>ccrz__ExtName__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__Is_Subscription__c</queriedFields>
        <queriedFields>ccrz__ItemLabel__c</queriedFields>
        <queriedFields>ccrz__ItemStatus__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Next_Subscription_Date__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemGroup__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__ParentProduct__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__PricingModifierTypes__c</queriedFields>
        <queriedFields>ccrz__PricingType__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__SecondaryAttr__c</queriedFields>
        <queriedFields>ccrz__SelectedAttr__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__SubProdTerm__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>497</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Header_Output</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>colTransactionPayments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>cclxrep__Contract__c</queriedFields>
        <queriedFields>ccpgcs__Address__c</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__AccountNumber__c</queriedFields>
        <queriedFields>ccrz__Address__c</queriedFields>
        <queriedFields>ccrz__AccountType__c</queriedFields>
        <queriedFields>ccrz__Amount__c</queriedFields>
        <queriedFields>ccrz__BillTo__c</queriedFields>
        <queriedFields>ccrz__CCOrder__c</queriedFields>
        <queriedFields>ccrz__CCSubscription__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__CurrencyISOCode__c</queriedFields>
        <queriedFields>ccrz__ExpirationMonth__c</queriedFields>
        <queriedFields>ccrz__ExpirationYear__c</queriedFields>
        <queriedFields>ccrz__InvoiceAppliedFor__c</queriedFields>
        <queriedFields>ccrz__InvoiceAppliedTo__c</queriedFields>
        <queriedFields>ccrz__ParentTransactionPayment__c</queriedFields>
        <queriedFields>ccrz__PaymentType__c</queriedFields>
        <queriedFields>ccrz__SoldTo__c</queriedFields>
        <queriedFields>ccrz__SourceTransactionPayment__c</queriedFields>
        <queriedFields>ccrz__StoredPayment__c</queriedFields>
        <queriedFields>ccrz__SubAccountNumber__c</queriedFields>
        <queriedFields>ccrz__Token__c</queriedFields>
        <queriedFields>ccrz__TransactionCode__c</queriedFields>
        <queriedFields>ccrz__TransactionPaymentId__c</queriedFields>
        <queriedFields>ccrz__TransactionSubcode__c</queriedFields>
        <queriedFields>ccrz__TransactionTS__c</queriedFields>
        <queriedFields>ccrz__TransactionType__c</queriedFields>
        <queriedFields>ccrz__User__c</queriedFields>
        <queriedFields>ccrz__VerificationCode__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Get_Order_Info</name>
        <label>Get Order Info</label>
        <locationX>888</locationX>
        <locationY>270</locationY>
        <inputReference>sOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order_Header_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colTransactionPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOutOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
</Flow>
