force-app/main/default/flows/Create_Vouchers_from_TE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Voucher_to_Collection</name>
        <label>Add Voucher to Collection</label>
        <locationX>537</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>collVoucher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVoucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Counter</name>
        <label>Set Loop Counter</label>
        <locationX>116</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Max_Course_Catalog_Students__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voucher</name>
        <label>Set Voucher</label>
        <locationX>541</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Learning_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sProduct.LMS_Learning_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecrementLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Voucher_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_for_Vouchers</name>
        <label>Loop-for-Vouchers</label>
        <locationX>306</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Create_Voucher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MainLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voucher</targetReference>
            </connector>
            <label>MainLoop</label>
        </rules>
    </decisions>
    <description>Create Vouchers from TE when Status changes to Completed</description>
    <formulas>
        <name>DecrementLoop</name>
        <dataType>Number</dataType>
        <expression>{!LoopCounter} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetLoop</name>
        <dataType>Number</dataType>
        <expression>{!sTrainingEvent.Max_Course_Catalog_Students__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Vouchers from TE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Vouchers from TE</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Voucher</name>
        <label>Create Voucher</label>
        <locationX>306</locationX>
        <locationY>541</locationY>
        <inputReference>collVoucher</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>110</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order_Item__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>114</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Loop_Counter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
        <queriedFields>LMS_Learning_Plan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_ID_Fields</name>
        <label>Get Training ID Fields</label>
        <locationX>106</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Max_Course_Catalog_Students__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Course_ID__c</queriedFields>
        <queriedFields>Instructor_1__c</queriedFields>
        <queriedFields>Number_of_Instructors__c</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Training_ID_Fields</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>collVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
</Flow>
