force-app/main/default/flows/Create_Sales_Oppurtunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_Sales_Opportunity_Record</name>
        <label>Create Sales Opportunity Record</label>
        <locationX>115</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>siOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSalesRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siOpportunity.CC_Account_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forAccountGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Opportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SalesRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125B0000003O8ZQAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Group_Not_Found</name>
        <label>Account Group Not Found</label>
        <locationX>513</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Create_Sales_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>siAccountGroup.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>siAccountGroup.ccrz__E_AccountGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Account</targetReference>
            </connector>
            <label>Is Parent Account?</label>
        </rules>
    </decisions>
    <description>Added Primary Product</description>
    <formulas>
        <description>If Oppurtunity does not have an account group set default to Account Account Group</description>
        <name>forAccountGroup</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!siOpportunity.CC_Account_Group__c}),{!siAccountGroup.ccrz__E_AccountGroup__c}, {!siOpportunity.CC_Account_Group__c})</expression>
    </formulas>
    <formulas>
        <name>SalesContractName</name>
        <dataType>String</dataType>
        <expression>{!siOpportunity.Name}&amp;&quot; - Sales Oppty&quot;</expression>
    </formulas>
    <interviewLabel>Create Sales Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sales Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sales_Opportunity</name>
        <label>Create Sales Opportunity</label>
        <locationX>114</locationX>
        <locationY>297</locationY>
        <assignRecordIdToReference>outSalesOpp</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>siOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Account_Group__c</field>
            <value>
                <elementReference>siOpportunity.CC_Account_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>siOpportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Opportunity__c</field>
            <value>
                <elementReference>siOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>siOpportunity.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>siOpportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Jurisdictional_Type__c</field>
            <value>
                <elementReference>siOpportunity.Multi_Jurisdictional_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Jurisdictional__c</field>
            <value>
                <elementReference>siOpportunity.Multi_Jurisdictional__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>siOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Product__c</field>
            <value>
                <elementReference>siOpportunity.Primary_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>siOpportunity.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_Notes__c</field>
            <value>
                <elementReference>siOpportunity.Scheduling_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>siOpportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>siOpportunity.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Group_from_Account</name>
        <label>Get Account Group from Account</label>
        <locationX>318</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Group_Not_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>siOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>siAccountGroup.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siAccountGroup.ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siAccountGroup.ccrz__E_AccountGroup__c</assignToReference>
            <field>ccrz__E_AccountGroup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Opportunity</name>
        <label>Get Contract Opportunity</label>
        <locationX>23</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Opportunity_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContractOpportunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>siOpportunity.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Account_Owner__c</assignToReference>
            <field>Account_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.CC_Account_Group__c</assignToReference>
            <field>CC_Account_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.CloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Customer_Contact__c</assignToReference>
            <field>Customer_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Multi_Jurisdictional_Type__c</assignToReference>
            <field>Multi_Jurisdictional_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Multi_Jurisdictional__c</assignToReference>
            <field>Multi_Jurisdictional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Primary_Product__c</assignToReference>
            <field>Primary_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Scheduling_Notes__c</assignToReference>
            <field>Scheduling_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.StageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siOpportunity.Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Account</name>
        <label>Get Parent Account</label>
        <locationX>509</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Opportunity_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>siAccountGroup.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>siAccountGroup.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siAccountGroup.ccrz__E_AccountGroup__c</assignToReference>
            <field>ccrz__E_AccountGroup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Opportunity_Record_Type_ID</name>
        <label>Get Sales Opportunity Record Type ID</label>
        <locationX>165</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Group_from_Account</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varSalesRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Contract_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmContractOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outSalesOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>siAccountGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Contract Opportunity</description>
        <name>siOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varSalesRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
