force-app/main/default/flows/Create_On_Hold_Order_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Record Found - Do Nothing</description>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>354</locationX>
        <locationY>242</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>836</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>sCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtInvoicing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Instructor_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoicing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Dispute_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Invoicing Privileges</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Type_of_Price_Dispute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Available Credit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organization Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NEW_On_Hold_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Values_for_Invalid_Contract</name>
        <label>Case Values for Invalid Contract</label>
        <locationX>835</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>sCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtSalesCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Instructor_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group Sales Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organization Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NEW_On_Hold_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoicing_Record_Type_Value</name>
        <label>Set Invoicing Record Type Value</label>
        <locationX>243</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>rtInvoicing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Record_types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Case_Record_Type_Value</name>
        <label>Set Sales Case Record Type Value</label>
        <locationX>244</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>rtSalesCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Record_types</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cInvoiceRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125B000000NIIVQA4</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record type of sales case</description>
        <name>cSalesRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012d000000097TAAAY</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check to See if a On Hold order case has been created in the past</description>
        <name>Found_Existing_Case_Record</name>
        <label>Found Existing Case Record</label>
        <locationX>342</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_On_Hold_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Nothing</targetReference>
            </connector>
            <label>Found On Hold Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Status_On_Hold</name>
        <label>Order Status On Hold</label>
        <locationX>667</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Limit_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.Error_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Over Credit Limit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Values</targetReference>
            </connector>
            <label>Credit Limit Hold</label>
        </rules>
        <rules>
            <name>Sales_Holds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.Error_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Over Credit Limit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Values_for_Invalid_Contract</targetReference>
            </connector>
            <label>Sales Holds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Record</name>
        <label>Type of Record</label>
        <locationX>64</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Record_types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Invoice_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoicing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoicing_Record_Type_Value</targetReference>
            </connector>
            <label>Is Invoice Record Type</label>
        </rules>
        <rules>
            <name>is_Sales_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Case_Record_Type_Value</targetReference>
            </connector>
            <label>is Sales Case</label>
        </rules>
    </decisions>
    <description>Create a case for Orders placed on hold - Remove Order Number Text</description>
    <formulas>
        <description>Subject for Case</description>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;On Hold Order for Account: &quot; &amp; {!sOrder.ccrz__Account__c} &amp; &quot; Reason: &quot; &amp; {!sOrder.Error_Message__c}</expression>
    </formulas>
    <formulas>
        <name>fDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Order Number: &quot; &amp; {!sOrder.Name} &amp; &quot; has been placed on hold for the following reason: &quot; &amp; {!sOrder.Error_Message__c}</expression>
    </formulas>
    <interviewLabel>Create On Hold Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create On Hold Order Case</label>
    <loops>
        <name>Loop_through_Record_types</name>
        <label>Loop through Record types</label>
        <locationX>58</locationX>
        <locationY>361</locationY>
        <assignNextValueToReference>sRecordType</assignNextValueToReference>
        <collectionReference>colRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Case_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new on hold case record for On Hold order if Case has not been closed</description>
        <name>Create_NEW_On_Hold_Case</name>
        <label>Create NEW On Hold Case</label>
        <locationX>994</locationX>
        <locationY>125</locationY>
        <inputReference>sCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Case_Exists</name>
        <label>Check if Case Exists</label>
        <locationX>209</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Case_Record</targetReference>
        </connector>
        <filters>
            <field>CC_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Unresolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoicing</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Case_Record_Type__c</queriedFields>
        <queriedFields>Case_Sub_Type__c</queriedFields>
        <queriedFields>Current_Order_Amount__c</queriedFields>
        <queriedFields>Order_ID__c</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Instructor_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Types</name>
        <label>Get Case Record Types</label>
        <locationX>50</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Record_types</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>colRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Prepare for setting case information</description>
        <name>Get_Order_Information</name>
        <label>Get Order Information</label>
        <locationX>568</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Status_On_Hold</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__Name__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__OrderId__c</queriedFields>
        <queriedFields>ccrz__OrderName__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_Case_Record_Types</startElementReference>
    <status>Active</status>
    <variables>
        <name>colRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>frmOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>rtInvoicing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rtSalesCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Record</description>
        <name>sCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
