force-app/main/default/flows/Create_Mass_Cancellation_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Case_Output</name>
        <label>Add to Case Output</label>
        <locationX>493</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>outCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Voucher_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>493</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>sCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtServiceCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Course Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community Course Registration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVoucher.Related_Order_Contact_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescriptio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtQueueName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Primary_Reason_for_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Course_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Preferred_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Within 25 miles</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Time_Frame__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next 31 days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Any Day</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Course_Format__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Offering_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILT_Class.Offering_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Course Cancellation </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.Transferred_to_RSG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVoucher.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVoucher.CC_Order_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cCaseQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Case_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matched_Set_with_Voucher_Info</name>
        <label>Matched Set with Voucher Info</label>
        <locationX>727</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>lastOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVoucher.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCase.CC_Order_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CEP_Cancelation_Queue</name>
        <label>Set CEP Cancelation Queue</label>
        <locationX>175</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>cCEPCancelQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Queue_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CEP_Queue</name>
        <label>Set CEP Queue</label>
        <locationX>903</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>cCaseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cCEPCancelQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Claimed_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Community_Cancelation_Queue</name>
        <label>Set Community Cancelation Queue</label>
        <locationX>38</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>cCommunityCancelationQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Queue_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NAT_Cancelation_Queue</name>
        <label>Set NAT Cancelation Queue</label>
        <locationX>285</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>cNATCancelationQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Queue_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NAT_Queue</name>
        <label>Set NAT Queue</label>
        <locationX>1082</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>cCaseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cNATCancelationQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Claimed_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>489</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>rtServiceCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rtQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ILT_Class</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Voucher_Match</name>
        <label>Is Voucher Match</label>
        <locationX>729</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Voucher_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sVoucher.CC_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>lastOrderNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sVoucher.CC_Order_Item__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>lastOrderItem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_Set_with_Voucher_Info</targetReference>
            </connector>
            <label>Not Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Queue_Variables</name>
        <label>Set Queue Variables</label>
        <locationX>162</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Set_Queue_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CEP_Cancelation_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sGroup.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEP_Cancelation_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CEP_Cancelation_Queue</targetReference>
            </connector>
            <label>Is CEP Cancelation Queue</label>
        </rules>
        <rules>
            <name>Is_NAT_Cancelation_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sGroup.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAT_Cancelation_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NAT_Cancelation_Queue</targetReference>
            </connector>
            <label>Is NAT Cancelation Queue</label>
        </rules>
        <rules>
            <name>Is_Community_Cancelation_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sGroup.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Cancelation_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Community_Cancelation_Queue</targetReference>
            </connector>
            <label>Is Community Cancelation Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Queue</name>
        <label>What Queue</label>
        <locationX>760</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Get_Claimed_Vouchers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAT_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sILT_Class.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurse Assistant Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NAT_Queue</targetReference>
            </connector>
            <label>NAT Queue</label>
        </rules>
        <rules>
            <name>CEP_QUeue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sILT_Class.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurse Assistant Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CEP_Queue</targetReference>
            </connector>
            <label>CEP QUeue</label>
        </rules>
    </decisions>
    <formulas>
        <description>Subject for Case</description>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>{!sVoucher.CC_Order__r.Name} &amp; &quot;- Class  Cancelled:  &quot; &amp; {!sILT_Class.Learning_Plan__r.Name} &amp; &quot; Reason: &quot; &amp; {!sILTRoster.Cancellation_Reason__c}</expression>
    </formulas>
    <formulas>
        <name>fDescriptio</name>
        <dataType>String</dataType>
        <expression>&quot;Order: &quot; &amp; {!sVoucher.CC_Order__r.Name} &amp;&quot; Course: &quot; &amp; {!sILT_Class.Learning_Plan__r.Name} &amp; &quot; has been cancelled.  Class Details: &quot; &amp; &quot; Date Range: &quot; &amp; TEXT({!sILT_Class.redwing__Start_Date__c}) &amp; &quot;-&quot; &amp;  TEXT({!sILT_Class.redwing__End_Date__c})  &amp; &quot; Time:&quot; &amp; ({!sILT_Class.redwing__Start_Time__c}) &amp; &quot;-&quot; &amp; ({!sILT_Class.redwing__End_Time__c}) 
  &amp; &quot; Location: &quot; &amp;  {!sILT_Class.redwing__Location__r.Name} &amp; &quot; Zip: &quot; &amp; ({!sILT_Class.Location_ZIP_Code__c})</expression>
    </formulas>
    <interviewLabel>Create Mass Cancellation Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Mass Cancellation Cases</label>
    <loops>
        <name>Set_Queue_IDs</name>
        <label>Set Queue IDs</label>
        <locationX>173</locationX>
        <locationY>197</locationY>
        <assignNextValueToReference>sGroup</assignNextValueToReference>
        <collectionReference>colQueues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Queue_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Voucher_loop</name>
        <label>Voucher loop</label>
        <locationX>623</locationX>
        <locationY>396</locationY>
        <assignNextValueToReference>sVoucher</assignNextValueToReference>
        <collectionReference>colVoucher</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Voucher_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Cases</name>
        <label>Create Order Cases</label>
        <locationX>881</locationX>
        <locationY>391</locationY>
        <inputReference>outCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>339</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimed_Vouchers</name>
        <label>Get Claimed Vouchers</label>
        <locationX>618</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voucher_loop</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Voucher__c</object>
        <outputReference>colVoucher</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>CC_Product__c</queriedFields>
        <queriedFields>Class_Location__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Learning_Plan__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Voucher_Claim__c</queriedFields>
        <queriedFields>Related_Order_Contact_1__c</queriedFields>
        <queriedFields>Related_Order_Contact_2__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get_ILT_Class</label>
        <locationX>626</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Queue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILT_Class</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Start_Date__c</queriedFields>
        <queriedFields>redwing__Start_Time__c</queriedFields>
        <queriedFields>redwing__End_Date__c</queriedFields>
        <queriedFields>redwing__End_Time__c</queriedFields>
        <queriedFields>redwing__Location__c</queriedFields>
        <queriedFields>Location_ZIP_Code__c</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
        <queriedFields>Learning_Plan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Community_Cancelation_Queue</name>
        <label>Get Queue Community Cancelation Queue</label>
        <locationX>152</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_IDs</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>colQueues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unclaimed_Vouchers</name>
        <label>Get Unclaimed Vouchers</label>
        <locationX>1173</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claimed_Vouchers</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Voucher__c</object>
        <outputReference>colUnClaimedVouchers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CC_Product__c</queriedFields>
        <queriedFields>Class_Location__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <sortField>CC_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Get_Queue_Community_Cancelation_Queue</startElementReference>
    <status>Active</status>
    <variables>
        <name>cCaseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>cCommunityCancelationQueue</elementReference>
        </value>
    </variables>
    <variables>
        <name>cCEPCancelQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cCommunityCancelationQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cNATCancelationQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ILT Class Collection</description>
        <name>colILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>colQueues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>colUnClaimedVouchers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>colVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>emptyCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>frmILTClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rtQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rtServiceCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Record</description>
        <name>sCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>sILT_Class</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sILTRoster</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Roster__c</objectType>
    </variables>
    <variables>
        <name>sRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
</Flow>
