force-app/main/default/flows/Credit_Balance_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>494</locationX>
        <locationY>547</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Set_Return_Amount</name>
        <label>Set Return Amount</label>
        <locationX>301</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>vRetAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stored_Payment.Remaining_PO_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_CC_Order</name>
        <label>check CC Order</label>
        <locationX>217</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cc_Order_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransPayment.ccrz__CCOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Return_Amount</targetReference>
            </connector>
            <label>cc Order is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CC_Order_Exists</name>
        <label>Check if CC Order Exists</label>
        <locationX>478</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ccOrderExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Receipt</targetReference>
            </connector>
            <label>ccOrderExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Stored_Payment</name>
        <label>Find Stored Payment</label>
        <locationX>53</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stored_Payment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stored_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Payment_Record</targetReference>
            </connector>
            <label>Stored Payment Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>fRetAmount</name>
        <dataType>Currency</dataType>
        <expression>{!vRetAmount} * -1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Credit Balance Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Balance Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Receipt</name>
        <label>Create Order Receipt</label>
        <locationX>648</locationX>
        <locationY>177</locationY>
        <assignRecordIdToReference>vOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>sOrderItem</targetReference>
        </connector>
        <inputAssignments>
            <field>CRE_Request_Processed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Return_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Order__c</field>
            <value>
                <elementReference>sOrder.Opportunity_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AdjustmentAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BillTo__c</field>
            <value>
                <elementReference>sOrder.ccrz__BillTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Contact__c</field>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CurrencyISOCode__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Name__c</field>
            <value>
                <stringValue>Credit Balance Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginatedCart__c</field>
            <value>
                <elementReference>sOrder.ccrz__OriginatedCart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ShipAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ShipDiscountAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <elementReference>sOrder.ccrz__Storefront__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TaxAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TotalDiscount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__User__c</field>
            <value>
                <elementReference>sOrder.ccrz__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>sFulfillment</name>
        <label>sFulfillment</label>
        <locationX>616</locationX>
        <locationY>352</locationY>
        <assignRecordIdToReference>vFulfillment</assignRecordIdToReference>
        <connector>
            <targetReference>sFulItem</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Transaction_Payment__c</field>
            <value>
                <elementReference>vTransPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Receipt</stringValue>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordCreates>
        <name>sFulItem</name>
        <label>sFulItem</label>
        <locationX>617</locationX>
        <locationY>523</locationY>
        <connector>
            <targetReference>Update_Stored_Payment_Remaining_Balance</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment__c</field>
            <value>
                <elementReference>vFulfillment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Item__c</field>
            <value>
                <elementReference>vOrderItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <object>Fulfillment_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>sOrderItem</name>
        <label>sOrderItem</label>
        <locationX>822</locationX>
        <locationY>177</locationY>
        <assignRecordIdToReference>vOrderItem</assignRecordIdToReference>
        <connector>
            <targetReference>sTransPay</targetReference>
        </connector>
        <inputAssignments>
            <field>Inventory_Type__c</field>
            <value>
                <elementReference>sProduct.ccrz__InventoryType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <stringValue>48160</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TS_LOC__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Code__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtSKU__c</field>
            <value>
                <elementReference>sProduct.ccrz__SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ItemStatus__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Major</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>fRetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>fRetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PricingType__c</field>
            <value>
                <stringValue>external</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StoreId__c</field>
            <value>
                <elementReference>sOrder.ccrz__Storefront__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>fRetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__UnitOfMeasure__c</field>
            <value>
                <elementReference>sProduct.ccrz__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>sTransPay</name>
        <label>sTransPayment</label>
        <locationX>823</locationX>
        <locationY>352</locationY>
        <assignRecordIdToReference>vTransPay</assignRecordIdToReference>
        <connector>
            <targetReference>sFulfillment</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__AccountType__c</field>
            <value>
                <stringValue>cc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Amount__c</field>
            <value>
                <elementReference>fRetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BillTo__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__BillTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CCOrder__c</field>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CurrencyISOCode__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExpirationMonth__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__ExpirationMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExpirationYear__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__ExpirationYear__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentTransactionPayment__c</field>
            <value>
                <elementReference>sTransPayment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PaymentType__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__PaymentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__RequestAmount__c</field>
            <value>
                <elementReference>vRetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SoldTo__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__SoldTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SourceTransactionPayment__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__SourceTransactionPayment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StoredPayment__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__StoredPayment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <elementReference>sOrder.ccrz__Storefront__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Token__c</field>
            <value>
                <elementReference>sTransPayment.ccrz__Token__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TransactionType__c</field>
            <value>
                <stringValue>AUTH</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_TransactionPayment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Stored_Payment</name>
        <label>Get Stored Payment</label>
        <locationX>49</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Stored_Payment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmStoredPayment</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Remaining_PO_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment_Record</name>
        <label>Get Transaction Payment Record</label>
        <locationX>155</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_CC_Order</targetReference>
        </connector>
        <filters>
            <field>ccrz__AccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cb</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__StoredPayment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmStoredPayment</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__AccountType__c</queriedFields>
        <queriedFields>ccrz__Amount__c</queriedFields>
        <queriedFields>ccrz__BillTo__c</queriedFields>
        <queriedFields>ccrz__CCOrder__c</queriedFields>
        <queriedFields>ccrz__AccountNumber__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__ParentTransactionPayment__c</queriedFields>
        <queriedFields>ccrz__PaymentType__c</queriedFields>
        <queriedFields>ccrz__RequestAmount__c</queriedFields>
        <queriedFields>ccrz__SoldTo__c</queriedFields>
        <queriedFields>ccrz__Token__c</queriedFields>
        <queriedFields>ccrz__StoredPayment__c</queriedFields>
        <queriedFields>ccrz__TransactionPaymentId__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__TransactionCode__c</queriedFields>
        <queriedFields>ccrz__TransactionType__c</queriedFields>
        <queriedFields>ccrz__SourceTransactionPayment__c</queriedFields>
        <queriedFields>ccrz__ExpirationMonth__c</queriedFields>
        <queriedFields>ccrz__ExpirationYear__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>sOrder</name>
        <label>sOrder</label>
        <locationX>484</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CC_Order_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__BillTo__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__ContractId__c</queriedFields>
        <queriedFields>ccrz__CurrencyISOCode__c</queriedFields>
        <queriedFields>ccrz__OrderDate__c</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
        <queriedFields>FOCIS_Category__c</queriedFields>
        <queriedFields>Is_Return_Order__c</queriedFields>
        <queriedFields>Opportunity_Order__c</queriedFields>
        <queriedFields>ccrz__User__c</queriedFields>
        <queriedFields>ccrz__OriginatedCart__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Return Product Fee type</description>
        <name>sProduct</name>
        <label>sProduct</label>
        <locationX>303</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sOrder</targetReference>
        </connector>
        <filters>
            <field>ccrz__SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmReturnSku</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AP_Code__c</queriedFields>
        <queriedFields>CC_Category__c</queriedFields>
        <queriedFields>ccrz__InventoryType__c</queriedFields>
        <queriedFields>ccrz__ProductId__c</queriedFields>
        <queriedFields>ccrz__ProductStatus__c</queriedFields>
        <queriedFields>ccrz__SKU__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>FCC__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Tax_Class__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stored_Payment_Remaining_Balance</name>
        <label>Update Stored Payment Remaining Balance</label>
        <locationX>830</locationX>
        <locationY>523</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmStoredPayment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Remaining_PO_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_StoredPayment__c</object>
    </recordUpdates>
    <startElementReference>Get_Stored_Payment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>frmReturnSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmStoredPayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sTransPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>vFulfillment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTransPay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
