force-app/main/default/flows/Disable_Price_Group_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Output</name>
        <label>Add to Output</label>
        <locationX>547</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>oPriceGroupAccout</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>grpPriceGroupAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_Price_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disable_all_price_group_account_records_for_Storefront</name>
        <label>Disable all price group account records for Storefront</label>
        <locationX>369</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>grpPriceGroupAccount.ccrz__Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output</targetReference>
        </connector>
    </assignments>
    <description>Disable active price group accounts for a particular storefront</description>
    <interviewLabel>Disable Price Group Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disable Price Group Accounts</label>
    <loops>
        <name>Loop_Group_Price_Lists</name>
        <label>Loop Group Price Lists</label>
        <locationX>368</locationX>
        <locationY>409</locationY>
        <assignNextValueToReference>grpPriceGroupAccount</assignNextValueToReference>
        <collectionReference>CgrpPriceGroupAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Disable_all_price_group_account_records_for_Storefront</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Price_Group_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Price_Group_Accounts</name>
        <label>Loop Through Price Group Accounts</label>
        <locationX>365</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>oppPriceGroupAccount</assignNextValueToReference>
        <collectionReference>CoppPriceGroupAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Price_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Price_Group_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Price_Groups</name>
        <label>Get Account Price Groups</label>
        <locationX>522</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Price_Lists</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppPriceGroupAccount.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppPriceGroupAccount.ccrz__Storefront__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupAccount__c</object>
        <outputReference>CgrpPriceGroupAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__Enabled__c</queriedFields>
        <sortField>ccrz__Storefront__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Price_Group_Accounts</name>
        <label>Get Opportunity Price Group Accounts</label>
        <locationX>184</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Price_Group_Accounts</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOpportunity</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupAccount__c</object>
        <outputReference>CoppPriceGroupAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Enabled__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <sortField>ccrz__Storefront__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price_Group_Account</name>
        <label>Update Price Group Account</label>
        <locationX>544</locationX>
        <locationY>55</locationY>
        <inputReference>oPriceGroupAccout</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity_Price_Group_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>CgrpPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>CoppPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>frmOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>grpPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>oppPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>oPriceGroupAccout</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
</Flow>
