force-app/main/default/flows/Expire_Achievement_Assignment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>1173</locationX>
        <locationY>426</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_Catalog_Account_for_Output</name>
        <label>Add Catalog Account for Output</label>
        <locationX>316</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>outCatalogAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sCatalogAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCounter1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Achievement_Assignment_Collection</name>
        <label>Clear Achievement Assignment Collection</label>
        <locationX>190</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>colAchievementAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyAchievementAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Achievements_Expiring_in_90_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Catalog_Account</name>
        <label>Clear Catalog Account</label>
        <locationX>691</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>colCatalogAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCatalogAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outCatalogAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCatalogAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Updated_Achievements_to_Due_Soon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Loop_Variables</name>
        <label>Reset Loop Variables</label>
        <locationX>655</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>outCatalogAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCatalogAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Achievement_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Learning_Catalog_Account</name>
        <label>Set Learning Catalog Account</label>
        <locationX>307</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>sCatalogAccount.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.redwing__Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.redwing__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.Contact_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.redwing__Enable_Catalog_Training_Plans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.redwing__Learning_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.Recertification_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLoopCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.Learning_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.Recertification_Learning_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.Achievement_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCatalogAccount.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.redwing__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Catalog_Account_for_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Catalog_Account_Records_to_Delete</name>
        <label>Any Catalog Account Records to Delete</label>
        <locationX>1170</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCatalogAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Expired_Catalog_Account_Records</targetReference>
            </connector>
            <label>isNotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Expired_Achievement_Assignments</name>
        <label>Found Expired Achievement Assignments</label>
        <locationX>509</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Achievement_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNullAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAchievementAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Catalog_Account</targetReference>
            </connector>
            <label>isNullAA</label>
        </rules>
    </decisions>
    <decisions>
        <name>isFound</name>
        <label>isFound</label>
        <locationX>44</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Clear_Achievement_Assignment_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAchievementAssignmentCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_of_Expired_Achievement_Assignment_Records</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopCounter1</name>
        <label>LoopCounter1</label>
        <locationX>447</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Achievement_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEqual1960</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1960.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Catalog_Account_in_Loop</targetReference>
            </connector>
            <label>isEqual1960</label>
        </rules>
    </decisions>
    <description>Add Recertification Expiration Assignments - Added Expiration Check</description>
    <formulas>
        <name>Expirationdate90daysfromnow</name>
        <dataType>Date</dataType>
        <expression>Today() + 90</expression>
    </formulas>
    <formulas>
        <name>fLoopCounter</name>
        <dataType>Number</dataType>
        <expression>{!LoopCounter} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Expire Achievement Assignment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expire Achievement Assignment Records</label>
    <loops>
        <name>Loop_through_Achievement_Assignments</name>
        <label>Loop through Achievement Assignments</label>
        <locationX>377</locationX>
        <locationY>237</locationY>
        <assignNextValueToReference>sAchievementAssignment</assignNextValueToReference>
        <collectionReference>colAchievementAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Learning_Catalog_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Catalog_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Catalog_Account_in_Loop</name>
        <label>Create Catalog Account in Loop</label>
        <locationX>662</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Reset_Loop_Variables</targetReference>
        </connector>
        <inputReference>outCatalogAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Catalog_Account_Records</name>
        <label>Create Catalog Account Records</label>
        <locationX>607</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Clear_Catalog_Account</targetReference>
        </connector>
        <inputReference>outCatalogAccount</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Expired_Catalog_Account_Records</name>
        <label>Delete Expired Catalog Account Records</label>
        <locationX>1359</locationX>
        <locationY>283</locationY>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </filters>
        <object>redwing__Learning_Category_Account__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Achievement_Assignment_Records</name>
        <label>Get Achievement Assignment Records</label>
        <locationX>50</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isFound</targetReference>
        </connector>
        <filters>
            <field>redwing__Expiration_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>sAchievementAssignmentCheck</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Search for Certificates expiring in 90 days and add to the Recertification Catalog</description>
        <name>Get_Achievements_Expiring_in_90_Days</name>
        <label>Get Achievements Expiring in 90 Days</label>
        <locationX>252</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Expired_Achievement_Assignments</targetReference>
        </connector>
        <filters>
            <field>Achievement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certifications</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recertification_Catalog__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recertification__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recertification__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Due Soon</stringValue>
            </value>
        </filters>
        <filters>
            <field>redwing__Expiration_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Expirationdate90daysfromnow</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>colAchievementAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recertification__c</queriedFields>
        <queriedFields>Contact_Account__c</queriedFields>
        <queriedFields>redwing__Expiration_Date__c</queriedFields>
        <queriedFields>redwing__Achievement__c</queriedFields>
        <queriedFields>Recertification_Catalog__c</queriedFields>
        <queriedFields>Recertification_Learning_Plan__c</queriedFields>
        <queriedFields>redwing__User__c</queriedFields>
        <queriedFields>redwing__Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Catalogs_Entries_Expiring_Today</name>
        <label>Get Catalogs Entries Expiring Today</label>
        <locationX>1013</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Catalog_Account_Records_to_Delete</targetReference>
        </connector>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </filters>
        <object>redwing__Learning_Category_Account__c</object>
        <outputReference>colCatalogAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Searches for Achievement Assignments that have passed the expiration date - May have been replaced by Appinium function</description>
        <name>Change_Status_of_Expired_Achievement_Assignment_Records</name>
        <label>Change Status of Expired Achievement Assignment Records</label>
        <locationX>65</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Clear_Achievement_Assignment_Collection</targetReference>
        </connector>
        <filters>
            <field>redwing__Expiration_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Recertification__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>redwing__Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>redwing__Achievement_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Updated_Achievements_to_Due_Soon</name>
        <label>Set Updated Achievements to Due Soon</label>
        <locationX>841</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Update_Expired_Learning_Plan_Assignments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Expired_Learning_Plan_Assignments</targetReference>
        </faultConnector>
        <filters>
            <field>Achievement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certifications</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recertification_Catalog__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recertification__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Due Soon</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recertification__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>redwing__Expiration_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Expirationdate90daysfromnow</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Recertification__c</field>
            <value>
                <stringValue>Due Soon</stringValue>
            </value>
        </inputAssignments>
        <object>redwing__Achievement_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Learning Plan Assignments to Under Review when past due date</description>
        <name>Update_Expired_Learning_Plan_Assignments</name>
        <label>Update Expired Learning Plan Assignments</label>
        <locationX>1015</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Get_Catalogs_Entries_Expiring_Today</targetReference>
        </connector>
        <filters>
            <field>redwing__Due_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>redwing__Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>redwing__Training_Plan_Assignment__c</object>
    </recordUpdates>
    <startElementReference>Get_Achievement_Assignment_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colCatalogAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning_Category_Account__c</objectType>
    </variables>
    <variables>
        <name>EmptyAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>EmptyCatalogAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning_Category_Account__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outCatalogAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning_Category_Account__c</objectType>
    </variables>
    <variables>
        <name>sAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sAchievementAssignmentCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sCatalogAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning_Category_Account__c</objectType>
    </variables>
</Flow>
