force-app/main/default/flows/Fulfill_CRE_RBC_CPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Order_Item_Output_Collection</name>
        <label>Add to Order Item Output Collection</label>
        <locationX>540</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>colFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_to_Fulfillment</name>
        <label>Order Item to Fulfillment</label>
        <locationX>534</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFulfillmentItem.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__OrderItemId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Payment_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ExtSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__ItemStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Supplemental_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Unit_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmFulfillment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Order_Item_Output_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Fulfill CRE RBC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfill CRE RBC CPS</label>
    <loops>
        <name>Set_Fulfillment_Items</name>
        <label>Set Fulfillment Items</label>
        <locationX>343</locationX>
        <locationY>235</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item_to_Fulfillment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_Fulfillment_Item_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fulfillment_Header</name>
        <label>Create Fulfillment Header</label>
        <locationX>525</locationX>
        <locationY>102</locationY>
        <assignRecordIdToReference>frmFulfillment</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Fulfillment_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Fulfillment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>sOrder.ccrz__Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplemental_Information__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Write_Fulfillment_Item_Records</name>
        <label>Write Fulfillment Item Records</label>
        <locationX>344</locationX>
        <locationY>380</locationY>
        <inputReference>colFulfillmentItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Header_Information</name>
        <label>Get Order Header Information</label>
        <locationX>130</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderDate__c</queriedFields>
        <queriedFields>ccrz__OrderId__c</queriedFields>
        <queriedFields>ccrz__OrderName__c</queriedFields>
        <queriedFields>ccrz__OrderNumber__c</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
        <queriedFields>ccrz__OriginatedCart__c</queriedFields>
        <queriedFields>ccrz__PaymentMethod__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Opportunity_Order__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>308</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Fulfillment_Header</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Order_Header_Information</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmFulfillment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
</Flow>
