force-app/main/default/flows/Kit_Checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Message</name>
        <label>Message</label>
        <locationX>564</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>scrError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did not find SKU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kit_Checker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Product</name>
        <label>Found Product</label>
        <locationX>552</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SKU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Components</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcCompositeInfo</name>
        <dataType>String</dataType>
        <displayField>ccrz__Component__c</displayField>
        <filters>
            <field>ccrz__Composite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_CompositeProduct__c</object>
        <outputAssignments>
            <assignToReference>sCompositeProduct.Minimum_Quantity__c</assignToReference>
            <field>Minimum_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.Student_Ratio__c</assignToReference>
            <field>Student_Ratio__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Category__c</assignToReference>
            <field>ccrz__Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Component__c</assignToReference>
            <field>ccrz__Component__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__CompositeProductId__c</assignToReference>
            <field>ccrz__CompositeProductId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Composite__c</assignToReference>
            <field>ccrz__Composite__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__DescriptionRT__c</assignToReference>
            <field>ccrz__DescriptionRT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Description__c</assignToReference>
            <field>ccrz__Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__ExtendedPrice__c</assignToReference>
            <field>ccrz__ExtendedPrice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Optional__c</assignToReference>
            <field>ccrz__Optional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Parent__c</assignToReference>
            <field>ccrz__Parent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__ProductGroup__c</assignToReference>
            <field>ccrz__ProductGroup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Quantity__c</assignToReference>
            <field>ccrz__Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCompositeProduct.ccrz__Sequence__c</assignToReference>
            <field>ccrz__Sequence__c</field>
        </outputAssignments>
        <valueField>ccrz__Component__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Kit Checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kit Checker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Components</name>
        <label>Get Components</label>
        <locationX>739</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Composite_Products</targetReference>
        </connector>
        <filters>
            <field>ccrz__Composite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_CompositeProduct__c</object>
        <outputReference>colCompositeProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__Component__c</queriedFields>
        <queriedFields>ccrz__Composite__c</queriedFields>
        <queriedFields>ccrz__CompositeProductId__c</queriedFields>
        <queriedFields>ccrz__Description__c</queriedFields>
        <queriedFields>ccrz__DescriptionRT__c</queriedFields>
        <queriedFields>ccrz__ExtendedPrice__c</queriedFields>
        <queriedFields>ccrz__Optional__c</queriedFields>
        <queriedFields>ccrz__Parent__c</queriedFields>
        <queriedFields>ccrz__ProductGroup__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Sequence__c</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Minimum_Quantity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Student_Ratio__c</queriedFields>
        <sortField>ccrz__Component__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SKU</name>
        <label>Get SKU</label>
        <locationX>373</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Product</targetReference>
        </connector>
        <filters>
            <field>ccrz__SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SKU</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Composite_Products</name>
        <label>Display Composite Products</label>
        <locationX>924</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCompositeProduct</name>
            <fieldText>&lt;p&gt;{!colCompositeProduct}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Component_List</name>
            <choiceReferences>rcCompositeInfo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Component List</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dsprecordselection</name>
            <fieldText>&lt;p&gt;{!rcCompositeInfo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Used to verify Kit Information is setup correctly</description>
        <name>Kit_Checker</name>
        <label>Kit Checker</label>
        <locationX>201</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SKU</targetReference>
        </connector>
        <fields>
            <name>SKU</name>
            <dataType>String</dataType>
            <fieldText>SKU</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dspMessage</name>
            <fieldText>&lt;p&gt;{!scrError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Kit_Checker</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colCompositeProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_CompositeProduct__c</objectType>
    </variables>
    <variables>
        <name>sCompositeProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_CompositeProduct__c</objectType>
    </variables>
    <variables>
        <name>scrError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
</Flow>
