force-app/main/default/flows/LoginFlow_for_Community_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Accept_Conditions</name>
        <label>Set Accept Conditions</label>
        <locationX>296</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_UserRecord.Accepted_Community_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_accept</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Accept_Condition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_User_accepted_conditions</name>
        <label>Has User accepted conditions</label>
        <locationX>309</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Accept_TC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accept is false</defaultConnectorLabel>
        <rules>
            <name>Accepted_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoginFlow_UserRecord.Accepted_Community_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Accepted is True</label>
        </rules>
    </decisions>
    <description>This flow is used to set user values for community use.</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>LoginFlow for Community Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoginFlow for Community Users</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookup_user_ID</name>
        <label>lookup user ID</label>
        <locationX>304</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User_accepted_conditions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>LoginFlow_UserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Accepted_Community_Terms__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Accept_Condition</name>
        <label>Update User Accept Condition</label>
        <locationX>298</locationX>
        <locationY>602</locationY>
        <inputReference>LoginFlow_UserRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Accept_TC</name>
        <label>Accept TC</label>
        <locationX>304</locationX>
        <locationY>427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Accept_Conditions</targetReference>
        </connector>
        <fields>
            <name>TermsAndConditions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Terms and Conditions&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;PLEASE READ THE FOLLOWING TERMS AND CONDITIONS TOGETHER WITH THOSE AVAILABLE AT redcross.org/terms-and-conditions (COLLECTIVELY, THE “TERMS”) BEFORE ACCESSING THIS SITE AND DOWNLOADING, STREAMING, OR OTHERWISE USING (“USING” OR “USE”) ANY AMERICAN RED CROSS MATERIALS (“MATERIALS”). BY CONTINUING TO ACCESS THE SITE AND USING THE MATERIALS, YOU HEREBY AGREE TO BE BOUND BY THESE TERMS.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;COPYRIGHT NOTICE (ELECTRONIC MATERIALS)&lt;/B&gt; PLEASE READ THE FOLLOWING TERMS AND CONDITIONS BEFORE AGREEING TO ACCESS OR USE AMERICAN RED CROSS MATERIALS AVAILABLE TO YOU ON THIS SITE (“MATERIALS”). BY ACCESSING OR USING THE MATERIALS, YOU HEREBY AGREE TO BE BOUND BY THE TERMS AND CONDITIONS. The electronic materials, including all content, graphics, images, and logos, are copyrighted by and the exclusive property of The American National Red Cross (&amp;quot;Red Cross&amp;quot;). Unless otherwise indicated in writing by the Red Cross, the Red Cross grants you (&amp;quot;Recipient&amp;quot;) the limited right to download, print, photocopy and use the Electronic Materials, subject to the following restrictions: Recipient is prohibited from selling electronic versions of the materials; Recipient is prohibited from revising, altering, adapting, or modifying the materials; Recipient is prohibited from creating any derivative works incorporating, in part or in whole, the content of the materials; and Recipient is prohibited from downloading the materials and putting them on their own website or otherwise using or streaming them without Red Cross permission. Any rights not expressly granted herein are reserved by the Red Cross. The Red Cross does not permit its materials to be reproduced or published without advance written permission from the Red Cross. To request permission to reproduce or publish Red Cross materials, please submit your written request to The American National Red Cross. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The additional referenced terms and conditions are available at redcross.org/terms-and-conditions and below.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Terms &amp;amp; Conditions&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Web Site Terms of Service Agreement (the or these “Terms of Service”) is a binding legal contract between you (“You” either an individual or a legal entity) and The American National Red Cross (“Red Cross”). The Terms of Service governs your access to and use of the web sites offered by Red Cross including without limitation www.RedCross.org and www.RedCrossblood.org web sites and any software, programs, services, tools, features, databases, materials, content or information available through it or used in connection with it (collectively, the “Sites” and each individually a “Site”). By downloading, accessing or using any part of the Site you have accessed, You will be bound by the terms of these Terms of Service. If You do not agree to the terms of these Terms of Service, Red Cross is not willing to grant You any right to use or access the Site. In such event, You are not granted permission to access or otherwise use the Site and are instructed to exit the Site immediately.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Red Cross may change, add or remove portions of the Terms of Service at any time, which shall become effective immediately upon posting. It is your responsibility to review the Terms of Service prior to each use of the Site, and by continuing to use the Site, you agree to any changes.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;SITE ACCESS AND USE LICENSE&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Site you have accessed and all of its contents as a whole and in part are protected by copyright, trademark, service mark, trade name and other intellectual property, and are owned or controlled by Red Cross, its affiliates and licensors. The Site is licensed to you, not sold. Except for the limited license granted in these Terms of Service, Red Cross and its licensors retain all right, title and interest in the Site and all proprietary rights in the Site, including copyrights, patents, trademarks and trade secret rights.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Red Cross may change, suspend, or discontinue any aspect of the Site at any time.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;1. GRANT OF LICENSE.&lt;/B&gt;   Red Cross grants You a personal, revocable, nontransferable, nonexclusive license to use the Site for personal, non-commercial purposes, conditioned on your continued compliance with the terms of these Terms of Service.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;2. LIMITATIONS ON LICENSE. &lt;/B&gt; The license granted to you in these Terms of Service is restricted as follows:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;•	Limitations on Copying and Distribution.&lt;/B&gt; You may download or copy downloadable items displayed on the Site for personal, non-commercial use only, provided that you maintain all copyright, trademark and other notices contained therein.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;•	Limitations on Use.&lt;/B&gt; You may use and access the Site solely for your personal, non-commercial use. All use of the Site must be in accordance with the Terms of Service. You may not use, copy, store, reproduce, transmit, distribute, display, modify, alter, license, sublicense, or commercially exploit the Site or any contents, information, data or materials provided through the Site in any manner not expressly permitted by the Terms of Service or the Site. You may not assign, sublicense, rent, timeshare, loan, lease or otherwise transfer the Site, or directly or indirectly permit any third party to use or copy the Site. You may not: (i) use any “deep link”, “page scrape”, “robot”, “spider”, or other automatic device, program, script, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy, or monitor any portion of the Site or in any way reproduce or circumvent the navigational structure or presentation of the Site to obtain or attempt to obtain any materials, documents, or information through any means not purposefully made available through the Site; (ii) attempt to gain unauthorized access to any portion or feature of the Site, including without limitation, the account of any other authorized user or any other systems or networks connected to the Site or to any server used by Red Cross or to any of the services offered on or through the Site, by hacking, password “mining” or any other illegitimate or prohibited means; (iii) probe, scan, or test the vulnerability of the Site or any network connected to the Site, or breach the security or authentication measures on the Site or any network connected to the Site; (iv) reverse look-up, trace, or seek to trace any information on any other authorized user of or visitor to the Site; (v) take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Site or systems or networks of Red Cross or networks connected to the Site, (vi) use any device, software, or routine to interfere with the proper working of the Site or any transaction conducted on the Site, or with any other person’s use of the Site; (viii) use the Site to harvest or collect e-mail addresses or other contact information; (ix) market, co-brand, private label, separately distribute, resell or otherwise permit third parties to access and use the Site without the express, separate and prior written permission of Red Cross; (x) create an intact reproduction of a page or pages of the Site into another website; or (xi) use the Site in an unlawful manner or in a manner that could damage, disparage, or otherwise negatively impact Red Cross.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;•	Non-Solicitation.&lt;/B&gt; You may not post or transmit through the Site any material which contains advertising or any solicitation with respect to products or services.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;•	Limitations on Reverse Engineering and Modification&lt;/B&gt;. You may not reverse engineer, decompile, disassemble, modify or create works derivative of the Site or any materials accessed through the Site,&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;•	Proprietary Notices. &lt;/B&gt;You may not remove any proprietary notices (e.g., copyright and trademark notices) or labels from the Site or on any materials accessed through the Site.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;•	Compliance with Applicable Law.&lt;/B&gt; You are solely responsible for ensuring your use of the Site is in compliance with all applicable foreign, federal, state and local laws, and rules and regulations.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;3. USER OBLIGATIONS.&lt;/B&gt; By downloading, accessing, or using the Site in order to view information and materials or submit Material (as defined below) of any kind, you represent that You: (i) are at least 18, or between the ages of 13 and 17 and using the Site with parental or legal guardian consent and supervision; (ii) are registered to the extent required, and have not been previously restricted, suspended or terminated by Red Cross; and (iii) are not using another authorized user’s account without his/her permission.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;4. YOUR SUBMISSION OF CONTENT.&lt;/B&gt; The Site may contain comment areas, questionnaires, tools, and other interactive features where You can share and display content, information, postings, materials, including without limitation, statements, photographs, video and other images (collectively “Material”). You are solely responsible for any Material you provide. By submitting Material to the Site, you warrant that you have all necessary rights to grant, and automatically grant to Red Cross and its affiliates, a royalty-free, worldwide, perpetual, irrevocable, non-exclusive and fully sublicensable right (including any moral rights) and license to use, license, reproduce, modify, adapt, publish, publicly display, publicly perform, translate, and distribute such Material (in whole or in part) and/or to incorporate it in other works in any form, media or technology now known or developed in the future. You also permit any other users of the Site to access, view, store or reproduce your Material and content for that user’s personal, non-commercial use. Red Cross will not be required to treat any Material as confidential, and You further grant to Red Cross the right to edit, copy, display, publish and distribute any Material made available via the Site by You, without compensation to You or any other party submitting the Material for You. Notwithstanding the right and license, by merely permitting your Material to appear on the Site, Red Cross is not a publisher of such Material, and is merely functioning as an intermediary to enable you to provide and display Materials. Moreover, and except as provided in the Terms of Service with respect to the right and ability of Red Cross to delete or remove Material, Red Cross does not endorse, oppose, or edit any opinion provided by You or any other user and does not make any representation with respect to, nor does it endorse the accuracy, completeness, timeliness, or reliability of any Material displayed, uploaded, linked-to or distributed by You or any other user. You agree that by using the Site, you will not post or transmit any of the following:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Anything that interferes with or disrupts the Site or its operation;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Materials that are vulgar, obscene, indecent, profane, or otherwise objectionable or offensive, defamatory, libelous, unlawful, threatening, abusive, harassing;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Unauthorized copyrighted materials, or any other material that infringes on the intellectual property rights, rights of publicity or personality, trade secrets, confidentiality, or privacy of others;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Materials that encourage criminal conduct or that would give rise to civil liability or otherwise violate any law or regulation in any jurisdiction;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Materials that harm minors;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Materials that impersonate any other person or entity, whether actual or fictitious, or that misrepresent your affiliation with any entity;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Files that contain malicious code, viruses, corrupted files, or any other similar software or programs that may damage the operation of another’s computer, network, or the Site.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;5. OTHER TERMS AND CONDITIONS.&lt;/B&gt; Additional notices, terms, and conditions may apply to receipt of services, participation in a particular program, training, authorized user registration to other specific portions or features of the Site, all of which are made a part of this Terms of Service by this reference. If there is a conflict between this Terms of Service and the terms posted for or applicable to a specific portion of this Site, the latter terms shall control with respect to your use of that portion of the Site.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;6. LINKS TO OTHER SITES.&lt;/B&gt; Red Cross may provide links, in its sole discretion, to other sites on the World Wide Web. Red Cross is not responsible for the availability of these outside resources or their contents. Red Cross expressly disclaims any responsibility for the content, materials, accuracy of information and/or the quality of the products or services provided by, available through, or advertised on these third-party sites, or the products or services provided by any third party.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;7. LINKS TO THIS SITE.&lt;/B&gt; You may link to this Site provided that You do so in a way that indicates that the link is to the www.RedCross.org website and is fair and not misleading. You may not integrate or make use of all or part of this Site in ways that would confuse or mislead visitors as to the nature and origin of this Site’s content.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;8. PASSWORDS; SECURITY.&lt;/B&gt; Registration by You as an authorized user for access to certain areas of the Site may require both a user name and a password (“Authorized User Credentials”). You may also have to provide certain registration information, all of which must be accurate and updated. You are not allowed to share or give your Authorized User Credentials to anyone else. You are responsible for maintaining the confidentiality of your password. You agree not to use another person’s Authorized User Credentials or select Authorized User Credentials: (i) with the intent to impersonate another person; (ii) subject to the rights of another person without authorization; (iii) in violation of the intellectual property rights of another person; or (iv) that Red Cross, in its sole discretion, deems inappropriate or offensive or discriminates on the basis of race, color, sex, language, religion, political or other opinion, national or social origin, property, birth or other status. You acknowledge and agree that you shall have no ownership or other property interest in your account and/or user name, and you further acknowledge and agree that all rights in and to your user name and account are and shall forever be owned by and inure to the benefit of Red Cross. Failure to comply with the foregoing shall constitute a breach of the Terms of Service, which may result in immediate suspension or termination of your Authorized User Credentials. Red Cross will not be liable for any loss or damage arising from your failure to comply with these obligations. Red Cross reserves the right to delete or change Authorized User Credentials (with notice) at any time and for any reason.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;9. TERMINATION.&lt;/B&gt; The Terms of Service and your license to use the Site will take effect the moment you install, access, or use the Site and will be in effect until terminated as set forth below. This license will automatically terminate in the event you breach any of its terms. Termination will be effective without notice. You may terminate the Terms of Service at any time by ceasing to use the Site. All applicable provisions of the Terms of Service as identified below will survive termination. Upon termination, you must destroy all copies of any aspect of the Site in your possession. The following will survive termination of these Terms of Service for any reason: (i) the General section below; (ii) the provisions concerning rights in your Materials that You have granted to Red Cross; (iv) Red Cross’ proprietary rights, indemnity, disclaimers of warranty, limitation of liability, and governing law.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;10. WARRANTY DISCLAIMER. YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR SOLE RISK AND YOU ASSUME ALL RISK. THE SITE IS PROVIDED ON AN “AS AVAILABLE,” “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW, RED CROSS AND ITS LICENSORS DISCLAIM ALL WARRANTIES WITH RESPECT TO THE SITE, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, TITLE, MERCHANTABILITY, QUIET ENJOYMENT, QUALITY OF INFORMATION, AND FITNESS FOR A PARTICULAR PURPOSE. RED CROSS DOES NOT WARRANT THAT THE SITE WILL MEET YOUR REQUIREMENTS, OR THAT THE OPERATION OF THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS IN THE SITE WILL BE CORRECTED. YOU SPECIFICALLY ACKNOWLEDGE THAT RED CROSS IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;11. LIMITATION OF LIABILITY. TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL RED CROSS OR ITS SUPPLIERS/LICENSORS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, OR INDIRECT DAMAGES (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE), WHICH INCLUDE, WITHOUT LIMITATION, DAMAGES FOR PERSONAL INJURY, LOST PROFITS, LOST DATA AND BUSINESS INTERRUPTION, ARISING OUT OF THE USE OF, OR INABILITY TO USE, THE SITE, EVEN IF RED CROSS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY CASE, THE ENTIRE LIABILITY OF RED CROSS AND ITS SUPPLIERS/LICENSORS UNDER THESE TERMS OF SERVICE FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE) IS LIMITED TO THE AMOUNT PAID BY YOU, IF ANY, FOR ACCESS TO THE SITE.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Some states do not allow the exclusion of incidental or consequential damages, or the limitation on how long an implied warranty lasts, so some of the above may not apply to you.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;12. OTHER DISCLAIMERS.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	The Site and the information contained herein is provided for informational and educational purposes only, and could include technical inaccuracies or typographical errors.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Information on the Site is provided with the understanding that Red Cross is not rendering professional advice or recommendations. You should not rely on any information on these pages to replace consultations with qualified professionals to meet your individual needs.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	This publication is distributed internationally and may contain references to The American National Red Cross, the International Committee of the Red Cross (ICRC), and other Red Cross or Red Crescent Society services, products, and programs that are not in your country. These references do not imply that The American National Red Cross, the International Committee of the Red Cross, or other Red Cross and Red Crescent Societies intend to announce or provide the programs, products, or services in your country. All questions about the International Committee of the Red Cross, Red Cross, or Red Crescent activities in your country should be directed to the Red Cross or Red Crescent Society in your country.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;13. DIGITAL MILLENNIUM COPYRIGHT ACT (“DMCA”) NOTICE.&lt;/B&gt; Red Cross is committed to complying with copyright and related laws, and requires all users of the Site to comply with these laws. Accordingly, you may not store any material or content or use or disseminate any material or content though the Site in any manner that constitutes an infringement of third party intellectual property rights, including rights granted by copyright law. Owners of copyrighted works who believe that their rights under copyright law have been infringed may take advantage of certain provisions of the Digital Millennium Copyright Act of 1998 (the “DMCA”) to report alleged infringements. You may not post, modify, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information belonging to others without obtaining the prior written consent of the owner of such proprietary rights. It is the policy of Red Cross to terminate use privileges of any user who repeatedly infringes the copyright rights of others upon receipt of proper notification to Red Cross by the copyright owner or the copyright owner’s legal agent.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you feel that a posted message is objectionable or infringing, we encourage you to contact us immediately. Upon our receipt of a proper written notice of claimed infringement under the DMCA, we will respond expeditiously to remove, or disable access to, the material claimed to be infringing and will follow all other relevant procedures specified in the DMCA with regard to the claimed infringement. The designated agent of Red Cross (i.e., the proper party) to whom you should address such notice is listed below.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you believe that your work has been copied and posted using the Site in a way that constitutes copyright infringement, please provide our designated agent with a written communication containing the following information:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	an electronic or physical signature of the person authorized to act on behalf of the owner of the exclusive right in the copyright that is allegedly infringed;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	a description of the copyrighted work that you claim has been infringed;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	a description of where the material that you claim is infringing is located to permit us to locate the material;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	your address, telephone number, and email address;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	a statement by you, made under penalty of perjury, that the information contained in your report is accurate and that you are the owner of the exclusive right in the copyright that is allegedly infringed or authorized to act on the owner&amp;apos;s behalf.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Our designated agent for notice of claims of copyright infringement can be reached as follows:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;By E-Mail:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;IPRights@redcross.org with the subject line “DMCA”&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;By Mail:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Designated Agent&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The American National Red Cross&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Attn: Office of the General Counsel&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;431 18th Street, NW&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Washington, D.C. 20006&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone 202-303-4086&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;14. MONITORING.&lt;/B&gt; Red Cross has the right, but not the obligation, to monitor the content of the Site (including any social or chat forum or tools, services or functions that enable the sharing, display or performance of any Material), to determine compliance with these Terms of Service and any operating rules established by Red Cross and to satisfy any law, regulation or authorized government request. Red Cross has the right and sole discretion to edit, refuse to post or remove any Material submitted to or posted on or within the Site, including, without limitation, the right to remove any Material that Red Cross, in its sole discretion, finds to be in violation of the provisions hereof or otherwise objectionable.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;15. INDEMNIFICATION.&lt;/B&gt; You agree to indemnify, defend and hold Red Cross and its affiliates and its and their respective governors, directors, officers, employees and agents harmless from and against any and all claims, actions, demands, damages, costs, liabilities, losses and expenses (including reasonable attorneys’ fees and costs) arising out of your use of the Site.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;16. PRIVACY POLICY.&lt;/B&gt; You understand, acknowledge, and agree that the operation of certain programs, services, tools, materials, or information in the Site requires the submission, use and dissemination of various personal identifying information. Accordingly, if you wish to access and use those programs, services, tools, materials, or information of the Site, you acknowledge and agree that your use of the Site will constitute acceptance of the personal identifying information collection and use practices contained in the privacy policies posted on the Site.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;17. TRADEMARK INFORMATION. &lt;/B&gt;The Greek Red Cross emblem and American Red Cross name are federally protected and registered marks of The American National Red Cross (see United States Code, Title 18, Section 706). All other trademarks displayed on this site or through links to other sites are the property of the respective trademark owners.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;18. GENERAL.&lt;/B&gt; This Terms of Service is governed by and construed in accordance with the laws of the District of Columbia, as applied to agreements entered into and wholly performed within the District of Columbia between District of Columbia residents. Any action or proceeding brought by either party hereto shall be brought only in a court of competent jurisdiction located in the District of Columbia and the parties submit to personal jurisdiction of those courts for purposes of any action or proceeding. These Terms of Service shall not be governed by the 1980 U.N. Convention on Contracts for the International Sale of Goods. The Terms of Service constitutes the entire understanding and agreement between Red Cross and You with respect to the Site and any transactions contemplated in these Terms of Service and supersedes all prior or contemporaneous oral or written communications with respect to the subject matter of the Terms of Service, all of which are merged in the Terms of Service. You may not modify, amend or alter in any way the Terms of Service. In the event any provision of these Terms of Service is found invalid or unenforceable pursuant to judicial decree, the remainder of the Terms of Service will remain valid and enforceable according to its terms. Any failure by Red Cross to strictly enforce any provision of the Terms of Service will not operate as a waiver of that provision or any subsequent breach of that provision. The disclaimers and limitations of liability will survive any termination or expiration of the Terms of Service.&lt;B&gt; IT IS EXPRESSLY UNDERSTOOD AND AGREED THAT IN THE EVENT ANY REMEDY HEREUNDER IS DETERMINED TO HAVE FAILED OF ITS ESSENTIAL PURPOSE, ALL LIMITATIONS OF LIABILITY AND EXCLUSIONS OF DAMAGES WILL REMAIN IN EFFECT.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Revised February 2016&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept the terms and Conditions (Required)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>lookup_user_ID</startElementReference>
    <status>Active</status>
    <variables>
        <description>This is the UserID passed into the flow</description>
        <name>loginflow_UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
