force-app/main/default/flows/Manage_Cart_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Out_Collection</name>
        <label>Out Collection</label>
        <locationX>481</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>outChildItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sChildItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity</name>
        <label>Set Quantity</label>
        <locationX>745</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>sChildItems.ccrz__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Out_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsParentSameasChild</name>
        <label>IsParentSameasChild</label>
        <locationX>485</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ParentequalsChild</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>sParentItem.ccrz__CartItemId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sChildItems.ccrz__CartItemId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sChildItems.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sChildItems.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSTRUCTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quantity</targetReference>
            </connector>
            <label>ParentequalsChild</label>
        </rules>
    </decisions>
    <formulas>
        <name>forQty</name>
        <dataType>Number</dataType>
        <expression>MCEILING({!sChildItems.ccrz__Quantity__c} /{!sCourseCatalog.Number_of_Students__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Cart Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Cart Items</label>
    <loops>
        <name>Child_Loop</name>
        <label>Child Loop</label>
        <locationX>486</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>sChildItems</assignNextValueToReference>
        <collectionReference>colCartItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsParentSameasChild</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parent_Item_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Parent_Item_Loop</name>
        <label>Parent Item Loop</label>
        <locationX>269</locationX>
        <locationY>210</locationY>
        <assignNextValueToReference>sParentItem</assignNextValueToReference>
        <collectionReference>colParentCartItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cart</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>272</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Item_Loop</targetReference>
        </connector>
        <filters>
            <field>ccrz__Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmCart</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__UnitOfMeasure__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>EACH</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__cartItemType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </filters>
        <object>ccrz__E_CartItem__c</object>
        <outputReference>colCartItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Cart__c</queriedFields>
        <queriedFields>ccrz__CartItemId__c</queriedFields>
        <queriedFields>ccrz__cartItemType__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__ParentCartItem__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <sortField>ccrz__ParentCartItem__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Product</name>
        <label>Get Parent Product</label>
        <locationX>94</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cart_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmCart</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__ProductType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KIT</stringValue>
            </value>
        </filters>
        <object>ccrz__E_CartItem__c</object>
        <outputReference>colParentCartItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__CartItemId__c</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Cart__c</queriedFields>
        <sortField>ccrz__CartItemId__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>486</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ratio_from_Skedulo_Catalog</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sParentItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ratio_from_Skedulo_Catalog</name>
        <label>Get Ratio from Skedulo Catalog</label>
        <locationX>649</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Loop</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.Course_Catalog__c</elementReference>
            </value>
        </filters>
        <object>Course_Catalog__c</object>
        <outputReference>sCourseCatalog</outputReference>
        <queriedFields>Number_of_Students__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cart</name>
        <label>Update Cart</label>
        <locationX>212</locationX>
        <locationY>371</locationY>
        <inputReference>outChildItems</inputReference>
    </recordUpdates>
    <startElementReference>Get_Parent_Product</startElementReference>
    <status>Active</status>
    <variables>
        <name>colCartItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_CartItem__c</objectType>
    </variables>
    <variables>
        <name>colParentCartItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_CartItem__c</objectType>
    </variables>
    <variables>
        <name>frmCart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outChildItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_CartItem__c</objectType>
    </variables>
    <variables>
        <name>sChildItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_CartItem__c</objectType>
    </variables>
    <variables>
        <name>sCourseCatalog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Course_Catalog__c</objectType>
    </variables>
    <variables>
        <name>sParentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_CartItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
</Flow>
