force-app/main/default/flows/Manage_Credit_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_OrderFulfillment_Collection</name>
        <label>Add OrderFulfillment Collection</label>
        <locationX>585</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>colFulfillmentItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WriteFulfillmentRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOutOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_return_items_to_setup_fulfillment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Fulfillment_Item</name>
        <label>Assign Order Fulfillment Item</label>
        <locationX>258</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderFulfillment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Order_Fulfillment_Item</name>
        <label>Output Order Fulfillment Item</label>
        <locationX>1239</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>colOFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Set_Order_Fulfillment_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Return</name>
        <label>Prepare Return</label>
        <locationX>431</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_return_items_to_setup_fulfillment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CCPO_Tranascation_Variable</name>
        <label>Set CCPO Tranascation Variable</label>
        <locationX>879</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>vccpoTransID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Payment_Record_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Shipment_Id</name>
        <label>Set Order Shipment Id</label>
        <locationX>1091</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOrderFulfillmentD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Order_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_TransID</name>
        <label>Set Other TransID</label>
        <locationX>869</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>vccpoTransID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Payment_Record_Variables</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>errAccountNotActive</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account not active</stringValue>
        </value>
    </constants>
    <constants>
        <name>errForceApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>errInvalidContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Contract</stringValue>
        </value>
    </constants>
    <constants>
        <name>errOverCreditLimit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over Credit Limit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Fulfillment_Record_Output_Controller</name>
        <label>Fulfillment Record Output Controller</label>
        <locationX>1089</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Items_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WriteFulfillmentRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Fulfillment</targetReference>
            </connector>
            <label>Fulfillment Items Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_TransactionType_IDs</name>
        <label>Set TransactionType IDs</label>
        <locationX>859</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_CC_or_PO_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>po</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CCPO_Tranascation_Variable</targetReference>
            </connector>
            <label>Set CC or PO ID</label>
        </rules>
        <rules>
            <name>Set_to_On_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>po</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_TransID</targetReference>
            </connector>
            <label>Set to On Account</label>
        </rules>
    </decisions>
    <description>Creates Credit Information to Process (Invoice and CC)</description>
    <formulas>
        <name>UpdateOpenOrderAmount</name>
        <dataType>Currency</dataType>
        <expression>+ {!sTransactionPayment.ccrz__Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateOrderAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varOpenOrderAmount} +{!sOrderItem.ccrz__SubAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Credit Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Credit Status</label>
    <loops>
        <name>Loop_through_return_items_to_setup_fulfillment</name>
        <label>Loop through return items to setup fulfillment</label>
        <locationX>438</locationX>
        <locationY>376</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Fulfillment_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Status_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Set_Order_Fulfillment_Header</name>
        <label>Loop to Set Order Fulfillment Header</label>
        <locationX>1362</locationX>
        <locationY>510</locationY>
        <assignNextValueToReference>sFulfillmentItem</assignNextValueToReference>
        <collectionReference>colFulfillmentItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Shipment_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Fulfillment_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Transaction_Payment_Record_Variables</name>
        <label>Set Transaction Payment Record Variables</label>
        <locationX>645</locationX>
        <locationY>79</locationY>
        <assignNextValueToReference>sTransactionPayment</assignNextValueToReference>
        <collectionReference>colTransactionPayment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_TransactionType_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Fulfillment</name>
        <label>Create Order Fulfillment</label>
        <locationX>1369</locationX>
        <locationY>378</locationY>
        <assignRecordIdToReference>frmOrderFulfillmentD</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_Set_Order_Fulfillment_Header</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Transaction_Payment__c</field>
            <value>
                <elementReference>vccpoTransID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Fulfillment_Item</name>
        <label>Create Order Fulfillment Item</label>
        <locationX>1374</locationX>
        <locationY>728</locationY>
        <inputReference>colOFulfillmentItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Lines</name>
        <label>Get Return Submitted Order Lines</label>
        <locationX>432</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Return</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>183</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment_Records</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>sProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TargetObjectId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>May be Multiple</description>
        <name>Get_Transaction_Payment_Records</name>
        <label>Get Transaction Payment Records</label>
        <locationX>431</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Transaction_Payment_Record_Variables</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>colTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Amount__c</queriedFields>
        <queriedFields>ccrz__AccountType__c</queriedFields>
        <queriedFields>ccrz__CCOrder__c</queriedFields>
        <sortField>ccrz__AccountType__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order2</name>
        <label>Lookup Order2</label>
        <locationX>180</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputAssignments>
            <assignToReference>sOrder.Auto_Approval__c</assignToReference>
            <field>Auto_Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Error_Message__c</assignToReference>
            <field>Error_Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Override_Credit_Limit__c</assignToReference>
            <field>Override_Credit_Limit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Account__c</assignToReference>
            <field>ccrz__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BillTo__c</assignToReference>
            <field>ccrz__BillTo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <field>ccrz__OrderStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Order__c</assignToReference>
            <field>ccrz__Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Storefront__c</assignToReference>
            <field>ccrz__Storefront__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TotalAmount__c</assignToReference>
            <field>ccrz__TotalAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Items</name>
        <label>Update Order Items</label>
        <locationX>890</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Fulfillment_Record_Output_Controller</targetReference>
        </connector>
        <inputReference>colOutOrderItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status_2</name>
        <label>Update Order Status 2</label>
        <locationX>714</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Update_Order_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <elementReference>sOrder.ccrz__OrderStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Order2</startElementReference>
    <status>Active</status>
    <variables>
        <name>cAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFulfillmentItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOutOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <description>Transaction Payment Records including ON ACCOUNT</description>
        <name>colTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>frmOrderFulfillmentD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Order ID Parameter</description>
        <name>frmOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>slTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approval</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>varOpenOrderAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vccpoTransID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>sTransactionPayment.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vOtherTransID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WriteFulfillmentRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
