force-app/main/default/flows/Manage_Order_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_OrderFulfillment_Collection</name>
        <label>Add OrderFulfillment Collection</label>
        <locationX>497</locationX>
        <locationY>1255</locationY>
        <assignmentItems>
            <assignToReference>colFulfillmentItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WriteFulfillmentRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Shipped</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Output_Collection</name>
        <label>Add to Output Collection</label>
        <locationX>800</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>colOutOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenOrderAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateOrderAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Product_Item_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Training_Event_Collection</name>
        <label>Add to Training Event Collection</label>
        <locationX>985</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>colOutTrainingEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sTrainingEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Training_Event_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Fulfillment_Item</name>
        <label>Assign Order Fulfillment Item</label>
        <locationX>353</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Supplemental_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderFulfillment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Course_Order_Status</name>
        <label>Course Order Status</label>
        <locationX>1096</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>end_Fault</name>
        <label>end Fault</label>
        <locationX>369</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>sOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missing Transaction Payment Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Header_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hold_Order</name>
        <label>Hold Order</label>
        <locationX>842</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Status_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive_Account_Error_Message</name>
        <label>Inactive Account Error Message</label>
        <locationX>848</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errAccountNotActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hold_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Order_Fulfillment_Item</name>
        <label>Output Order Fulfillment Item</label>
        <locationX>1476</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>colOFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Set_Order_Fulfillment_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Over_Credit_Limit</name>
        <label>Over Credit Limit</label>
        <locationX>842</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errOverCreditLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hold_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Place_Order_Items_on_Hold</name>
        <label>Place Order Items on Hold</label>
        <locationX>1260</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Out_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_for_Course_Loop</name>
        <label>Prepare for Course Loop</label>
        <locationX>534</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Product_Item_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Requested_to_Open</name>
        <label>Requested to Open</label>
        <locationX>990</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent.Scheduling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Training_Event_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reserved_to_Complete</name>
        <label>Reserved to Complete</label>
        <locationX>1165</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent.Scheduling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Training_Event_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Account_for_Lookup</name>
        <label>Set Child Account for Lookup</label>
        <locationX>340</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>lAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bill_To_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Credit_Limit</name>
        <label>Set Child Credit Limit</label>
        <locationX>842</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>cCreditLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sBillToAccount.Credit_Available__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sBillToAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cBilltoContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sBillToAccount.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Course_Order_Status</name>
        <label>Set Course Order Status</label>
        <locationX>1312</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent.Course_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Training_Event_Current_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Type</name>
        <label>Set Fulfillment Type</label>
        <locationX>1849</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>vFulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receipt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Fulfillment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Process_Flag</name>
        <label>Set In Process Flag</label>
        <locationX>720</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>FlagInProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Child_Account_for_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invalid_Contract_Error</name>
        <label>Set Invalid Contract Error</label>
        <locationX>58</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errInvalidContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagInvalidContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PO_Payment_Amount_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Contact</name>
        <label>Set Order Contact</label>
        <locationX>1316</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cBilltoContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item_Status</name>
        <label>Set Order Item Status</label>
        <locationX>576</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Shipment_Id</name>
        <label>Set Order Shipment Id</label>
        <locationX>1482</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOrderFulfillmentD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Order_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Out_Order_Items</name>
        <label>Set Out Order Items</label>
        <locationX>1136</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>colOutOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Status_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Account_for_Lookup</name>
        <label>Set Parent Account for Lookup</label>
        <locationX>254</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>lAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sBillToAccount.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bill_To_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipped</name>
        <label>Set Shipped</label>
        <locationX>809</locationX>
        <locationY>1253</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Submitted</name>
        <label>Set to Submitted</label>
        <locationX>579</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Top_Level_Account</name>
        <label>Set Top Level Account</label>
        <locationX>63</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>lAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sBillToAccount.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTopLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bill_To_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Course_Count</name>
        <label>Update Course Count</label>
        <locationX>1309</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>CourseCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddtoCourse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Course_Order_Status</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>errAccountNotActive</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account not active</stringValue>
        </value>
    </constants>
    <constants>
        <name>errForceApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>errInvalidContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Contract</stringValue>
        </value>
    </constants>
    <constants>
        <name>errOverCreditLimit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over Credit Limit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_RecordType_Path</name>
        <label>Account RecordType Path</label>
        <locationX>449</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccountRT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Payment_Amount_Request</targetReference>
            </connector>
            <label>Is Individual?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Account</name>
        <label>Active Account</label>
        <locationX>594</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Inactive_Account_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sBillToAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid_Contract_with_Override</targetReference>
            </connector>
            <label>Is Account Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Course_Records</name>
        <label>Any Course Records</label>
        <locationX>1114</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Status_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Course_and_Invalid_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sContract.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CourseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sProcessInstance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sBillToAccount.Active_Contract_Exception_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Order_Status</targetReference>
            </connector>
            <label>Is Course and Invalid Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Available_Credit</name>
        <label>Available Credit</label>
        <locationX>529</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>Over_Credit_Limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Over Available Credit Limit</defaultConnectorLabel>
        <rules>
            <name>Is_Invalid_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagInvalidContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Order</targetReference>
            </connector>
            <label>Is Invalid Contract</label>
        </rules>
        <rules>
            <name>Has_Available_Credit</name>
            <conditionLogic>(1 AND 3) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__TotalAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>cCreditLimit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.Override_Credit_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_for_Course_Loop</targetReference>
            </connector>
            <label>Has Available Credit</label>
        </rules>
        <rules>
            <name>Is_NOT_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>po</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_for_Course_Loop</targetReference>
            </connector>
            <label>Is NOT PO</label>
        </rules>
        <rules>
            <name>Already_in_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagInProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_for_Course_Loop</targetReference>
            </connector>
            <label>Already in Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_see_if_there_are_any_Training_Events</name>
        <label>Check to see if there are any Training Events</label>
        <locationX>765</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Training_Events_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTrainingEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Training_Event_Status</targetReference>
            </connector>
            <label>Training Events Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Set_Credit_Limit</name>
        <label>Child Set Credit Limit</label>
        <locationX>651</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Active_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Child_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentLookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Child_Credit_Limit</targetReference>
            </connector>
            <label>Child Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Course_Records</name>
        <label>Count Course Records</label>
        <locationX>346</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Set_to_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Course_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CREStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__ProductType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Kit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Item_Status</targetReference>
            </connector>
            <label>Is Course Record - Not Kit</label>
        </rules>
        <rules>
            <name>Is_FS_Course_Kit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CREStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is FS Course - Kit</label>
        </rules>
        <rules>
            <name>Is_Fee_not_Course_Kit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Class</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FEE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is Fee not Course - Kit</label>
        </rules>
        <rules>
            <name>Is_fee_for_Shipped_Course_Kit</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Class</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FEE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is fee for Shipped Course - Kit</label>
        </rules>
        <rules>
            <name>Is_Online_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Class_Setting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMMUNITY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is Online Class</label>
        </rules>
        <rules>
            <name>Is_Community_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMMUNITY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Class_Setting__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is Community Class</label>
        </rules>
        <rules>
            <name>Is_CREStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CREStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is CREStore</label>
        </rules>
        <rules>
            <name>Is_CPSStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fulfillment_Item</targetReference>
            </connector>
            <label>Is CPSStore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Record_Output_Controller</name>
        <label>Fulfillment Record Output Controller</label>
        <locationX>1844</locationX>
        <locationY>467</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Items_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WriteFulfillmentRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Fulfillment</targetReference>
            </connector>
            <label>Fulfillment Items Exist?</label>
        </rules>
        <rules>
            <name>Fulfillment_Items_Exist_and_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__AccountType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WriteFulfillmentRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fulfillment_Type</targetReference>
            </connector>
            <label>Fulfillment Items Exist and CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Full_Service_Course_Product</name>
        <label>Is Full Service Course Product</label>
        <locationX>979</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Place_Order_Items_on_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Full_Service_Course_Product_Check</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FEE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CREStore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Status_Loop</targetReference>
            </connector>
            <label>Is Full Service Course Product Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Online_Class2</name>
        <label>Is Online Class2</label>
        <locationX>666</locationX>
        <locationY>1195</locationY>
        <defaultConnector>
            <targetReference>Set_Shipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOnline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Class_Setting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Item_Status</targetReference>
            </connector>
            <label>isOnline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_In_Process</name>
        <label>Is Order In Process</label>
        <locationX>708</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Set_Child_Account_for_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Process_Flag</targetReference>
            </connector>
            <label>In Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Contract_with_Override</name>
        <label>Is Valid Contract with Override</label>
        <locationX>62</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Set_Invalid_Contract_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contract_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sContract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sProcessInstance.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sBillToAccount.Active_Contract_Exception_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlagInProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Payment_Amount_Request</targetReference>
            </connector>
            <label>Contract Valid</label>
        </rules>
        <rules>
            <name>Find_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentLookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sBillToAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sBillToAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sBillToAccount.Inherit_Parent_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Account_for_Lookup</targetReference>
            </connector>
            <label>Find Parent</label>
        </rules>
        <rules>
            <name>Find_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentLookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTopLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Top_Level_Account</targetReference>
            </connector>
            <label>Find HQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Transaction_Payment</name>
        <label>Missing Transaction Payment</label>
        <locationX>359</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>end_Fault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Payment_Amount_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_Credit</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Contact_Exists</name>
        <label>Order Contact Exists</label>
        <locationX>1214</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Status_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Contact_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Contact</targetReference>
            </connector>
            <label>Is Order Contact Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Event_Current_Status</name>
        <label>Training Event Current Status</label>
        <locationX>1318</locationX>
        <locationY>1266</locationY>
        <defaultConnector>
            <targetReference>Add_to_Training_Event_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrainingEvent.Scheduling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_to_Open</targetReference>
            </connector>
            <label>If Requested</label>
        </rules>
        <rules>
            <name>IfReserved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrainingEvent.Scheduling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reserved_to_Complete</targetReference>
            </connector>
            <label>IfReserved</label>
        </rules>
    </decisions>
    <description>Added Individual Account Record Type Check - added additional fields to sOrder to allow for reducing SOQLs in On Hold Check</description>
    <formulas>
        <name>AddtoCourse</name>
        <dataType>Number</dataType>
        <expression>{!CourseCount} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AddtoVoucherLoop</name>
        <dataType>Number</dataType>
        <expression>{!VoucherLoop} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateOpenOrderAmount</name>
        <dataType>Currency</dataType>
        <expression>{!sBillToAccount.Open_Order_Amount__c} + {!sTransactionPayment.ccrz__Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateOrderAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varOpenOrderAmount} +{!sOrderItem.ccrz__SubAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Order Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Order Status</label>
    <loops>
        <name>Loop_to_Set_Order_Fulfillment_Header</name>
        <label>Loop to Set Order Fulfillment Header</label>
        <locationX>1687</locationX>
        <locationY>678</locationY>
        <assignNextValueToReference>sFulfillmentItem</assignNextValueToReference>
        <collectionReference>colFulfillmentItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Shipment_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Fulfillment_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Status_Loop</name>
        <label>Order Item Status Loop</label>
        <locationX>983</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Full_Service_Course_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Items2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Product_Item_Type</name>
        <label>Set Product Item Type</label>
        <locationX>523</locationX>
        <locationY>915</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Course_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_see_if_there_are_any_Training_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Training_Event_Status</name>
        <label>Update Training Event Status</label>
        <locationX>985</locationX>
        <locationY>925</locationY>
        <assignNextValueToReference>sTrainingEvent</assignNextValueToReference>
        <collectionReference>colTrainingEvent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Course_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Fulfillment</name>
        <label>Create Order Fulfillment</label>
        <locationX>1688</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>frmOrderFulfillmentD</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_Set_Order_Fulfillment_Header</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Transaction_Payment__c</field>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplemental_Information__c</field>
            <value>
                <elementReference>sOrder.Supplemental_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>vFulfillmentType</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Fulfillment_Item</name>
        <label>Create Order Fulfillment Item</label>
        <locationX>1696</locationX>
        <locationY>793</locationY>
        <inputReference>colOFulfillmentItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Contract</name>
        <label>Get Active Contract</label>
        <locationX>526</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Set_Credit_Limit</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sBillToAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>sContract</outputReference>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>ContractNumber</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Training_Events_on_Order</name>
        <label>Get All Training Events on Order</label>
        <locationX>516</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_In_Process</targetReference>
        </connector>
        <filters>
            <field>CC_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>colTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Scheduling_Status__c</queriedFields>
        <sortField>CC_Order_Item__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Bill_To_Account</name>
        <label>Get Bill To Account</label>
        <locationX>255</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lAccount</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sBillToAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Credit_Available__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Active_Contract_Exception_Status__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Inherit_Parent_Terms__c</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Lines</name>
        <label>Get Order Lines</label>
        <locationX>340</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Training_Events_on_Order</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancel Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
        <queriedFields>Class_Setting__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Payment_Amount_Request</name>
        <label>Get PO Payment Amount Request</label>
        <locationX>211</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Missing_Transaction_Payment</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>ccrz__AccountType__c</queriedFields>
        <queriedFields>ccrz__Amount__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__PaymentType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>180</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Lines</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>sProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TargetObjectId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>371</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RecordType_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sBillToAccount.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sAccountRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order2</name>
        <label>Lookup Order2</label>
        <locationX>182</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputAssignments>
            <assignToReference>sOrder.Auto_Approval__c</assignToReference>
            <field>Auto_Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Error_Message__c</assignToReference>
            <field>Error_Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Override_Credit_Limit__c</assignToReference>
            <field>Override_Credit_Limit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Supplemental_Information__c</assignToReference>
            <field>Supplemental_Information__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Account__c</assignToReference>
            <field>ccrz__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BillTo__c</assignToReference>
            <field>ccrz__BillTo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Contact__c</assignToReference>
            <field>ccrz__Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Name__c</assignToReference>
            <field>ccrz__Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderId__c</assignToReference>
            <field>ccrz__OrderId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <field>ccrz__OrderStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Order__c</assignToReference>
            <field>ccrz__Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Storefront__c</assignToReference>
            <field>ccrz__Storefront__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TotalAmount__c</assignToReference>
            <field>ccrz__TotalAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Open_Order_Amount</name>
        <label>Update Account Open Order Amount</label>
        <locationX>1541</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Update_Training_Events</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Order_Amount__c</field>
            <value>
                <elementReference>varOpenOrderAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Header_Error</name>
        <label>Update Order Header Error</label>
        <locationX>228</locationX>
        <locationY>808</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>sOrder.Error_Message__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Items</name>
        <label>Update Order Items</label>
        <locationX>984</locationX>
        <locationY>790</locationY>
        <connector>
            <targetReference>Any_Course_Records</targetReference>
        </connector>
        <inputReference>colOutOrderItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Items2</name>
        <label>Update Order Items</label>
        <locationX>1096</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Order_Contact_Exists</targetReference>
        </connector>
        <inputReference>colOutOrderItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status_2</name>
        <label>Update Order Status 2</label>
        <locationX>1424</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Update_Training_Events</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Contact__c</field>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <elementReference>sOrder.ccrz__OrderStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Events</name>
        <label>Update Training Events</label>
        <locationX>1690</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Fulfillment_Record_Output_Controller</targetReference>
        </connector>
        <inputReference>colOutTrainingEvent</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Order2</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActiveContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cBilltoContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cCreditLimit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>sBillToAccount.Credit_Available__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>colFulfillmentItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOutOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOutTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>colTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>colVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>CourseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>FlagInProcess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flagInvalidContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>frmOrderFulfillmentD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Order ID Parameter</description>
        <name>frmOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>sOrder.ccrz__Account__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ParentLookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sAccountRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>BilltoAccount</description>
        <name>sBillToAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Active Contract</description>
        <name>sContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approval</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>sProcessInstanceStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>varOpenOrderAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vFulfillmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>vOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VoucherLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTopLevel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WriteFulfillmentRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
