force-app/main/default/flows/Opportunity_to_Order_with_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Sets the contract’s Status field to Activated.

Include this element if you want the new contract to be activated when the flow updates the contract.</description>
        <name>Activate_Contract</name>
        <label>Set Contract Status to Activated</label>
        <locationX>933</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>oContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the order’s Status field to Activated.

Include this element if you want the new order to be Activated.</description>
        <name>Activate_Order</name>
        <label>Set Order Status to Activated</label>
        <locationX>985</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the order product to the list of order products in the sObject collection variable.</description>
        <name>Add_Order_Product_to_List</name>
        <label>Add Order Product to List</label>
        <locationX>683</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>listOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Oppty_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity’s or account’s field values to assign field values to the contract.

ACTION: Review the assigned contract fields. Add or remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the contract here.</description>
        <name>Assign_Contract_Fields</name>
        <label>Assign Contract Fields</label>
        <locationX>589</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>oContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Twelve</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContract.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity’s or contract’s field values to assign field values to the order.

ACTION: Review the order fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order here.</description>
        <name>Assign_Order_Fields</name>
        <label>Assign Order Fields</label>
        <locationX>342</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>oOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity product’s or order’s field values to assign field values to the order product.

ACTION: Review the order product fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order product here.</description>
        <name>Assign_Order_Product_Fields</name>
        <label>Assign Order Product Fields</label>
        <locationX>511</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>oOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpptyProduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Relates the opportunity to the contract that was just created.</description>
        <name>Set_Contract_on_Oppty</name>
        <label>Set Contract on Oppty</label>
        <locationX>764</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>oOppty.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the opportunity’s Order Generated field to true.</description>
        <name>Update_Order_Generated</name>
        <label>Update Order Generated</label>
        <locationX>837</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>oOppty.Order_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Twelve</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Evaluates whether the opportunity has a contract or not.

If the opportunity has a contract (ContractId is non-null), the new order will be related to the existing contract.</description>
        <name>Contract_on_Oppty</name>
        <label>Contract on Oppty?</label>
        <locationX>345</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract non-null</defaultConnectorLabel>
        <rules>
            <name>Contract_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOppty.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Fields</targetReference>
            </connector>
            <label>Contract is null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether the sObject collection variable contains any order products.</description>
        <name>Order_Product_List_Empty</name>
        <label>Order Product List Empty?</label>
        <locationX>835</locationX>
        <locationY>467</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listOrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Products</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether an order has already been generated from the opportunity.

If an order has already been generated from the opportunity, a new order will not be generated.</description>
        <name>OrderGenerated</name>
        <label>Order Generated?</label>
        <locationX>23</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Not Generated</defaultConnectorLabel>
        <rules>
            <name>Order_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOppty.Order_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Order Generated</label>
        </rules>
    </decisions>
    <label>Opportunity to Order with Contract</label>
    <loops>
        <description>Iterates through each opportunity product in the sObject collection variable.</description>
        <name>Loop_Oppty_Products</name>
        <label>Loop Oppty Products</label>
        <locationX>511</locationX>
        <locationY>467</locationY>
        <assignNextValueToReference>oOpptyProduct</assignNextValueToReference>
        <collectionReference>listOpptyProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Product_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Product_List_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject variable to create a new contract.</description>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>763</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Activate_Contract</targetReference>
        </connector>
        <inputReference>oContract</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject variable to create an order.</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>338</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Get_Oppty_Products</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject collection variable to create order products.</description>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>836</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Update_Order_Generated</targetReference>
        </connector>
        <inputReference>listOrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Queries the account on the opportunity, and stores selected account fields in an sObject variable.

ACTION: Review the retrieved account fields, and add any additional fields that you need to the sObject variable.</description>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>181</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_on_Oppty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the contract that’s related to the opportunity, and stores selected field values in an sObject variable.

ACTION: Review the contract fields retrieved, and add additional fields as needed to the sObject variable.</description>
        <name>Get_Contract_Fields</name>
        <label>Get Contract Fields</label>
        <locationX>342</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.ContractId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>oContract</outputReference>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Uses the Opportunity ID passed to the flow to look up the opportunity, and stores the selected opportunity fields in an sObject variable.

ACTION: Review the retrieved opportunity fields, and add any additional fields that you need to the sObject variable.</description>
        <name>Get_Opportunity_Fields</name>
        <label>Get Opportunity Fields</label>
        <locationX>24</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderGenerated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oOppty</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Order_Generated__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the opportunity products that are related to the opportunity, and stores selected field values in the sObject collection variable.

ACTION: Review the retrieved opportunity product fields, and add additional fields as needed to the sObject collection variable.</description>
        <name>Get_Oppty_Products</name>
        <label>Get Oppty Products</label>
        <locationX>338</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Oppty_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>listOpptyProducts</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the contract.

Include this element if you want the new contract to be activated.</description>
        <name>Update_Contract</name>
        <label>Activate Contract</label>
        <locationX>933</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Contract_on_Oppty</targetReference>
        </connector>
        <inputReference>oContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the opportunity.</description>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>985</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <inputReference>oOppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the order.</description>
        <name>Update_Order</name>
        <label>Activate Order</label>
        <locationX>1131</locationX>
        <locationY>579</locationY>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity_Fields</startElementReference>
    <status>Active</status>
    <variables>
        <name>listOpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>listOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>oOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oOpptyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>oOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
