force-app/main/default/flows/Order_Fulfillment_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_collection_for_write</name>
        <label>Add to collection for write</label>
        <locationX>503</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>wcolOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Status</name>
        <label>Order Item Status</label>
        <locationX>735</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_for_write</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Kit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Kit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Null</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <constants>
        <name>Product</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Update_Status</name>
        <label>Update Status?</label>
        <locationX>544</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>ProductLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Course</name>
            <conditionLogic>(1 and 2) OR (1 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>sProducts.ccrz__InventoryType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COURSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Kit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Status</targetReference>
            </connector>
            <label>Is Course</label>
        </rules>
    </decisions>
    <description>When Order is placed, changes status of Course Item to Reservation</description>
    <label>Order Fulfillment Status Change</label>
    <loops>
        <name>ProductLoop</name>
        <label>ProductLoop</label>
        <locationX>298</locationX>
        <locationY>239</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status_Order_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cart</name>
        <label>Get Cart</label>
        <locationX>124</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prmOpptID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Cart__c</object>
        <outputReference>sCart</outputReference>
        <queriedFields>ccrz__CartId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>125</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Lines</targetReference>
        </connector>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OriginatedCart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCart.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>ccrz__Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Lines</name>
        <label>Get Order Lines</label>
        <locationX>122</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductLoop</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product2</name>
        <label>Get Product2</label>
        <locationX>547</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProducts</outputReference>
        <queriedFields>ccrz__ProductId__c</queriedFields>
        <queriedFields>ccrz__InventoryType__c</queriedFields>
        <queriedFields>ccrz__ProductStatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_Order_Line</name>
        <label>Update Status Order Line</label>
        <locationX>302</locationX>
        <locationY>540</locationY>
        <inputReference>wcolOrderItems</inputReference>
    </recordUpdates>
    <startElementReference>Get_Cart</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>prmOpptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sCart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Cart__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>wcolOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
</Flow>
