force-app/main/default/flows/Order_Header_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DoNothing</name>
        <label>DoNothing</label>
        <locationX>184</locationX>
        <locationY>34</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>CancelCount</name>
        <label>CancelCount</label>
        <locationX>244</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>cntCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fcntCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Order_Items</name>
        <label>Count Order Items</label>
        <locationX>69</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>cntOrderItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fcntOrderItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_Hold_Count</name>
        <label>On Hold Count</label>
        <locationX>537</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>cntOnHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fcntOnHold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReturnCount</name>
        <label>ReturnCount</label>
        <locationX>423</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>cntReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReturned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancelled</name>
        <label>Set Cancelled</label>
        <locationX>849</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Process</name>
        <label>Set In Process</label>
        <locationX>1272</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_On_Hold</name>
        <label>Set On Hold</label>
        <locationX>680</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Returned</name>
        <label>Set Returned</label>
        <locationX>943</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipped</name>
        <label>Set Shipped</label>
        <locationX>771</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ShippedCount</name>
        <label>ShippedCount</label>
        <locationX>338</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>cntShipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fcntShipped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Order_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Order_Item_Record_Type</name>
        <label>Count Order Item Record Type</label>
        <locationX>282</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Count_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Hold_Count</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShippedCount</targetReference>
            </connector>
            <label>Shipped</label>
        </rules>
        <rules>
            <name>Returned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReturnCount</targetReference>
            </connector>
            <label>Returned</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancelCount</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Order_Status</name>
        <label>Determine Order Status</label>
        <locationX>826</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Set_In_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cntOnHold</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_On_Hold</targetReference>
            </connector>
            <label>Is On Hold</label>
        </rules>
        <rules>
            <name>Is_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cntOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cntShipped</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipped</targetReference>
            </connector>
            <label>Is Shipped</label>
        </rules>
        <rules>
            <name>Is_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>cntOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cntCancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancelled</targetReference>
            </connector>
            <label>Is Cancelled</label>
        </rules>
        <rules>
            <name>Is_Returned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>cntOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cntReturn</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cntOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCancelReturn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Returned</targetReference>
            </connector>
            <label>Is Returned</label>
        </rules>
        <rules>
            <name>Complete_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cntOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCancelShipReturn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipped</targetReference>
            </connector>
            <label>Complete Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_for_Processing</name>
        <label>Is Status for Processing</label>
        <locationX>274</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Return_Submitted_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNothing</targetReference>
            </connector>
            <label>Is Return Submitted Status</label>
        </rules>
    </decisions>
    <description>Updates the Order Header status based on the order item conditions</description>
    <formulas>
        <name>fCancelReturn</name>
        <dataType>Number</dataType>
        <expression>{!cntReturn} + {!cntCancel}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fCancelShipReturn</name>
        <dataType>Number</dataType>
        <expression>{!cntCancel} + {!cntShipped} + {!cntReturn}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fcntCancel</name>
        <dataType>Number</dataType>
        <expression>{!cntCancel} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fcntInProcess</name>
        <dataType>Number</dataType>
        <expression>{!cntInProcess} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fcntOnHold</name>
        <dataType>Number</dataType>
        <expression>{!cntOnHold} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fcntOrderItems</name>
        <dataType>Number</dataType>
        <expression>{!cntOrderItems} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fcntShipped</name>
        <dataType>Number</dataType>
        <expression>{!cntShipped} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fReturned</name>
        <dataType>Number</dataType>
        <expression>{!cntReturn} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Order Header Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Header Status Update</label>
    <loops>
        <name>Loop_through_Order_Items</name>
        <label>Loop through Order Items</label>
        <locationX>289</locationX>
        <locationY>204</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Order_Item_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Order_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>61</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_for_Processing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>520</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <sortField>ccrz__OrderItemStatus__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Status</name>
        <label>Update Order Status</label>
        <locationX>854</locationX>
        <locationY>527</locationY>
        <inputReference>sOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>cntCancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cntInProcess</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cntOnHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cntOrderItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cntReturn</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cntShipped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
</Flow>
