force-app/main/default/flows/Order_Item_Set_Reservations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Order_Item_Output</name>
        <label>Add to Order Item Output</label>
        <locationX>787</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>colOOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item_Status</name>
        <label>Set Order Item Status</label>
        <locationX>790</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Order_Item_Output</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cstCourse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Course</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Course</name>
        <label>Is Course</label>
        <locationX>642</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Course_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstCourse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Item_Status</targetReference>
            </connector>
            <label>Is Course Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Type_Course_or_Kit</name>
        <label>Is Product Type Course or Kit</label>
        <locationX>296</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Course_or_Kit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ccrz__ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>Is Course or Kit</label>
        </rules>
    </decisions>
    <label>Order Item Set Reservations</label>
    <loops>
        <name>Loop_Through_Order_Items</name>
        <label>Loop Through Order Items</label>
        <locationX>446</locationX>
        <locationY>140</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Course</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>244</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>442</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Course</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__InventoryType__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Items</name>
        <label>Update Order Items</label>
        <locationX>251</locationX>
        <locationY>276</locationY>
        <inputReference>colOOrderItems</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order_Items</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
</Flow>
