force-app/main/default/flows/Prepare_for_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Order_Item_Out</name>
        <label>Add to Order Item Out</label>
        <locationX>790</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>colOOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Transaction_Payment_Collection</name>
        <label>Add to Transaction Payment Collection</label>
        <locationX>449</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>colOTransactionPayment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sTransactionPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Payment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Items</name>
        <label>Set Order Items</label>
        <locationX>792</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.ccrz__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outCreditID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Order_Item_Out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Payment</name>
        <label>Set Transaction Payment</label>
        <locationX>239</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>sTransactionPayment.ccrz__CCOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outCreditID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Transaction_Payment_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Prepare for Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prepare for Credit</label>
    <loops>
        <name>Set_Order_Items_Loop</name>
        <label>Set Order Items Loop</label>
        <locationX>579</locationX>
        <locationY>70</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Transaction_Payment_Loop</name>
        <label>Set Transaction Payment Loop</label>
        <locationX>440</locationX>
        <locationY>259</locationY>
        <assignNextValueToReference>sTransactionPayment</assignNextValueToReference>
        <collectionReference>colTransPayment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Transaction_Payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Items</name>
        <label>Create Credit Items</label>
        <locationX>625</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Create_Credit_Transaction</targetReference>
        </connector>
        <inputReference>colOOrderItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Transaction</name>
        <label>Create Credit Transaction</label>
        <locationX>632</locationX>
        <locationY>428</locationY>
        <inputReference>colOTransactionPayment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Credit_Credit_Record</name>
        <label>Credit Credit Record</label>
        <locationX>251</locationX>
        <locationY>76</locationY>
        <assignRecordIdToReference>outCreditID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Order_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Approval__c</field>
            <value>
                <elementReference>sOrder.Auto_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Order__c</field>
            <value>
                <elementReference>sOrder.Opportunity_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AdjustmentAmount__c</field>
            <value>
                <elementReference>sOrder.ccrz__AdjustmentAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AdjustmentReason__c</field>
            <value>
                <elementReference>sOrder.ccrz__AdjustmentReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BillTo__c</field>
            <value>
                <elementReference>sOrder.ccrz__BillTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BuyerCompanyName__c</field>
            <value>
                <elementReference>sOrder.ccrz__BuyerCompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BuyerEmail__c</field>
            <value>
                <elementReference>sOrder.ccrz__BuyerEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BuyerFirstName__c</field>
            <value>
                <elementReference>sOrder.ccrz__BuyerFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BuyerLastName__c</field>
            <value>
                <elementReference>sOrder.ccrz__BuyerLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BuyerMobilePhone__c</field>
            <value>
                <elementReference>sOrder.ccrz__BuyerMobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BuyerPhone__c</field>
            <value>
                <elementReference>sOrder.ccrz__BuyerPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CCEmailAddress__c</field>
            <value>
                <elementReference>sOrder.ccrz__CCEmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Contact__c</field>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ContractId__c</field>
            <value>
                <elementReference>sOrder.ccrz__ContractId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CurrencyISOCode__c</field>
            <value>
                <elementReference>sOrder.ccrz__CurrencyISOCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__EffectiveAccountID__c</field>
            <value>
                <elementReference>sOrder.ccrz__EffectiveAccountID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtCarrier__c</field>
            <value>
                <elementReference>sOrder.ccrz__ExtCarrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtShipTo__c</field>
            <value>
                <elementReference>sOrder.ccrz__ExtShipTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtShipTrackNo__c</field>
            <value>
                <elementReference>sOrder.ccrz__ExtShipTrackNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__IsAnonymous__c</field>
            <value>
                <elementReference>sOrder.ccrz__IsAnonymous__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Name__c</field>
            <value>
                <elementReference>sOrder.ccrz__OrderName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Note__c</field>
            <value>
                <elementReference>sOrder.ccrz__Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderDate__c</field>
            <value>
                <elementReference>sOrder.ccrz__OrderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderId__c</field>
            <value>
                <elementReference>sOrder.ccrz__OrderId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderSeller__c</field>
            <value>
                <elementReference>sOrder.ccrz__OrderSeller__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <stringValue>Return Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>sOrder.ccrz__Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginatedCart__c</field>
            <value>
                <elementReference>sOrder.ccrz__OriginatedCart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PONumber__c</field>
            <value>
                <elementReference>sOrder.ccrz__PONumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PaymentMethod__c</field>
            <value>
                <elementReference>sOrder.ccrz__PaymentMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ShipAmount__c</field>
            <value>
                <elementReference>sOrder.ccrz__ShipAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ShipDiscountAmount__c</field>
            <value>
                <elementReference>sOrder.ccrz__ShipDiscountAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ShipMethod__c</field>
            <value>
                <elementReference>sOrder.ccrz__ShipMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ShipTo__c</field>
            <value>
                <elementReference>sOrder.ccrz__ShipTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SkipTax__c</field>
            <value>
                <elementReference>sOrder.ccrz__SkipTax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <elementReference>sOrder.ccrz__Storefront__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TaxAmount__c</field>
            <value>
                <elementReference>sOrder.ccrz__TaxAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TaxExemptFlag__c</field>
            <value>
                <elementReference>sOrder.ccrz__TaxExemptFlag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TotalDiscount__c</field>
            <value>
                <elementReference>sOrder.ccrz__TotalDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TotalSurcharge__c</field>
            <value>
                <elementReference>sOrder.ccrz__TotalSurcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__User__c</field>
            <value>
                <elementReference>sOrder.ccrz__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__VerifyExemptionFlag__c</field>
            <value>
                <elementReference>sOrder.ccrz__VerifyExemptionFlag__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>66</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Credit_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputAssignments>
            <assignToReference>sOrder.Auto_Approval__c</assignToReference>
            <field>Auto_Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Opportunity1__c</assignToReference>
            <field>Opportunity1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.Opportunity_Order__c</assignToReference>
            <field>Opportunity_Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Account__c</assignToReference>
            <field>ccrz__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__AdjustmentAmount__c</assignToReference>
            <field>ccrz__AdjustmentAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__AdjustmentReason__c</assignToReference>
            <field>ccrz__AdjustmentReason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BillTo__c</assignToReference>
            <field>ccrz__BillTo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BuyerCompanyName__c</assignToReference>
            <field>ccrz__BuyerCompanyName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BuyerEmail__c</assignToReference>
            <field>ccrz__BuyerEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BuyerFirstName__c</assignToReference>
            <field>ccrz__BuyerFirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BuyerLastName__c</assignToReference>
            <field>ccrz__BuyerLastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BuyerMobilePhone__c</assignToReference>
            <field>ccrz__BuyerMobilePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__BuyerPhone__c</assignToReference>
            <field>ccrz__BuyerPhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__CCEmailAddress__c</assignToReference>
            <field>ccrz__CCEmailAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Contact__c</assignToReference>
            <field>ccrz__Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ContractId__c</assignToReference>
            <field>ccrz__ContractId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__CurrencyISOCode__c</assignToReference>
            <field>ccrz__CurrencyISOCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__EffectiveAccountID__c</assignToReference>
            <field>ccrz__EffectiveAccountID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__EncryptedId__c</assignToReference>
            <field>ccrz__EncryptedId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ExtCarrier__c</assignToReference>
            <field>ccrz__ExtCarrier__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ExtShipTo__c</assignToReference>
            <field>ccrz__ExtShipTo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ExtShipTrackNo__c</assignToReference>
            <field>ccrz__ExtShipTrackNo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__IsAnonymous__c</assignToReference>
            <field>ccrz__IsAnonymous__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Name__c</assignToReference>
            <field>ccrz__Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Note__c</assignToReference>
            <field>ccrz__Note__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderDate__c</assignToReference>
            <field>ccrz__OrderDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderId__c</assignToReference>
            <field>ccrz__OrderId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderName__c</assignToReference>
            <field>ccrz__OrderName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderSeller__c</assignToReference>
            <field>ccrz__OrderSeller__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OrderStatus__c</assignToReference>
            <field>ccrz__OrderStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Order__c</assignToReference>
            <field>ccrz__Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__OriginatedCart__c</assignToReference>
            <field>ccrz__OriginatedCart__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__PONumber__c</assignToReference>
            <field>ccrz__PONumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__PaymentMethod__c</assignToReference>
            <field>ccrz__PaymentMethod__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__RequestDate__c</assignToReference>
            <field>ccrz__RequestDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ShipAmount__c</assignToReference>
            <field>ccrz__ShipAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ShipComplete__c</assignToReference>
            <field>ccrz__ShipComplete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ShipDiscountAmount__c</assignToReference>
            <field>ccrz__ShipDiscountAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ShipMethod__c</assignToReference>
            <field>ccrz__ShipMethod__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__ShipTo__c</assignToReference>
            <field>ccrz__ShipTo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__SkipTax__c</assignToReference>
            <field>ccrz__SkipTax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__Storefront__c</assignToReference>
            <field>ccrz__Storefront__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__SubtotalAmount__c</assignToReference>
            <field>ccrz__SubtotalAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TaxAmount__c</assignToReference>
            <field>ccrz__TaxAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TaxExemptFlag__c</assignToReference>
            <field>ccrz__TaxExemptFlag__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TaxSubTotalAmount__c</assignToReference>
            <field>ccrz__TaxSubTotalAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TotalDiscount__c</assignToReference>
            <field>ccrz__TotalDiscount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__TotalSurcharge__c</assignToReference>
            <field>ccrz__TotalSurcharge__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__User__c</assignToReference>
            <field>ccrz__User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOrder.ccrz__VerifyExemptionFlag__c</assignToReference>
            <field>ccrz__VerifyExemptionFlag__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Line_Items</name>
        <label>Get Order Line Items</label>
        <locationX>407</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Items_Loop</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__AbsoluteDiscount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ccrz__Coupon__c</queriedFields>
        <queriedFields>ccrz__DisplayProduct__c</queriedFields>
        <queriedFields>ccrz__ExtName__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__ItemLabel__c</queriedFields>
        <queriedFields>ccrz__ItemStatus__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemGroup__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__ParentProduct__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__PricingModifierTypes__c</queriedFields>
        <queriedFields>ccrz__PricingType__c</queriedFields>
        <queriedFields>ccrz__PrimaryAttr__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__TertiaryAttr__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>232</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Transaction_Payment_Loop</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>colTransPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>cclxrep__Contract__c</queriedFields>
        <queriedFields>ccpgcs__Address__c</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__AccountNumber__c</queriedFields>
        <queriedFields>ccrz__AccountType__c</queriedFields>
        <queriedFields>ccrz__Address__c</queriedFields>
        <queriedFields>ccrz__Amount__c</queriedFields>
        <queriedFields>ccrz__BillTo__c</queriedFields>
        <queriedFields>ccrz__CCOrder__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__CurrencyISOCode__c</queriedFields>
        <queriedFields>ccrz__ExpirationMonth__c</queriedFields>
        <queriedFields>ccrz__ExpirationYear__c</queriedFields>
        <queriedFields>ccrz__ParentTransactionPayment__c</queriedFields>
        <queriedFields>ccrz__PaymentType__c</queriedFields>
        <queriedFields>ccrz__RequestAmount__c</queriedFields>
        <queriedFields>ccrz__SoldTo__c</queriedFields>
        <queriedFields>ccrz__SourceTransactionPayment__c</queriedFields>
        <queriedFields>ccrz__StoredPayment__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>ccrz__SubAccountNumber__c</queriedFields>
        <queriedFields>ccrz__Token__c</queriedFields>
        <queriedFields>ccrz__TransactionCode__c</queriedFields>
        <queriedFields>ccrz__TransactionPaymentId__c</queriedFields>
        <queriedFields>ccrz__TransactionSubcode__c</queriedFields>
        <queriedFields>ccrz__TransactionTS__c</queriedFields>
        <queriedFields>ccrz__TransactionType__c</queriedFields>
        <queriedFields>ccrz__User__c</queriedFields>
        <queriedFields>ccrz__VerificationCode__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Order</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colOOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>colShipments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderShipment__c</objectType>
    </variables>
    <variables>
        <name>colTransPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>frmOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outCreditID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
</Flow>
