force-app/main/default/flows/Process_On_Hold_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Output_Collection</name>
        <label>Add to Output Collection</label>
        <locationX>151</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>colOutOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_On_Hold_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Collection</name>
        <label>Clear Collection</label>
        <locationX>516</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>colOutOrder</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTenCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status</name>
        <label>Set Order Status</label>
        <locationX>347</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>sOrders.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reprocess</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTenCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTenCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Release_10_at_a_time</name>
        <label>Release 10 at a time</label>
        <locationX>337</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TenCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTenCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orders</targetReference>
            </connector>
            <label>TenCount</label>
        </rules>
    </decisions>
    <formulas>
        <name>fTenCount</name>
        <dataType>Number</dataType>
        <expression>{!vTenCount} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Process On Hold Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process On Hold Orders</label>
    <loops>
        <name>Process_On_Hold_Orders</name>
        <label>Process On Hold Orders</label>
        <locationX>247</locationX>
        <locationY>189</locationY>
        <assignNextValueToReference>sOrders</assignNextValueToReference>
        <collectionReference>colOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Release_10_at_a_time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_All_On_Hold_Records_to_Submitted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_On_Hold_Orders</name>
        <label>Get Account On Hold Orders</label>
        <locationX>247</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_On_Hold_Orders</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>colOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Change_All_On_Hold_Records_to_Submitted</name>
        <label>Change All On Hold Records to Submitted</label>
        <locationX>474</locationX>
        <locationY>185</locationY>
        <inputReference>colOutOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>514</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>Clear_Collection</targetReference>
        </connector>
        <inputReference>colOutOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Account_On_Hold_Orders</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>colOutOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>frmAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sOrders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>vTenCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
</Flow>
