force-app/main/default/flows/Release_Achievement_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>821</locationX>
        <locationY>58</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <actionCalls>
        <name>DoNothing</name>
        <label>DoNothing</label>
        <locationX>607</locationX>
        <locationY>522</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Output_Collection</name>
        <label>Add to Output Collection</label>
        <locationX>178</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>outAchievementAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sAchievementAssighments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Achievements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SDoc_Output</name>
        <label>Add to SDoc Output</label>
        <locationX>183</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>colSDOCJob</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sSDOCJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Achievement_Information</name>
        <label>Set Achievement Information</label>
        <locationX>476</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>sAchievementAssighments.redwing__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Achievement_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SDocs_Information</name>
        <label>Set SDocs Information</label>
        <locationX>354</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>sSDOCJob.SDOC__Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sSDOCJob.SDOC__SendEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sSDOCJob.SDOC__Oid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssighments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sSDOCJob.SDOC__ObjApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>redwing__Achievement_Assignment__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sSDOCJob.SDOC__Doclist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2u210000016nsWAAQ,a2u210000016nsXAAQ,a2u210000016SuAAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sSDOCJob.SDOC__RunAs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>implementationadmin@salesforce.com.transuat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_SDoc_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Achievement_Type</name>
        <label>Check Achievement Type</label>
        <locationX>343</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Certificate_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sAchievementAssighments.Achievement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certifications</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sAchievementAssighments.Achievement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SDocs_Information</targetReference>
            </connector>
            <label>Send Certificate Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Update</name>
        <label>Need Update</label>
        <locationX>452</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Achievements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAchievementAssighments.redwing__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnHold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Achievement_Information</targetReference>
            </connector>
            <label>Status Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Achievements</name>
        <label>Release Achievements</label>
        <locationX>553</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isILTClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFulfillmentItem.ILT_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Request_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Achievement_Assignments</targetReference>
            </connector>
            <label>isILTClass</label>
        </rules>
        <rules>
            <name>isCommunityClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFulfillmentItem.ILT_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Request_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vouchers</targetReference>
            </connector>
            <label>isCommunityClass</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateNeeded</name>
        <label>UpdateNeeded</label>
        <locationX>595</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>DoNothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outAchievementAssignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Achievement_Assignments</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>Release Achievement Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release Achievement Assignments</label>
    <loops>
        <name>Loop_through_Achievements</name>
        <label>Loop through Achievements</label>
        <locationX>361</locationX>
        <locationY>374</locationY>
        <assignNextValueToReference>sAchievementAssighments</assignNextValueToReference>
        <collectionReference>colAchievementAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Need_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateNeeded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sdoc</name>
        <label>Create Sdoc</label>
        <locationX>1034</locationX>
        <locationY>377</locationY>
        <inputReference>colSDOCJob</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Achievement_Assignments</name>
        <label>Get Achievement Assignments</label>
        <locationX>360</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Achievements</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFulfillmentItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>colAchievementAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Status__c</queriedFields>
        <queriedFields>Achievement_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Item</name>
        <label>Get Fulfillment Item</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ILT_Class</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmFulfillmentItem</elementReference>
            </value>
        </filters>
        <object>Fulfillment_Item__c</object>
        <outputReference>sFulfillmentItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Product__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Order_Item__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get ILT Class</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Release_Achievements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFulfillmentItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vouchers</name>
        <label>Get Vouchers</label>
        <locationX>624</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Achievement_Assignments</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFulfillmentItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <object>Voucher__c</object>
        <outputReference>colVoucher</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Achievement_Assignments</name>
        <label>Update Achievement Assignments</label>
        <locationX>843</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Create_Sdoc</targetReference>
        </connector>
        <inputReference>outAchievementAssignments</inputReference>
    </recordUpdates>
    <startElementReference>Get_Fulfillment_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colSDOCJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDOC__SDJob__c</objectType>
    </variables>
    <variables>
        <name>colVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>frmFulfillmentItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outAchievementAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sAchievementAssighments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sSDOCJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDOC__SDJob__c</objectType>
    </variables>
</Flow>
