force-app/main/default/flows/Schedule_New_Training_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Minor_Item_Output</name>
        <label>Set Minor Item Output</label>
        <locationX>890</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>outMinOrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sMinOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Minor_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Minor_Item_Values</name>
        <label>Set Minor Item Values</label>
        <locationX>718</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>sMinOrderItem.ccrz__ParentOrderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOrderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sMinOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Training_Event</name>
        <label>Set Training Event</label>
        <locationX>1111</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOrderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Course_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Course_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Quantity_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Training_Address_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Training_Address_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Training_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Location_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Training_Location_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Training_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Training_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Training_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Scheduling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Catalog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Course_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Course_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Course_Order_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.SCC_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.SCC_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.TE_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.TE_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.TE_Owner_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.TE_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.TE_Owner_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.TE_Owner_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.TE_Owner_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.TE_Owner_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.TE_Owner_Phone_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.TE_Owner_Phone_Ext__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.TE_Owner_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.TE_Owner_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Supp_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Supp_Info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Written_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Written_Test__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrainingEvent2.Special_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Training_Events</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_to_Order</name>
        <label>Add to Order</label>
        <locationX>822</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Minor_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStudentorClass</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>sMinOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sMinOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Class</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sMinOrderItem.ccrz__ExtSKU__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MINSTUDENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Minor_Item_Output</targetReference>
            </connector>
            <label>isStudentorClass</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProcessorNot</name>
        <label>ProcessorNot</label>
        <locationX>310</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Cancel_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessorCancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Continue Process</label>
        </rules>
    </decisions>
    <description>Adds new training event and order items</description>
    <interviewLabel>Schedule New Training Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule New Training Event</label>
    <loops>
        <name>Loop_through_Minor_Items</name>
        <label>Loop through Minor Items</label>
        <locationX>695</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>sMinOrderItem</assignNextValueToReference>
        <collectionReference>colMinOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Minor_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Minor_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Minor_Items</name>
        <label>Create Minor Items</label>
        <locationX>949</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Set_Training_Event</targetReference>
        </connector>
        <inputReference>outMinOrderItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Major_Line_Item</name>
        <label>Create new Major Line Item</label>
        <locationX>582</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>vOrderItem</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_through_Minor_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustment_Types__c</field>
            <value>
                <elementReference>sMajOrderItem.Adjustment_Types__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coupon__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Coupon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explanation__c</field>
            <value>
                <elementReference>sMajOrderItem.Explanation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Type__c</field>
            <value>
                <elementReference>sMajOrderItem.Inventory_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <elementReference>sMajOrderItem.Payment_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>sMajOrderItem.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplemental_Information__c</field>
            <value>
                <elementReference>sMajOrderItem.Supplemental_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TS_LOC__c</field>
            <value>
                <elementReference>sMajOrderItem.TS_LOC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Code__c</field>
            <value>
                <elementReference>sMajOrderItem.Unit_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AbsoluteDiscount__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__AbsoluteDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AdjustmentAmount__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__AbsoluteDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AvailabilityMessage__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__AvailabilityMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Category__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Comments__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Coupon__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Coupon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__DisplayProduct__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__DisplayProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtName__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ExtName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtSKU__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ExtSKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ItemLabel__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ItemLabel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ItemStatus__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ItemStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__OrderLineType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__OriginalItemPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__OriginalQuantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentOrderItem__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ParentOrderItem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentProduct__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ParentProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PercentDiscount__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__PercentDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PricingModifierTypes__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__PricingModifierTypes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PricingType__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__PricingType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ProductType__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__ProductType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StoreId__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__StoreId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__SubAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__UnitOfMeasure__c</field>
            <value>
                <elementReference>sMajOrderItem.ccrz__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Events</name>
        <label>Create Training Events</label>
        <locationX>1110</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>sTrainingEvent2</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Major_Order_Item</name>
        <label>Get Major Order Item</label>
        <locationX>451</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Minor_Order_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order_Item__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sMajOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adjustment_Types__c</queriedFields>
        <queriedFields>AP_Code__c</queriedFields>
        <queriedFields>ccrz__AbsoluteDiscount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__AvailabilityMessage__c</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ccrz__Coupon__c</queriedFields>
        <queriedFields>ccrz__DisplayProduct__c</queriedFields>
        <queriedFields>ccrz__ExtName__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__Is_Subscription__c</queriedFields>
        <queriedFields>ccrz__ItemLabel__c</queriedFields>
        <queriedFields>ccrz__ItemStatus__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Next_Subscription_Date__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__ParentProduct__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__PricingModifierTypes__c</queriedFields>
        <queriedFields>ccrz__PricingType__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__RequestDate__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Class_Setting__c</queriedFields>
        <queriedFields>Coupon__c</queriedFields>
        <queriedFields>Coupon_Used__c</queriedFields>
        <queriedFields>Explanation__c</queriedFields>
        <queriedFields>FOCIS_Category__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Unit_Code__c</queriedFields>
        <queriedFields>TS_LOC__c</queriedFields>
        <queriedFields>Related_Contact_2__c</queriedFields>
        <queriedFields>Related_Contact_1__c</queriedFields>
        <queriedFields>Payment_Category__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Minor_Order_Items</name>
        <label>Get Minor Order Items</label>
        <locationX>583</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_Major_Line_Item</targetReference>
        </connector>
        <filters>
            <field>ccrz__ParentOrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sMajOrderItem.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colMinOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adjustment_Types__c</queriedFields>
        <queriedFields>ccrz__AbsoluteDiscount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__AvailabilityMessage__c</queriedFields>
        <queriedFields>AP_Code__c</queriedFields>
        <queriedFields>ccrz__Category__c</queriedFields>
        <queriedFields>ccrz__Comments__c</queriedFields>
        <queriedFields>ccrz__Coupon__c</queriedFields>
        <queriedFields>ccrz__DisplayProduct__c</queriedFields>
        <queriedFields>ccrz__ExtName__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__ItemLabel__c</queriedFields>
        <queriedFields>ccrz__ItemStatus__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__ParentProduct__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__PricingModifierTypes__c</queriedFields>
        <queriedFields>ccrz__PricingType__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__RequestDate__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Coupon__c</queriedFields>
        <queriedFields>Coupon_Used__c</queriedFields>
        <queriedFields>FOCIS_Category__c</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ILT_Class_End_Date__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Related_Contact_1__c</queriedFields>
        <queriedFields>Payment_Category__c</queriedFields>
        <queriedFields>Reason_Codes__c</queriedFields>
        <queriedFields>Related_Contact_2__c</queriedFields>
        <queriedFields>TS_LOC__c</queriedFields>
        <queriedFields>Unit_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>309</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Major_Order_Item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__ShipTo__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event</name>
        <label>Get Training Event</label>
        <locationX>180</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Actual_Attendance__c</queriedFields>
        <queriedFields>Actual_of_Students__c</queriedFields>
        <queriedFields>Alterations_to_skills_due_to_state_local__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Announced_to_Management__c</queriedFields>
        <queriedFields>BGST_Indicator__c</queriedFields>
        <queriedFields>BGST_Rep_Email__c</queriedFields>
        <queriedFields>Billed_As__c</queriedFields>
        <queriedFields>Billing_Account__c</queriedFields>
        <queriedFields>Break_Times__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Champs_Set_up_Complete__c</queriedFields>
        <queriedFields>Close_Date_to_Scheduled__c</queriedFields>
        <queriedFields>Close_Date_to_TE__c</queriedFields>
        <queriedFields>Closed_Won_Date__c</queriedFields>
        <queriedFields>Combined_Event__c</queriedFields>
        <queriedFields>Completed_By__c</queriedFields>
        <queriedFields>Completed_Date__c</queriedFields>
        <queriedFields>County__c</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
        <queriedFields>Course_ID__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Course_Order_Status__c</queriedFields>
        <queriedFields>Course_Record_Processed_Date__c</queriedFields>
        <queriedFields>CRS__c</queriedFields>
        <queriedFields>Customer_Notes__c</queriedFields>
        <queriedFields>DocuSign_Status__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>End_Time__c</queriedFields>
        <queriedFields>Entry_Method__c</queriedFields>
        <queriedFields>Est_Training_Event_Amount__c</queriedFields>
        <queriedFields>Equipment__c</queriedFields>
        <queriedFields>Final_Service__c</queriedFields>
        <queriedFields>Instructor_1__c</queriedFields>
        <queriedFields>LMS_Org_ID__c</queriedFields>
        <queriedFields>Max_Course_Catalog_Students__c</queriedFields>
        <queriedFields>Multi_Jurisdictional_Local_Billing_Type__c</queriedFields>
        <queriedFields>Number_of_Examiners__c</queriedFields>
        <queriedFields>Number_in_Class__c</queriedFields>
        <queriedFields>Number_of_Instructors__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Product_ID__c</queriedFields>
        <queriedFields>of_Days_from_Closed_Won_to_TE_Created__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Quantity_1__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Rescheduling_Fee__c</queriedFields>
        <queriedFields>Scheduling_Status__c</queriedFields>
        <queriedFields>Rescheduling_Date__c</queriedFields>
        <queriedFields>SCC_Code__c</queriedFields>
        <queriedFields>Scheduling_Complete__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <queriedFields>Supp_Info__c</queriedFields>
        <queriedFields>Special_Instructions__c</queriedFields>
        <queriedFields>TE_Owner__c</queriedFields>
        <queriedFields>TE_Owner_Email__c</queriedFields>
        <queriedFields>Skills_Evaluation__c</queriedFields>
        <queriedFields>TE_Owner_Manager__c</queriedFields>
        <queriedFields>TE_Owner_Title__c</queriedFields>
        <queriedFields>TE_Owner_Phone_Ext__c</queriedFields>
        <queriedFields>TE_Owner_Phone__c</queriedFields>
        <queriedFields>Service_Delivery_Territory__c</queriedFields>
        <queriedFields>Times_Rescheduled__c</queriedFields>
        <queriedFields>Training_Address_1__c</queriedFields>
        <queriedFields>Training_Address_2__c</queriedFields>
        <queriedFields>Training_City__c</queriedFields>
        <queriedFields>Training_Contact__c</queriedFields>
        <queriedFields>Training_Contact_Cell_Phone__c</queriedFields>
        <queriedFields>Training_Contact_email__c</queriedFields>
        <queriedFields>Training_Contact_Office_Ext__c</queriedFields>
        <queriedFields>Training_Contact_Office_Phone__c</queriedFields>
        <queriedFields>Sent_Addendum_Date__c</queriedFields>
        <queriedFields>Training_Event_Age__c</queriedFields>
        <queriedFields>Training_Zip__c</queriedFields>
        <queriedFields>Written_Test__c</queriedFields>
        <queriedFields>Void_Reason__c</queriedFields>
        <queriedFields>Void_Date__c</queriedFields>
        <queriedFields>Training_Office_Title__c</queriedFields>
        <queriedFields>Training_Location_State__c</queriedFields>
        <queriedFields>Training_Location__c</queriedFields>
        <queriedFields>Training_Event_Age_Detail__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Cancel_Processing</name>
        <label>Cancel Processing</label>
        <locationX>316</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EventCancelled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;CANCELLED&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Training Events have not been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1114</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;You have successfully created &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;1) A new Training Event&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;2) A new order item&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification</name>
        <label>Verification</label>
        <locationX>181</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProcessorNot</targetReference>
        </connector>
        <fields>
            <name>VerificationMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You are about to schedule an additional training event&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This will:&lt;/p&gt;&lt;p&gt;1) Create a new Training Event based on the current Training Event&lt;/p&gt;&lt;p&gt;2) Create a new Order Item and its minor items&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Training Event: {!sTrainingEvent.Name}&lt;/p&gt;&lt;p&gt;Course Catalog: {!sTrainingEvent.Course_Catalog__c}&lt;/p&gt;&lt;p&gt;Course Name: {!sTrainingEvent.Course_Name__c}&lt;/p&gt;&lt;p&gt;Account: {!sTrainingEvent.Account__c}&lt;/p&gt;&lt;p&gt;Opportunity: {!sTrainingEvent.Opportunity__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProcessorCancel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check to create additional Training Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Training_Event</startElementReference>
    <status>Active</status>
    <variables>
        <name>colMinOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOpptyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outMinOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sMajOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sMinOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>vOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Training Event Record Type</description>
        <name>vTrainingEventRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
