force-app/main/default/flows/Set_Learning_Plan_Assignment_Expiration_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Learning_Plan_Assignment</name>
        <label>Set Learning Plan Assignment</label>
        <locationX>739</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>sLearningPlanAssignment.redwing__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAchievementAssignment.redwing__Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sLearningPlanAssignment.Recertification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sLearningPlanAssignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sLearningPlanAssignment.redwing__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Learning_Plan_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recertification</name>
        <label>Set Recertification</label>
        <locationX>739</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>sLearningPlanAssignment.Recertification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sLearningPlanAssignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sLearningPlanAssignment.redwing__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Learning_Plan_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Achievement_Assignment_Records</name>
        <label>Found Achievement Assignment Records</label>
        <locationX>555</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Set_Recertification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAchievementAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Learning_Plan_Assignment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Updates the Learning Plan Expiration Date</description>
    <formulas>
        <name>fLast90Days</name>
        <dataType>Date</dataType>
        <expression>Today() - 90</expression>
    </formulas>
    <interviewLabel>Set Learning Plan Assignment Expiration Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Learning Plan Assignment Expiration Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Achievement_Assignment</name>
        <label>Get Achievement Assignment</label>
        <locationX>378</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Achievement_Assignment_Records</targetReference>
        </connector>
        <filters>
            <field>Achievement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certifications</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recertification_Learning_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sLearningPlanAssignment.redwing__Training_Plan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sLearningPlanAssignment.redwing__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquired</stringValue>
            </value>
        </filters>
        <filters>
            <field>redwing__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sLearningPlanAssignment.redwing__User__c</elementReference>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>sAchievementAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Expiration_Date__c</queriedFields>
        <queriedFields>Achievement_Type__c</queriedFields>
        <queriedFields>redwing__Contact__c</queriedFields>
        <queriedFields>redwing__User__c</queriedFields>
        <sortField>redwing__Expiration_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Plan_Assignment</name>
        <label>Get Learning Plan Assignment</label>
        <locationX>180</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Achievement_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmLearningPlanAssignmentID</elementReference>
            </value>
        </filters>
        <object>redwing__Training_Plan_Assignment__c</object>
        <outputReference>sLearningPlanAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Contact__c</queriedFields>
        <queriedFields>redwing__Status__c</queriedFields>
        <queriedFields>redwing__Due_Date__c</queriedFields>
        <queriedFields>redwing__Training_Plan__c</queriedFields>
        <queriedFields>redwing__User__c</queriedFields>
        <queriedFields>redwing__Completed_On__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Due Date</description>
        <name>Update_Learning_Plan_Assignment</name>
        <label>Update Learning Plan Assignment</label>
        <locationX>895</locationX>
        <locationY>54</locationY>
        <inputReference>sLearningPlanAssignment</inputReference>
    </recordUpdates>
    <startElementReference>Get_Learning_Plan_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmLearningPlanAssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAchievementAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <name>sLearningPlanAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Plan_Assignment__c</objectType>
    </variables>
</Flow>
