force-app/main/default/flows/Set_Price_Group_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add to output collection of price list items</description>
        <name>Add_to_oPriceGroupPriceLists</name>
        <label>Add to oPriceGroupPriceLists</label>
        <locationX>1172</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>oColPriceGroupPriceLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sPriceGroupPriceListLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_End_Date_of_all_Price_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Price_Group_Price_List</name>
        <label>Add to Price Group Price List</label>
        <locationX>862</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>listPriceGroupPriceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sPriceGroupPriceList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Price_Lists_to_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Lists</name>
        <label>Assign Price Lists</label>
        <locationX>852</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__EffectiveEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEffectiveEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__EffectiveStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__PriceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceGroupID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__Pricelist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPriceLists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceList.ccrz__Storefront__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Price_Group_Price_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializes Start and End Dates - Set in Set Price Group ID</description>
        <name>Initialize_Start_and_End_Dates</name>
        <label>Initialize Start and End Dates</label>
        <locationX>359</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>vEffectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HighestDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOppurtunity.Highest_Product_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Upsell_Price_Group_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set end date for the Price lists looping through</description>
        <name>Set_Price_Group_Price_List_End_Date</name>
        <label>Set Price Group Price List End Date</label>
        <locationX>1295</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>sPriceGroupPriceListLoop.ccrz__EffectiveEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUpsellEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_oPriceGroupPriceLists</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CPS</name>
        <choiceText>CPS</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cCPSStore</elementReference>
        </value>
    </choices>
    <choices>
        <name>CREStore</name>
        <choiceText>CREStore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CREStore</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralStore</name>
        <choiceText>GeneralStore</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cGeneralStore</elementReference>
        </value>
    </choices>
    <constants>
        <name>cCPSStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPS</stringValue>
        </value>
    </constants>
    <constants>
        <name>cGeneralStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GeneralStore</stringValue>
        </value>
    </constants>
    <description>Sets the Dates in Price Groups and Price Group Price lists based on Opportunity Closed Won</description>
    <dynamicChoiceSets>
        <name>AvailablePriceLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GeneralStore</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputAssignments>
            <assignToReference>sPriceLists.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sPriceLists.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedPriceLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Private__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceList__c</object>
        <outputAssignments>
            <assignToReference>sPriceLists.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Start Date - 1</description>
        <name>fEndDate</name>
        <dataType>Date</dataType>
        <expression>{!sPriceGroupAccount.ccrz__EffectiveStart__c} - 1</expression>
    </formulas>
    <formulas>
        <name>fUpsellEndDate</name>
        <dataType>Date</dataType>
        <expression>{!vEffectiveStartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>IsHigher</name>
        <dataType>Number</dataType>
        <expression>IF({!sPriceLists.Discount__c}&gt;{!HighestDiscount},{!sPriceLists.Discount__c},{!HighestDiscount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Price Group Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Price Group Dates</label>
    <loops>
        <name>Loop_through_Price_Lists_to_Add</name>
        <label>Loop through Price Lists to Add</label>
        <locationX>1039</locationX>
        <locationY>594</locationY>
        <assignNextValueToReference>sPriceLists</assignNextValueToReference>
        <collectionReference>colAvailablePriceLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <loops>
        <description>Set end date of price lists associated to price group</description>
        <name>Set_End_Date_of_all_Price_Lists</name>
        <label>Set End Date of all Price Lists</label>
        <locationX>1029</locationX>
        <locationY>206</locationY>
        <assignNextValueToReference>sPriceGroupPriceListLoop</assignNextValueToReference>
        <collectionReference>colPriceGroupPriceLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Price_Group_Price_List_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Price_Group_Price_Lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Oppurtunity</name>
        <label>Get Oppurtunity</label>
        <locationX>189</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Establish_Price_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppurtunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>sOppurtunity.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Highest_Product_Discount__c</assignToReference>
            <field>Highest_Product_Discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Owner_Profile__c</assignToReference>
            <field>Owner_Profile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <field>Pricing_Approval_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.SCC_User__c</assignToReference>
            <field>SCC_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppurtunity.Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Price Groups associated to the Price Group Account</description>
        <name>Get_Price_Groups_Price_Lists</name>
        <label>Get Price Groups Price Lists</label>
        <locationX>821</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_End_Date_of_all_Price_Lists</targetReference>
        </connector>
        <filters>
            <field>ccrz__PriceGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPriceGroupAccount.ccrz__PriceGroup__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupPricelist__c</object>
        <outputReference>colPriceGroupPriceLists</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__EffectiveEnd__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get price group associated with the upsell opportunity</description>
        <name>Get_Upsell_Price_Group_Account</name>
        <label>Get Upsell Price Group Account</label>
        <locationX>503</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Price_Group_Account_End_Date</targetReference>
        </connector>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOppurtunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EffectiveEnd__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EffectiveStart__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vEffectiveStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storefront</elementReference>
            </value>
        </filters>
        <object>ccrz__E_PriceGroupAccount__c</object>
        <outputReference>sPriceGroupAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__PriceGroup__c</queriedFields>
        <queriedFields>ccrz__EffectiveStart__c</queriedFields>
        <queriedFields>ccrz__EffectiveEnd__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Price Group Account End Date</description>
        <name>Update_Price_Group_Account_End_Date</name>
        <label>Update Price Group Account End Date</label>
        <locationX>662</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Get_Price_Groups_Price_Lists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPriceGroupAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ccrz__EffectiveEnd__c</field>
            <value>
                <elementReference>fUpsellEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceGroupAccount__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update looped price group price lits</description>
        <name>Update_Price_Group_Price_Lists</name>
        <label>Update Price Group Price Lists</label>
        <locationX>1034</locationX>
        <locationY>386</locationY>
        <inputReference>oColPriceGroupPriceLists</inputReference>
    </recordUpdates>
    <screens>
        <name>Establish_Price_Group</name>
        <label>Establish Price Group</label>
        <locationX>359</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initialize_Start_and_End_Dates</targetReference>
        </connector>
        <fields>
            <name>dspAccount</name>
            <fieldText>{!sobjAccountName.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dspOppurtunityName</name>
            <fieldText>{!sOppurtunity.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Group_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sOppurtunity.Name</elementReference>
            </defaultValue>
            <fieldText>Group Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Name for the Contract Pricing</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Effective Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2099-12-31</dateValue>
            </defaultValue>
            <fieldText>Effective End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Effective End  must be greater than Effective Start</errorMessage>
                <formulaExpression>{!Effective_Start_Date} &lt;= {!Effective_End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Enabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Enabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Storefront</name>
            <choiceReferences>GeneralStore</choiceReferences>
            <choiceReferences>CREStore</choiceReferences>
            <choiceReferences>CPS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>GeneralStore</defaultSelectedChoiceReference>
            <fieldText>Storefront</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Oppurtunity</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ByPassPriceGroupAccountCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colAvailablePriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <description>Collection of Price Group Price Lists</description>
        <name>colPriceGroupPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <name>frmAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmOppurtunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmPriceGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HighestDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>listPriceGroupPriceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <description>Output Collection for Price Group Price Lists</description>
        <name>oColPriceGroupPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <name>sAccountSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_AccountSetting__c</objectType>
    </variables>
    <variables>
        <name>sobjAccountName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sOppurtunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sPriceGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroup__c</objectType>
    </variables>
    <variables>
        <name>sPriceGroupAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupAccount__c</objectType>
    </variables>
    <variables>
        <name>sPriceGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sPriceGroupPriceList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <description>Loop variable for price lists</description>
        <name>sPriceGroupPriceListLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_PriceGroupPricelist__c</objectType>
    </variables>
    <variables>
        <name>sPriceLists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <name>varOPricingApprovalLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>End Date</description>
        <name>vEffectiveEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Start Date</description>
        <name>vEffectiveStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
