force-app/main/default/flows/Set_Order_Item_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DoNothingCommerceCloud_Order</name>
        <label>DoNothingCommerceCloud Order</label>
        <locationX>163</locationX>
        <locationY>572</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Bill_To_Contact_Only</name>
        <label>Assign Bill To Contact Only</label>
        <locationX>748</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Individual_Update</name>
        <label>Individual Update</label>
        <locationX>755</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instructor_Email_Addresses</name>
        <label>Set Instructor Email Addresses</label>
        <locationX>745</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sUser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Email_Address</name>
        <label>Set Partner Email Address</label>
        <locationX>754</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrderItem.Related_Contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PartnerProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SB PHSS-Partner-Community Plus Login</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Transaction_Payment_User_Exists</name>
        <label>Check Transaction Payment User Exists</label>
        <locationX>154</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>DoNothingCommerceCloud_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTPUExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Payment_user</targetReference>
            </connector>
            <label>isTPUExist</label>
        </rules>
        <rules>
            <name>isContactNoUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTransactionPayment.ccrz__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_To_Contact_Only</targetReference>
            </connector>
            <label>isContactNoUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>ILT_Instructor</name>
        <label>ILT Instructor</label>
        <locationX>308</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>Get_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ILT_Instructor_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.ILT_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ILT_Instructor</targetReference>
            </connector>
            <label>ILT Instructor Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Payment_to</name>
        <label>Send Payment to</label>
        <locationX>481</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>Individual_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isInstructor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sAccount.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Profile_ID.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Transaction_Payment_user.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instructor_Email_Addresses</targetReference>
            </connector>
            <label>isInstructor</label>
        </rules>
        <rules>
            <name>isPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Profile_ID.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Transaction_Payment_user.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner_Email_Address</targetReference>
            </connector>
            <label>isPartner</label>
        </rules>
        <rules>
            <name>isCommerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUserLookUp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instructor_Email_Addresses</targetReference>
            </connector>
            <label>isCommerce</label>
        </rules>
    </decisions>
    <description>Set Instructor and Billing Contact on Order Line</description>
    <interviewLabel>Set Order Item Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Order Item Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>754</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>496</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Instructor</name>
        <label>Get ILT Instructor</label>
        <locationX>474</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
        <filters>
            <field>redwing__ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>redwing__ILT_Instructor__c</object>
        <outputReference>sILTIntructor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Instructor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>617</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Profile_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItem</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Related_Contact_1__c</queriedFields>
        <queriedFields>Related_Contact_2__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Profile_ID</name>
        <label>Get Partner Profile ID</label>
        <locationX>160</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ILT_Instructor</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerProfileName</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>354</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Transaction_Payment_User_Exists</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__User__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment_user</name>
        <label>Get Transaction Payment user</label>
        <locationX>338</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Payment_to</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>618</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTIntructor.redwing__Instructor__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Line_Item</name>
        <label>Update Order Line Item</label>
        <locationX>997</locationX>
        <locationY>637</locationY>
        <inputReference>sOrderItem</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sILTIntructor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Instructor__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>sUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vUserLookUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
