force-app/main/default/flows/Set_Opportunity_Discount_Approvals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Exec_Dir</name>
        <label>Set Exec Dir</label>
        <locationX>1122</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executive Director</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Highest_Discount</name>
        <label>Set Highest Discount</label>
        <locationX>525</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>HighestDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOppurtunity.Highest_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Levels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MOM</name>
        <label>Set MOM</label>
        <locationX>166</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MOM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Approval</name>
        <label>Set No Approval</label>
        <locationX>858</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Approval Needed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Director</name>
        <label>Set Sales Director</label>
        <locationX>442</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Director</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Manager</name>
        <label>Set Sales Manager</label>
        <locationX>600</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>sOppurtunity.Pricing_Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppurtunity_Approval</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cDefaultStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DefaultStore</stringValue>
        </value>
    </constants>
    <constants>
        <name>cGeneralStore</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GeneralStore</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRetailPriceList</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail Price List</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstBGSTSalesProfile</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARC BGST Sales User</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstExecutiveDirector</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive Director</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstManager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstMOM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MOM</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstNoApprovalNeeded</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Approval Needed</stringValue>
        </value>
    </constants>
    <constants>
        <name>cstSalesDirector</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Director</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approval1015</name>
        <label>Approval1015</label>
        <locationX>1162</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BGST1015</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Approval</targetReference>
            </connector>
            <label>BGST1015</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_1520</name>
        <label>Approval 1520</label>
        <locationX>758</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SCC_1520</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Manager</targetReference>
            </connector>
            <label>SCC 1520</label>
        </rules>
        <rules>
            <name>BGST1520</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Approval</targetReference>
            </connector>
            <label>BGST1520</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_20_to_30</name>
        <label>Approval 20 to 30</label>
        <locationX>519</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SCC20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Manager</targetReference>
            </connector>
            <label>SCC20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Levels</name>
        <label>Approval Levels</label>
        <locationX>539</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Set_No_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GT30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30Approval_Split</targetReference>
            </connector>
            <label>GT30</label>
        </rules>
        <rules>
            <name>GT20_LTE30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_20_to_30</targetReference>
            </connector>
            <label>GT20 LTE30</label>
        </rules>
        <rules>
            <name>GT15LTE20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_1520</targetReference>
            </connector>
            <label>GT15LTE20</label>
        </rules>
        <rules>
            <name>GT10LTE15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighestDiscount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval1015</targetReference>
            </connector>
            <label>GT10LTE15</label>
        </rules>
    </decisions>
    <decisions>
        <name>X30Approval_Split</name>
        <label>30Approval Split</label>
        <locationX>276</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Set_MOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BGST_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Director</targetReference>
            </connector>
            <label>BGST 30</label>
        </rules>
        <rules>
            <name>SCC30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOppurtunity.SCC_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOppurtunity.Owner_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>cstBGSTSalesProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Director</targetReference>
            </connector>
            <label>SCC30</label>
        </rules>
    </decisions>
    <description>Set Approval Requirements</description>
    <formulas>
        <name>calcLineItemDiscount</name>
        <dataType>Number</dataType>
        <expression>(({!vBasePriceList} - {!vOrderItemPrice} ) / {!vBasePriceList}) * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fBasePrice</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!sRetailPrice.ccrz__Price__c}),0,{!sRetailPrice.ccrz__Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fListPrice</name>
        <dataType>Currency</dataType>
        <expression>IF({!fBasePrice} &gt; {!sOrderItem.ccrz__OriginalItemPrice__c}, {!fBasePrice}, {!sOrderItem.ccrz__OriginalItemPrice__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsHigher</name>
        <dataType>Number</dataType>
        <expression>IF({!vLastDiscount}&gt;{!HighestDiscount},{!vLastDiscount},{!HighestDiscount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Opportunity Discount Approvals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Opportunity Discount Approvals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Oppurtunity</name>
        <label>Get Oppurtunity</label>
        <locationX>255</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Highest_Discount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOpportunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOppurtunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricing_Approval_Level__c</queriedFields>
        <queriedFields>Pricing_Approval_Status__c</queriedFields>
        <queriedFields>Owner_Profile__c</queriedFields>
        <queriedFields>SCC_User__c</queriedFields>
        <queriedFields>Highest_Product_Discount__c</queriedFields>
        <queriedFields>Highest_Discount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppurtunity_Approval</name>
        <label>Update Oppurtunity Approval</label>
        <locationX>597</locationX>
        <locationY>799</locationY>
        <inputReference>sOppurtunity</inputReference>
    </recordUpdates>
    <startElementReference>Get_Oppurtunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>colIOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmCart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frmOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HighestDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sCart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Cart__c</objectType>
    </variables>
    <variables>
        <name>sOppurtunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sPriceList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceList__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sRetailPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>vBasePriceList</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>calcLineItemDiscount</elementReference>
        </value>
    </variables>
    <variables>
        <name>vLastDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOrderItemPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>sOrderItem.ccrz__Price__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>vOriginalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
