force-app/main/default/flows/Setup_NAT_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>531</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>sJob.Number_of_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJob.Number_of_Instructors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Instructors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJob.sked__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJob.sked__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJob.sked__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sJob.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTrainingEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>JobType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sked__Type__c</picklistField>
        <picklistObject>sked__Job__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Setup NAT Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup NAT Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>178</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NATJobConfig_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmJob</elementReference>
            </value>
        </filters>
        <object>sked__Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>sked__Account__c</queriedFields>
        <queriedFields>sked__Contact__c</queriedFields>
        <queriedFields>Number_of_Students__c</queriedFields>
        <queriedFields>Number_of_Instructors__c</queriedFields>
        <queriedFields>Training_Event__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event</name>
        <label>Get Training Event</label>
        <locationX>178</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NATJobConfig_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Training_Contact__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Course_Order_Status__c</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
        <queriedFields>Course_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>692</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>sJob</inputReference>
    </recordUpdates>
    <screens>
        <description>Step 1 - Enter Training Event</description>
        <name>NATJobConfig_1</name>
        <label>Step 1</label>
        <locationX>178</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Training_Event</targetReference>
        </connector>
        <fields>
            <name>InitialInfo_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Step 1: Enter Training Event to retrieve Account and Contact information &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JobTE</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job Training Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sked__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Training_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vTrainingEvent</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Set up for NAT Jobs</description>
        <name>NATJobConfig_2</name>
        <label>Step 2</label>
        <locationX>534</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Information2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Enter required fields for NAT Jobs to correctly be configured to create Instructor Led Training Classes (ILT Classes)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TrainingEventInfo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Account: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!sTrainingEvent.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Order: &lt;/b&gt;{!sTrainingEvent.CC_Order__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Order Item:&lt;/b&gt; {!sTrainingEvent.CC_Order_Item__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Order Status: &lt;/b&gt;{!sTrainingEvent.Course_Order_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Course ID: &lt;/b&gt;&lt;span style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!sTrainingEvent.Course_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Course Catalog:&lt;/b&gt; {!sTrainingEvent.Course_Catalog__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>JobType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>JobAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>sked__Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account for Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sked__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sTrainingEvent.Account__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>JobContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact for Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sked__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>sked__Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sTrainingEvent.Training_Contact__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContact</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Number_of_Instructors</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Instructors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Students</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Students</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>861</locationX>
        <locationY>67</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Information has been added to the Job.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;REMINDER&lt;/b&gt;: The Training Event status must be changed to Complete to create Class Vouchers&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Job</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sked__Job__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
