force-app/main/default/flows/Track_AuditLoginAs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Delegated_users_to_collection</name>
        <label>Add Delegated users to collection</label>
        <locationX>686</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>colAuditTrailLoginAs</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>sAuditTrailLoginAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Audit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delegated_user_Collection</name>
        <label>Set Delegated user Collection</label>
        <locationX>507</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>sAuditTrailLoginAs.Log_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sSetupAudit.Action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAuditTrailLoginAs.Log_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sSetupAudit.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAuditTrailLoginAs.Log_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sSetupAudit.Section</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAuditTrailLoginAs.Log_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sSetupAudit.DelegateUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAuditTrailLoginAs.Log_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sSetupAudit.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Delegated_users_to_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Track AuditLoginAs  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track AuditLoginAs</label>
    <loops>
        <name>Loop_through_Audit</name>
        <label>Loop through Audit</label>
        <locationX>509</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>sSetupAudit</assignNextValueToReference>
        <collectionReference>colSetupAuditTrail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Delegated_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AuditLoginAs_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AuditLoginAs_Records</name>
        <label>Create AuditLoginAs Records</label>
        <locationX>809</locationX>
        <locationY>171</locationY>
        <inputReference>colAuditTrailLoginAs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Delegated_User</name>
        <label>Get Delegated User</label>
        <locationX>508</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delegated_user_Collection</targetReference>
        </connector>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sSetupAudit.DelegateUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>sAuditTrailLoginAs.Log_Delegate_Contact__c</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sAuditTrailLoginAs.Log_Delegate_User__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Delegated_Users_from_last_time_frame</name>
        <label>Get Delegated Users from last time frame</label>
        <locationX>172</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Audit</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>frmDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>DelegateUser</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SetupAuditTrail</object>
        <outputReference>colSetupAuditTrail</outputReference>
        <queriedFields>Action</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>DelegateUser</queriedFields>
        <queriedFields>Display</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ResponsibleNamespacePrefix</queriedFields>
        <queriedFields>Section</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Update_date_and_time</name>
        <label>Get Last Update date and time</label>
        <locationX>174</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Delegated_Users_from_last_time_frame</targetReference>
        </connector>
        <object>AuditTrailLoginAs__c</object>
        <outputAssignments>
            <assignToReference>frmDateTime</assignToReference>
            <field>Log_Date__c</field>
        </outputAssignments>
        <sortField>Log_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>Get_Last_Update_date_and_time</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAuditTrailLoginAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AuditTrailLoginAs__c</objectType>
    </variables>
    <variables>
        <name>colSetupAuditTrail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SetupAuditTrail</objectType>
    </variables>
    <variables>
        <name>frmDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>sAuditTrailLoginAs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AuditTrailLoginAs__c</objectType>
    </variables>
    <variables>
        <name>sSetupAudit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SetupAuditTrail</objectType>
    </variables>
</Flow>
