force-app/main/default/flows/Trigger_Stored_Payment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>321</locationX>
        <locationY>225</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Output</name>
        <label>Add to Output</label>
        <locationX>630</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>outStoredPayment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sStoredPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Stored_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stored_Payment</name>
        <label>Assign Stored Payment</label>
        <locationX>492</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>sStoredPayment.ccrz__Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>999.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DaysAhead</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records</label>
        <locationX>313</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colStoredPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Stored_Payment</targetReference>
            </connector>
            <label>isFound</label>
        </rules>
    </decisions>
    <description>Triggers Stored Payment Records to Refund Credit Balance</description>
    <formulas>
        <name>fHoldDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!DaysAhead}</expression>
    </formulas>
    <interviewLabel>Trigger Stored Payment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Stored Payment Records</label>
    <loops>
        <name>Loop_through_Stored_Payment</name>
        <label>Loop through Stored Payment</label>
        <locationX>488</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>sStoredPayment</assignNextValueToReference>
        <collectionReference>colStoredPayment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Stored_Payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Trigger_CB_Stored_Payment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Stored_Payment_Records</name>
        <label>Get Stored Payment Records</label>
        <locationX>170</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
        <filters>
            <field>Remaining_PO_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__AccountType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cb</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fHoldDays</elementReference>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <outputReference>colStoredPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Sequence__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_CB_Stored_Payment_Records</name>
        <label>Trigger CB Stored Payment Records</label>
        <locationX>820</locationX>
        <locationY>53</locationY>
        <inputReference>outStoredPayment</inputReference>
    </recordUpdates>
    <startElementReference>Get_Stored_Payment_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>colStoredPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_StoredPayment__c</objectType>
    </variables>
    <variables>
        <name>outStoredPayment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_StoredPayment__c</objectType>
    </variables>
    <variables>
        <name>sStoredPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_StoredPayment__c</objectType>
    </variables>
</Flow>
