force-app/main/default/flows/Update_Account_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Account_for_Write</name>
        <label>Set Account for Write</label>
        <locationX>478</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>sAccount.ccrz__E_AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccountGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <description>Update the Account Groups</description>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Groups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Account Record</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>333</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_for_Write</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmAccount</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__E_AccountGroup__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Group_ID</name>
        <label>Get Account Group ID</label>
        <locationX>187</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmAccountGroup</elementReference>
            </value>
        </filters>
        <object>ccrz__E_AccountGroup__c</object>
        <outputReference>sAccountGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__AccountGroupID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>625</locationX>
        <locationY>50</locationY>
        <inputReference>sAccount</inputReference>
    </recordUpdates>
    <startElementReference>Get_Account_Group_ID</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account ID</description>
        <name>frmAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmAccountGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sAccountGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_AccountGroup__c</objectType>
    </variables>
</Flow>
