force-app/main/default/flows/Update_Instructor_or_Partner_Profile_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Appinium_LMS_Instructor_Flag_to_True</name>
        <label>Set Appinium LMS Instructor Flag to True</label>
        <locationX>789</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>sUser.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oProfileID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_Appinium_to_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instructor_Profile_ID</name>
        <label>Set Instructor Profile ID</label>
        <locationX>365</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>oProfileID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cInstructorProfileID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Profile_ID</name>
        <label>Set Partner Profile ID</label>
        <locationX>366</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>oProfileID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cPartnerProfileID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_User_Record</name>
        <label>Found User Record</label>
        <locationX>616</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appinium_LMS_Instructor_Flag_to_True</targetReference>
            </connector>
            <label>Found Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Profile_to_Set</name>
        <label>Type of Profile to Set</label>
        <locationX>243</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Set_Instructor_Profile_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Instructor</defaultConnectorLabel>
        <rules>
            <name>Set_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner_Profile_ID</targetReference>
            </connector>
            <label>Set Partner</label>
        </rules>
    </decisions>
    <description>Updates the User profile to Instructor or Partner</description>
    <interviewLabel>Update Instructor or Partner Profile ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Instructor or Partner Profile ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Instructor Profile ID from Profile Object</description>
        <name>Get_Instructor_Profile_ID</name>
        <label>Get Instructor Profile ID</label>
        <locationX>149</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Profile_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SB PHSS-IC-Community Plus Login</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>cInstructorProfileID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Profile ID for the Partner</description>
        <name>Get_Partner_Profile_ID</name>
        <label>Get Partner Profile ID</label>
        <locationX>140</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Profile_to_Set</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SB PHSS-Partner-Community Plus Login</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>cPartnerProfileID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>496</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_User_Record</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>sUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sUser.Is_Appinium_Instructor__c</assignToReference>
            <field>Is_Appinium_Instructor__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Is_Appinium_to_True</name>
        <label>Set Is Appinium to True</label>
        <locationX>982</locationX>
        <locationY>112</locationY>
        <inputReference>sUser</inputReference>
    </recordUpdates>
    <startElementReference>Get_Instructor_Profile_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>cInstructorProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cPartnerProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Type of Profile to Set</description>
        <name>frmType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Instructor</stringValue>
        </value>
    </variables>
    <variables>
        <description>ProfileID</description>
        <name>oProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
