force-app/main/default/flows/Update_Minor_Item_Supplemental_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Output</name>
        <label>Add to Output</label>
        <locationX>499</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outOrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOutputAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Supp_Info</name>
        <label>Update Supp Info</label>
        <locationX>370</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>sOrderItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSuppInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ready_for_Update</name>
        <label>Ready for Update</label>
        <locationX>482</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOutputAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Items</targetReference>
            </connector>
            <label>Available Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplemental_Status</name>
        <label>Supplemental Status</label>
        <locationX>195</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem.Supplemental_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supp_Info</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <description>Input- frmOrderItem
frmSuppInfo</description>
    <interviewLabel>Update Minor Item Supplemental Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Minor Item Supplemental Information</label>
    <loops>
        <name>Loop_Through_Order_Items</name>
        <label>Loop Through Order Items</label>
        <locationX>367</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>Get_Child_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Supplemental_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ready_for_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Order_Items</name>
        <label>Get Child Order Items</label>
        <locationX>199</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__ParentOrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItem</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Items</name>
        <label>Update Order Items</label>
        <locationX>601</locationX>
        <locationY>62</locationY>
        <inputReference>outOrderItem</inputReference>
    </recordUpdates>
    <startElementReference>Get_Child_Order_Items</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmSuppInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>vOutputAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
